{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Personal details {% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Pelican" %}
{% set pageNotes="Ability for agent to change address" %}

{% block main %}

  <div class="govuk-width-container">
    <div class="column-full">
      {% include "agent/case-manager-review/includes/record-id.html" %}
    <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
</div>
  <main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl">Personal details</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
<h2 class="govuk-tabs__title">
Personal details
</h2>
<ul class="govuk-tabs__list">
<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
<a class="govuk-tabs__tab" href="#claimant">
  Applicant
</a>
</li>
<li class="govuk-tabs__list-item">
<a class="govuk-tabs__tab" href="#health-professionals">
  Health professionals
</a>
</li>
<li class="govuk-tabs__list-item">
<a class="govuk-tabs__tab" href="#support">
  Support and communication
</a>
</li>
<li class="govuk-tabs__list-item">
<a class="govuk-tabs__tab" href="#payment">
  Payment details
</a>
</li>
</ul>
<div class="govuk-tabs__panel" id="claimant" role="tabpanel" aria-labelledby="tab_claimant">

  <h2 class="govuk-heading-m">Application details</h2>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header" width="42%">Identity verified</td>
        <td class="govuk-table__cell">Yes</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header" width="42%">Date of claim</td>
        <td class="govuk-table__cell">20 November 2021</td>
      </tr>
  </tbody></table>

  <h2 class="govuk-heading-m">Personal data</h2>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header" width="42%">National Insurance number</td>
        <td class="govuk-table__cell">NA 11 22 33 C</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Name</td>
        <td class="govuk-table__cell">Jeff Bridges</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Age</td>
        <td class="govuk-table__cell">50</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Date of birth</td>
        <td class="govuk-table__cell">4 June 1972</td>
      </tr>
  </tbody></table>

<h2 class="govuk-heading-m">Contact details</h2>

<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
  </tr><tr class="govuk-table__row">
    <td class="govuk-table__header " width="42%">Home address</td>
    <td class="govuk-table__cell">12 Pearl Street <br>
                                  Bristol  <br>
                                  BS3 4AB<br>
                                  United Kingdom</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Can write to this address</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Correspondence address</td>
    <td class="govuk-table__cell">11 Pearl Street<br>
                                  Bristol  <br>
                                  BS3 4AB<br>
                                  United Kingdom</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Mobile phone number</td>
    <td class="govuk-table__cell">07777 7777777</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Wants text updates about application</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Alternative phone number</td>
    <td class="govuk-table__cell">0777 77777778</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Textphone</td>
    <td class="govuk-table__cell">0777 77777778</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Email address</td>
    <td class="govuk-table__cell">jane.doe72@outlook.com</td>
  </tr>
   <tr class="govuk-table__row">
    <td class="govuk-table__header">Currently in health or care accommodation</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">When they went into health or care accommodation</td>
    <td class="govuk-table__cell">Not applicable</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Health or care accommodation address</td>
    <td class="govuk-table__cell">Not applicable</td>
  </tr>
</tbody>
</table>

<br>

<h2 class="govuk-heading-m">Nationality</h2>
<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Nationality</td>
    <td class="govuk-table__cell">Swiss</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Started living in the UK before 1 January 2021</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Been in the UK for at least 2 of the last 3 years</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Applicant or a family member get pension or benefit from another European Economic Area (EEA) state or Switzerland</td>
    <td class="govuk-table__cell">No</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Applicant or a family member work, pay, or have paid insurance to another European Economic Area (EEA) state or Switzerland</td>
    <td class="govuk-table__cell">No</td>
  </tr>

</tbody>
</table>

</div>
<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="health-professionals">
  <h2 class="govuk-heading-m">Consent</h2>
  <table class="govuk-table">

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" width="42%">Health and care professionals can share information</td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
  </table>
<br>
<h2 class="govuk-heading-m">Health professional 1</h2>
<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Name</td>
    <td class="govuk-table__cell">Dr Camilla Stasiak</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Profession</td>
    <td class="govuk-table__cell">Doctor</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Phone number</td>
    <td class="govuk-table__cell">020 8291 7007</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Address</td>
    <td class="govuk-table__cell">The Vale Medical Centre<br>
                                  195-197 Perry Vale<br>
                                  Forest Hill<br>
                                  London<br>
                                  SE23 2JF<br>
                                  United Kingdom</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Approximate date of last appointment</td>
    <td class="govuk-table__cell">No date given</td>
  </tr>
</tbody>
</table>
<br>
<h2 class="govuk-heading-m">Health professional 2</h2>
<table class="govuk-table">

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Name</td>
    <td class="govuk-table__cell">Mr Ramon Niekrash</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Profession</td>
    <td class="govuk-table__cell">Doctor</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Phone number</td>
    <td class="govuk-table__cell">020 8836 5435</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Address</td>
    <td class="govuk-table__cell">Queen Elizabeth Hospital
    <br>Stadium Rd
    <br>Greenwich
    <br>London
    <br>SE18 4QH
    <br>United Kingdom</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Approximate date of last appointment</td>
    <td class="govuk-table__cell">No date given</td>
  </tr>
</tbody>
</table>

</div>
<div class="govuk-tabs__panel" id="support" role="tabpanel" aria-labelledby="tab_support">
<h2 class="govuk-heading-m">Help and support</h2>
<table class="govuk-table">
<thead class="govuk-table__head"></thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" width="42%">Needs help communicating with us</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Needs help completing forms and understanding letters</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Being helped with this application
</td>
    <td class="govuk-table__cell">Yes</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Name of person helping with this application</td>
    <td class="govuk-table__cell">John Doe</td>
  </tr>
</tbody>
</table>
<br>
<h2 class="govuk-heading-m">Alternative communication format</h2>
    <table class="govuk-table">
    <thead class="govuk-table__head"></thead>
    <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
        <td class="govuk-table__header" width="42%">Needs communications in another format</td>
        <td class="govuk-table__cell">No</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Format do you needed</td>
        <td class="govuk-table__cell">Not applicable</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Format details</td>
        <td class="govuk-table__cell">Not applicable</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Motability Scheme</td>
        <td class="govuk-table__cell">Yes</td>
      </tr>
    </tbody>
    </table>
</div>
<div class="govuk-tabs__panel" id="payment" role="tabpanel" aria-labelledby="tab_payment-details">
  <h2 class="govuk-heading-m">Payment details</h2>
  <table class="govuk-table">
  <thead class="govuk-table__head"></thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" width="42%">Can provide bank, building society or credit union account details</td>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Name on the account</td>
      <td class="govuk-table__cell">Jane Doe</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Sort code
  </td>
      <td class="govuk-table__cell">055333</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Account number</td>
      <td class="govuk-table__cell">00001604</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Building society roll number</td>
      <td class="govuk-table__cell">CXJ-K6 897/98X</td>
    </tr>
  </tbody>
  </table>
</div>

</div>
</div>
</main>
     </div>


{% endblock %}
