{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Supporting documents {% endblock %}

{% block main %}

  <div class="govuk-width-container">
    <div class="column-full">
      {% include "agent/case-manager-review/includes/record-id.html" %}
    <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
</div>
  <main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-xl">Supporting documents</h1>
  <p><a href="#" target="_blank">View supporting documents (opens in new tab)</a>.</p>
  </div></div>
  </main>

     </div>


{% endblock %}
