{% set pageTitle = "How well can you budget?" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>


      {{ govukRadios({
        name: "managingmoney-info",
        fieldset: {
          legend: {
            text: "How well can you budget?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: '
          <p>Select the option that is most relevant to you for more than half of the days in a year.</p>
        '
        },
        items: [
          {
            value: "managingmoney-option-1",
            text: "I can manage complex budgeting decisions unaided",
            checked: checked("managingmoney-info", "Option 1")
          },
          {
            value: "managingmoney-option-2",
            text: "I need prompting or assistance to be able to make complex budgeting decisions",
            checked: checked("managingmoney-info", "Option 2")
          },
          {
            value: "managingmoney-option-3",
            text: "I need prompting or assistance to be able to make simple budgeting decisions",
            checked: checked("managingmoney-info", "Option 3")
          },
          {
            value: "managingmoney-option-4",
            text: " I cannot make any budgeting decisions at all",
            checked: checked("managingmoney-info", "Option 4")
          }
        ]
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    {% include "./_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
