{% block pageTitle %}
GOVUK Change of circumstances
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-margin-top-0 govuk-!-padding-top-0">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Personal Independence Payment (PIP)</h1>

          <aside class="app-mainstream-guide-contents-list" role="complementary">
            <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
              <h2 class="app-contents-list__title">
                Contents
              </h2>
              <ol class="app-contents-list__list">
                <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
                  <a href="./what-pip-is-for">
                    What PIP is for
                  </a>
                </li>
                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./eligibility">
                    Eligibility
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./how-much-youll-get">
                    How much you’ll get
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./how-to-claim">
                    How to claim
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./if-your-pip-claim-is-reviewed">
                    If your PIP claim is reviewed
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                    Change of circumstances
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./claiming-if-you-might-have-12-months-or-less-to-live">
                    Claiming PIP if you might have 12 months or less to live
                  </a>
                </li>
              </ol>
            </nav>
          </aside>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h1 class="govuk-heading-l">Change of circumstances</h1>

        <p>You must contact the Personal Independence Payment (PIP) enquiry line if:<p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your personal details change, for example your name, address or doctor</li>
          <li>the help you need or your condition changes</li>
          <li>your condition has worsened and you’re not expected to live more than 12 months</li>
          <li>you go into hospital or a care home</li>
          <li>you plan to go abroad for more than 4 weeks</li>
          <li>you’re imprisoned or held in detention</li>
          <li>your immigration status has changed, if you’re not a British citizen</li>
        </ul>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            You could be taken to court or have to pay a penalty if you give wrong information or do not report a change in your circumstances.
          </strong>
        </div>

        <h2 class="govuk-heading-m">How to report a change of circumstances</h2>

        <p>Contact the PIP enquiry line to report a change of circumstances.</p>

        <p>Call the ‘PIP enquiry line’.</p>

        <p>If you need someone to help you, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ask for them to be added to your call - you cannot do this if you use textphone</li>
          <li>ask someone else to call on your behalf - you’ll need to be with them when they call</li>
        </ul>

        <div class="govuk-inset-text govuk-inset-text-light">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">PIP enquiry line</h2>
          <ul class="govuk-list govuk-list">
            <li>Telephone: 0800 121 4433</li>
            <li>Textphone: 0800 121 4493</li>
            <li><a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 4433</li>
            <li>British Sign Language (BSL) <a href="#">video relay service</a> if you’re on a computer - find out how to <a href="#">use the service on mobile or tablet</a> </li>
            <li>Monday to Friday, 9am to 5pm</li>
            <li><a href="#">Find out about call charges</a> </li>
          </ul>
        </div>

        <h2 class="govuk-heading-m">If you’ve been paid too much</h2>

        <p>You may have to repay the money if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>did not report a change straight away</li>
          <li>gave wrong information</li>
          <li>were overpaid by mistake</li>
        </ul>

        <p>Find out how to <a href="">repay the money you owe from benefit overpayment</a>.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        {% include "apply-for-pip/govuk/includes/side-nav.html" %}
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- LOWER NAV -->
        <div>

          <nav class="app-pagination" role="navigation" aria-label="Pagination">
            <ul class="app-pagination__list">

              <li class="app-pagination__item app-pagination__item--prevous">
                <a href="./if-your-pip-claim-is-reviewed" class="govuk-link app-pagination__link" rel="Prevous">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Previous
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    If your PIP claim is reviewed
                  </span>
                </a>
              </li>

              <li class="app-pagination__item app-pagination__item--next">
                <a href="./claiming-if-you-might-have-12-months-or-less-to-live" class="govuk-link app-pagination__link" rel="next">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Next
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    Claiming PIP if you might have 12 months or less to live
                  </span>
                </a>
              </li
            </ul>
          </nav>
          {% include "apply-for-pip/govuk/includes/lower-nav.html" %}
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </main>
</div>


<!-- LOWER NAV -->




        </main>

</form>

{% endblock %}
