{% block pageTitle %}
GOVUK How much you'll get
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-margin-top-0 govuk-!-padding-top-0">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Personal Independence Payment (PIP)</h1>

          <aside class="app-mainstream-guide-contents-list" role="complementary">
            <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
              <h2 class="app-contents-list__title">
                Contents
              </h2>
              <ol class="app-contents-list__list">
                <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
                  <a href="./what-pip-is-for">
                    What PIP is for
                  </a>
                </li>
                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./eligibility">
                    Eligibility
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  How much you’ll get
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./how-to-claim">
                    How to claim
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./if-your-pip-claim-is-reviewed">
                    If your PIP claim is reviewed
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./change-of-circumstances">
                    Change of circumstances
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./claiming-if-you-might-have-12-months-or-less-to-live">
                    Claiming PIP if you might have 12 months or less to live
                  </a>
                </li>
              </ol>
            </nav>
          </aside>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h1 class="govuk-heading-l">How much you’ll get</h1>

        <p>How much Personal Independence Payment (PIP) you get depends on how difficult you find:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>everyday activities (‘daily living’ tasks)</li>
          <li>getting around (‘mobility’ tasks)</li>
        </ul>

        <p>Find out what tasks count as daily living and mobility tasks.</p>

        <h2 class="govuk-heading-m">PIP amounts</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"></td>
              <th scope="col" class="govuk-table__header">Lower weekly rate</th>
              <th scope="col" class="govuk-table__header">Higher weekly rate</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Daily living part</th>
              <td class="govuk-table__cell">£72.65</td>
              <td class="govuk-table__cell">£108.55</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Mobility part</th>
              <td class="govuk-table__cell">£28.70</td>
              <td class="govuk-table__cell">£75.75</td>
            </tr>
          </tbody>
        </table>

        <p>PIP is tax free. The amount you get is not affected by your income or savings.</p>

        <div class="govuk-inset-text">
          Tell the Department for Work and Pensions (DWP) straight away if there’s a <a href="./what-pip-is-for">change in your personal circumstances</a> or how your condition affects you.
        </div>

        <h2 class="govuk-heading-m">How you’re paid</h2>

        <p>PIP is usually paid every 4 weeks.</p>

        <p>Your decision letter tells you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the date of your first payment</li>
          <li>what day of the week you’ll usually be paid</li>
          <li>how long you’ll get PIP for</li>
          <li>when and if your claim will be reviewed</li>
        </ul>

        <p>If your payment date is on a bank holiday, you’ll usually be paid before the bank holiday. After that you’ll continue to get paid as normal.</p>

        <p>All benefits, pensions and allowances are paid into your <a href="">bank, building society or credit union account</a>.</p>

        <h2 class="govuk-heading-m">Other help you can get</h2>

        <p>If you get the mobility part of PIP, you might be eligible for a:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Blue Badge </li>
          <li>vehicle tax discount or exemption</li>
          <li>Motability Scheme vehicle, if you get the higher mobility rate of PIP</li>
        </ul>

        <p>If you get either the daily living or mobility part of PIP you’re eligible for a <a href="">Disabled Persons Railcard</a>.</p>

        <p>You may be able to get a discount on Council Tax and local bus travel. <a href="">Contact your local council</a> to check.</p>

        <p>If someone helps to care for you, they may be able to get <a href="">Carer’s Allowance or Carer’s Credit</a>.</p>

        <div class="govuk-inset-text">
          Find out about <a href="">other financial support for people with disabilities or health conditions</a>.
        </div>

        <h2 class="govuk-heading-m">If you get other benefits and PIP</h2>

        <p>You may get a top-up (called a <a href="">disability premium</a>) if you get:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Income Support</li>
          <li>income-based Jobseeker’s Allowance (JSA)</li>
          <li>income-related Employment and Support Allowance (ESA)</li>
          <li>Housing Benefit</li>
        </ul>

        <p>You might get the disability element of <a href="">Working Tax Credit</a> if you’re eligible.</p>

        <p>If you get <a href="">Constant Attendance Allowance</a> you’ll get less of the daily living part of PIP.</p>

        <p>If you get <a href="">War Pensioners’ Mobility Supplement</a> you will not get the mobility part of PIP.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        {% include "apply-for-pip/govuk/includes/side-nav.html" %}
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- LOWER NAV -->
        <div>

          <nav class="app-pagination" role="navigation" aria-label="Pagination">
            <ul class="app-pagination__list">

              <li class="app-pagination__item app-pagination__item--prevous">
                <a href="./eligibility" class="govuk-link app-pagination__link" rel="Prevous">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Previous
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    Eligibility
                  </span>
                </a>
              </li>

              <li class="app-pagination__item app-pagination__item--next">
                <a href="./how-to-claim" class="govuk-link app-pagination__link" rel="next">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Next
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    How to claim
                  </span>
                </a>
              </li
            </ul>
          </nav>
          {% include "apply-for-pip/govuk/includes/lower-nav.html" %}
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </main>
</div>


<!-- LOWER NAV -->




        </main>

</form>

{% endblock %}
