{% block pageTitle %}
GOVUK How to claim PIP
{% endblock %}

{% set pageStatus="As is" %}
{% set pageNotes="A short note about this page..." %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-margin-top-0 govuk-!-padding-top-0">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Personal Independence Payment (PIP)</h1>

          <aside class="app-mainstream-guide-contents-list" role="complementary">
            <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
              <h2 class="app-contents-list__title">
                Contents
              </h2>
              <ol class="app-contents-list__list">
                <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
                  <a href="./what-pip-is-for">
                    What PIP is for
                  </a>
                </li>
                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./eligibility">
                    Eligibility
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./how-much-youll-get">
                    How much you’ll get
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                    How to claim
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./if-your-pip-claim-is-reviewed">
                    If your PIP claim is reviewed
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./change-of-circumstances">
                    Change of circumstances
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./claiming-if-you-might-have-12-months-or-less-to-live">
                    Claiming PIP if you might have 12 months or less to live
                  </a>
                </li>
              </ol>
            </nav>
          </aside>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h1 class="govuk-heading-l">How to claim</h1>
        <p>Before you apply for Personal Independence Payment (PIP), <a href="#">check if you’re eligible</a>.</p>
        <p>Find out <a href="#">how to claim if you live in Northern Ireland</a>.</p>

        <div class="govuk-inset-text">
          If you live in Scotland, you need to apply for <a href="#">Adult Disability Payment (ADP)</a> instead.
        </div>

        <p>To claim PIP, you need to:</p>
        <ol class="govuk-list govuk-list--number">
          <li>Call to start your claim. You’ll then be sent a form that asks about your condition.</li>
          <li>Complete and return the form.</li>
          <li>You might need to have an assessment, if more information is needed.</li>
        </ol>

        <p class="govuk-inset-text">There’s a <a href="#">different way to claim if you might have 6 months or less to live</a>.</p>

        <h2 class="govuk-heading-m">Calling to start your claim</h2>
        <p>Call the ‘PIP new claims’ phone line.</p>

        <p>If you need someone to help you, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ask for them to be added to your call - you cannot do this if you use textphone</li>
          <li>ask someone else to call on your behalf - you’ll need to be with them when they call</li>
        </ul>

        <p>You’ll need to give the following information:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your contact details, for example telephone number</li>
          <li>your date of birth</li>
          <li>your National Insurance number, if you have one (you can find this on letters about tax, pensions and benefits)</li>
          <li>your bank or building society account number and sort code</li>
          <li>your doctor or health worker’s name, address and telephone number</li>
          <li>dates and addresses for any time you’ve spent in a care home or hospital</li>
          <li>dates for any time you spent abroad for more than 4 weeks at a time, and the countries you visited</li>
        </ul>


        <div class="govuk-inset-text govuk-inset-text-light">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">PIP new claims</h2>
          If you live in Scotland, you need to apply for Adult Disability Payment (ADP) instead.
          <ul class="govuk-list govuk-list">
            <li>Telephone: 0800 917 2222</li>
            <li>Textphone: 0800 917 7777</li>
            <li><a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222</li>
            <li>British Sign Language (BSL) <a href="#">video relay service</a> if you’re on a computer - find out how to <a href="#">use the service on mobile or tablet</a> </li>
            <li>Calling from abroad: +44 191 218 7766</li>
            <li>Monday to Friday, 8am to 5pm</li>
            <li><a href="#">Find out about call charges</a> </li>
          </ul>
        </div>

        <div class="govuk-event-banner">
          <div class="govuk-event-banner__content">
            <strong class="govuk-tag govuk-tag--purple">
              E2E vision '24
            </strong>
            <br><br>
            <h2 class="govuk-heading-s">Claimant journey impacted</h2>
            <p class="govuk-body-s">Agents will still be able to handle PIP queries and register claims for PIP on behalf of the claimant. These cases will progress in the legacy systems as they do today.</p>
            <p class="govuk-body-s">Claimant would call an agent to register their claim (PIP1) and complete IDV.</p>
            <p class="govuk-body-s">Once completed, they would be invited to complete the Health information Gather (PIP2) form online. The invite would come via email.</p>
            <p class="govuk-body-s"><a href="/pip-register/signposting-eligibility/service-start-page">View agent journey</a> (for reference - not part of thin slice)</p>
          </div>
        </div>


        <h2 class="govuk-heading-s">Start your claim by post</h2>

        <p>Call the ‘PIP new claims’ phone line.</p>

        <p>You can start a claim by post instead, but it takes longer to get a decision.</p>
        <p>Send a letter to ‘Personal Independence Payment New Claims’.</p>
        <p>You’ll be sent a form asking for your personal information, such as your address and your age. Fill in and return the form.</p>
        <p>You’ll then be sent a form which asks about your disability or condition.</p>

        <div class="govuk-inset-text govuk-inset-text-light">
          Personal Independence Payment New Claims<br>
          Post Handling Site B<br>
          Wolverhampton<br>
          WV99 1AH<br>
        </div>

        <h2 class="govuk-heading-m">Completing and returning the form about your condition</h2>

        <p>You’ll usually get a form called ‘How your disability affects you’ within 2 weeks.</p>
        <p>Fill in the form using the guidance that comes with it, and return it to the address on the form.</p>
        <p>Include supporting documents if you have them - for example, prescription lists, care plans, or information from your doctor or others involved in your care.</p>
        <p>You have 1 month to return it. <a href="#">Contact the PIP enquiry line</a> if you need more time or have questions.</p>
        <p>You can read Citizens Advice’s <a href="#">help on filling in the form.</a> </p>

        <h2 class="govuk-heading-m">Apply online</h2>

        <p>You can only apply for PIP online in some areas. You’ll need to check your postcode when you start your application.</p>

        <p>To start your claim online you’ll need your:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>National Insurance number</li>
          <li>email address</li>
          <li>mobile phone</li>
        </ul>

        <a class="gem-c-button govuk-button govuk-button--start" role="button" data-module="govuk-button" draggable="false" href="../eligibility/eligibility-intro" data-govuk-button-module-started="true"> Apply now <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg></a>

        <div class="govuk-event-banner">
          <div class="govuk-event-banner__content">
            <strong class="govuk-tag govuk-tag--purple">
              E2E vision '24
            </strong>
            <br><br>
            <p class="govuk-body-s">Claimant continues through the self serve journey.</p>
          </div>
        </div>

        <div class="govuk-inset-text">
          <p>If you’ve already registered, you can <a href="../verify/your-details">sign in to your PIP account</a>.</p>
        </div>

        <h2 class="govuk-heading-m">If you need to have an assessment</h2>

        <p>You’ll be invited to an assessment with a health professional if more information is needed. They’ll ask about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how your condition affects your <a href="#">daily living and mobility tasks</a> </li>
          <li>any treatments you’ve had or will have</li>
        </ul>

        <p>They might ask you to do some simple movements to show how you manage some activities.</p>
        <p>The assessment can be in person, over the phone or by video call. It usually takes 1 hour. If your assessment is in person, your invitation letter will explain <a href="#">how to attend your appointment safely</a>.</p>
        <p>You can read Citizens Advice’s help on preparing for an assessment.</p>

        <h2 class="govuk-heading-m">Getting a decision</h2>
        <p>You’ll get a letter that tells you whether you’ll get PIP and the date of your first payment.</p>

        <h2 class="govuk-heading-m">If you disagree with a decision</h2>
        <p>You can <a href="#">challenge a decision</a> about your claim. This is called asking for ‘mandatory reconsideration’.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        {% include "apply-for-pip/govuk/includes/side-nav.html" %}
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- LOWER NAV -->
        <div>

          <nav class="app-pagination" role="navigation" aria-label="Pagination">
            <ul class="app-pagination__list">

              <li class="app-pagination__item app-pagination__item--prevous">
                <a href="./how-much-youll-get" class="govuk-link app-pagination__link" rel="Prevous">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Previous
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    How much you'll get
                  </span>
                </a>
              </li>

              <li class="app-pagination__item app-pagination__item--next">
                <a href="./if-your-pip-claim-is-reviewed" class="govuk-link app-pagination__link" rel="next">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Next
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    If your PIP claim is reviewed
                  </span>
                </a>
              </li
            </ul>
          </nav>
          {% include "apply-for-pip/govuk/includes/lower-nav.html" %}
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </main>
</div>


<!-- LOWER NAV -->




        </main>

</form>

{% endblock %}
