{% block pageTitle %}
GOVUK If your PIP claim is reviewed
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-margin-top-0 govuk-!-padding-top-0">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Personal Independence Payment (PIP)</h1>

          <aside class="app-mainstream-guide-contents-list" role="complementary">
            <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
              <h2 class="app-contents-list__title">
                Contents
              </h2>
              <ol class="app-contents-list__list">
                <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
                  <a href="./what-pip-is-for">
                    What PIP is for
                  </a>
                </li>
                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./eligibility">
                    Eligibility
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./how-much-youll-get">
                    How much you’ll get
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./how-to-claim">
                    How to claim
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  If your PIP claim is reviewed
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./change-of-circumstances">
                    Change of circumstances
                  </a>
                </li>

                <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                  <a href="./claiming-if-you-might-have-12-months-or-less-to-live">
                    Claiming PIP if you might have 12 months or less to live
                  </a>
                </li>
              </ol>
            </nav>
          </aside>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h1 class="govuk-heading-l">If your PIP claim is reviewed</h1>

        <p>The letter you got when your Personal Independence Payment (PIP) was approved will tell you when your claim will end and if it will be reviewed.</p>

        <h2 class="govuk-heading-m">How PIP reviews work</h2>

        <p>You will continue to get PIP while your claim is being reviewed.</p>
        <ol class="govuk-list govuk-list--number">
          <li>You’ll get a letter asking you to fill in a form called ‘Award review - how your disability affects you’.</li>
          <li>Fill in the form using the notes that come with it.</li>
          <li>Send the form and any supporting information you have not shared with the Department for Work and Pensions (DWP) before - the form explains what to include and where to send it. You’ll need to return it within 1 month. <a href="">Contact the PIP enquiry line</a> if you need more time.</li>
          <li>DWP will review your form. If they need more information, an independent health professional might phone you to ask some questions or send a letter inviting you to an assessment. Assessments can be in person, over the phone or by video call.</li>
          <li>You’ll get a letter that tells you what will happen with your PIP. If your needs have changed, your PIP might be increased, reduced or stopped.</li>
        </ol>

        <p class="govuk-inset-text">
          Because of coronavirus (COVID-19), you’ll only be invited to an assessment in person if more information is needed and you cannot do an assessment by phone or video call. Your invitation letter will explain <a href="">how to attend your appointment safely</a>.
        </p>

        <h2 class="govuk-heading-m">If you disagree with a decision</h2>

        <p>You can challenge a decision about your claim. This is called asking for mandatory reconsideration.</p>

      </div>

      <div class="govuk-grid-column-one-third">
        {% include "apply-for-pip/govuk/includes/side-nav.html" %}
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- LOWER NAV -->
        <div>

          <nav class="app-pagination" role="navigation" aria-label="Pagination">
            <ul class="app-pagination__list">

              <li class="app-pagination__item app-pagination__item--prevous">
                <a href="./how-to-claim" class="govuk-link app-pagination__link" rel="Prevous">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Previous
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    How to claim
                  </span>
                </a>
              </li>

              <li class="app-pagination__item app-pagination__item--next">
                <a href="./change-of-circumstances" class="govuk-link app-pagination__link" rel="next">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Next
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    Change of circumstances
                  </span>
                </a>
              </li
            </ul>
          </nav>
          {% include "apply-for-pip/govuk/includes/lower-nav.html" %}
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </main>
</div>


<!-- LOWER NAV -->




        </main>

</form>

{% endblock %}
