{% block pageTitle %}
GOVUK How to claim PIP
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">



  <div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-!-margin-top-0 govuk-!-padding-top-0">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Personal Independence Payment (PIP)</h1>

        <aside class="app-mainstream-guide-contents-list" role="complementary">

          <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
            <h2 class="app-contents-list__title">
              Contents
            </h2>
            <ol class="app-contents-list__list">
              <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
                  What PIP is for
              </li>
              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="./eligibility">
                  Eligibility
                </a>
              </li>

              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="./how-much-youll-get">
                  How much you’ll get
                </a>
              </li>

              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="./how-to-claim">
                  How to claim
                </a>
              </li>

              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="./if-your-pip-claim-is-reviewed">
                  If your PIP claim is reviewed
                </a>
              </li>

              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="./change-of-circumstances">
                  Change of circumstances
                </a>
              </li>

              <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
                <a href="./claiming-if-you-might-have-12-months-or-less-to-live">
                  Claiming PIP if you might have 12 months or less to live
                </a>
              </li>
            </ol>
          </nav>
        </aside>
      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

        <h1 class="govuk-heading-l">What PIP is for</h1>

        <p>Personal Independence Payment (PIP) can help with extra living costs if you have both:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a long-term physical or mental health condition or disability</li>
          <li>difficulty doing certain everyday tasks or getting around because of your condition</li>
        </ul>

        <p>You can get PIP even if you’re working, have savings or are getting most other benefits.</p>

        <p>You can also read about PIP in Welsh (Cymraeg). </p>

        <h2 class="govuk-heading-m">How PIP works</h2>

        <p>There are 2 parts to PIP:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a daily living part - if you need help with everyday tasks</li>
          <li>a mobility part - if you need help with getting around</li>
        </ul>

        <p>Whether you get one or both parts and how much you get depends on how difficult you find everyday tasks and getting around.</p>

        <div class="govuk-inset-text">
          If you might have less than 6 months to live, you’ll automatically get the daily living part. Whether you get the mobility part depends on your needs. Find out how to claim and how much you’ll get if you might have 6 months or less to live.
        </div>

        <h3 class="govuk-heading-s">Daily living part</h3>

        <p>You might get the daily living part of PIP if you need help with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>eating, drinking or preparing food</li>
          <li>washing, bathing and using the toilet</li>
          <li>dressing and undressing</li>
          <li>reading and communicating</li>
          <li>managing your medicines or treatments</li>
          <li>making decisions about money</li>
          <li>socialising and being around other people</li>
        </ul>

        <h3 class="govuk-heading-s">Mobility part</h3>

        <p>You might get the mobility part of PIP if you need help with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>working out a route and following it</li>
          <li>physically moving around</li>
          <li>leaving your home</li>
        </ul>

        <p>You do not have to have a physical disability to get the mobility part. You might also be eligible if you have difficulty getting around because of a cognitive or mental health condition, like anxiety.</p>

        <h3 class="govuk-heading-s">How difficulty with tasks is assessed</h3>

        <p>The Department for Work and Pensions (DWP) will assess how difficult you find daily living and mobility tasks. For each task they’ll look at:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>whether you can do it safely</li>
          <li>how long it takes you</li>
          <li>how often your condition affects this activity</li>
          <li>whether you need help to do it, from a person or using extra equipment</li>
        </ul>

        <div class="govuk-inset-text">Your carer could get <a href="#">Carer’s Allowance</a> if you have substantial caring needs.</div>


        <h2 class="govuk-heading-m">Help with PIP</h2>

        <p>If you need help understanding or applying for PIP you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>get help from <a href="#">Citizens Advice</a> </li>
          <li>watch PIP video guides with <a href="#">British Sign Language</a> </li>
          <li>use easy read guides which explain PIP</li>
        </ul>

        <h2 class="govuk-heading-m">If you live in Scotland</2>

        <p>You need to apply for <a href="#">Adult Disability Payment (ADP)</a> instead of PIP.</p>

        <p>If you currently get PIP, you’ll be automatically moved to ADP by summer 2024.</p>

        <p>When the move begins, you’ll get letters from DWP and Social Security Scotland. <a href="#">Read more about the moving process.</a> </p>

        <h3 class="govuk-heading-s">If you move from Scotland to England or Wales</h3>

        <p>If you get ADP and move from Scotland to England or Wales, you must make a new claim for PIP instead.</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Your ADP will stop 13 weeks after you move – apply for PIP as soon as possible after moving to avoid a gap between payments.
          </strong>
        </div>

        <h2 class="govuk-heading-m">If you get Disability Living Allowance (DLA)</h2>

        <p> <a href="#">Disability Living Allowance (DLA)</a> is being replaced by PIP for most adults. You’ll keep getting DLA if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you’re under 16</li>
          <li>you were born on or before 8 April 1948</li>
        </ul>

        <p>If you were born after 8 April 1948, DWP will invite you to apply for PIP. You do not need to do anything until DWP writes to you about your DLA unless your circumstances change.</p>


      </div>

      <div class="govuk-grid-column-one-third">
        {% include "apply-for-pip/govuk/includes/side-nav.html" %}
      </div>
    </div>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- LOWER NAV -->
        <div>

          <nav class="app-pagination" role="navigation" aria-label="Pagination">
            <ul class="app-pagination__list">

              <li class="app-pagination__item app-pagination__item--next">
                <a href="./eligibility" class="govuk-link app-pagination__link" rel="next">
                  <span class="app-pagination__link-title">
                    <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="app-pagination__link-text">
                      Next
                    </span>
                  </span>
                  <span class="app-pagination__link-divider visually-hidden">:</span>
                  <span class="app-pagination__link-label">
                    Eligibility
                  </span>
                </a>
              </li>
            </ul>
          </nav>
          {% include "apply-for-pip/govuk/includes/lower-nav.html" %}
        </div>

      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </main>
</div>


<!-- LOWER NAV -->




        </main>

</form>

{% endblock %}
