{% set pageTitle = "Referral build" %}

{% set teamName="NCAT - Chaffinch" %}

{% extends "has/includes/layout.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
       Health Assessment Service (HAS)
      </h1>

      <div class="govuk-event-banner">
        <div class="govuk-event-banner__content">
          <strong class="govuk-tag govuk-tag--purple">
            {{ serviceName }}
          </strong>
          <br><br>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Build new referrals</h2>
          <p class="govuk-body-s">This is the start of the health assessment service journey where the Non Clinical Admin Team (NCAT) build new referrals.
          <p class="govuk-body-s">New PIP referrals appear in the 'New referrals' area in HAS. NCAT perform a series of online and offline tasks to build the referrals.
          <p class="govuk-body-s">Team Chaffinch are responsible for certain workflow activities that enables users to navigate to, action and complete these tasks.
          <p class="govuk-body-s">Some of the workflow activities include:</p>
          <ul class="govuk-list govuk-list--bullet govuk-body-s">
            <li>Assigning a new referral to a caseload</li>
            <li>Moving a referral to another caseload</li>
            <li>Changing the status of a referral</li>
            <li>Navigating between caseloads and statuses</li>
            <li>Finding a claimant</li>
          </ul>
          <p class="govuk-body-s">Caseloads are managed at a local level based on where the claim is in the journey, the team, role or individual responsible.</p>
          <p class="govuk-body-s">Once NCAT have built the referral, Health care professionals (HCPs) will review the referral including any supporting evidence that's in the Health Assessment Service (HAS) and the Claimant Management Sheet kept in the claimant Sharepoint folder.</p> 

          <p class="govuk-body-s"><a href="/has/referral-review/intro">Continue to HCP review</a></p>
          <p class="govuk-body-s"><a href="/has/assessment-booking/intro">Skip and view next NCAT activity</a></p>
        </div>
      </div>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
