

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set teamName="Internal User - Pelican" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% set pageStatus="Exploration" %}


{% block header %}
  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
  </div>
  <header class="govuk-header" role="banner" data-module="govuk-header" style="border-bottom: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px; padding-bottom: 10px;">
    <div class="govuk-header__content">
      <a href="/start" class="govuk-header__link govuk-header__service-name">
        PIP Service
      </a>
    </div>
  </div>
  </header>
{% endblock %}

{% block beforeContent %}
{% include "apply-for-pip/includes/phase-banner.html" %}
{% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}


  <!-- <div class="govuk-width-container">
        <ul class="govuk-footer__list">

          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="eject">
              There is an issue with this applciation
            </a>
          </li>

      </div> -->


<div>
  <footer class="govuk-footer govuk-!-margin-top-9" role="contentinfo">


  <div class="govuk-width-container">
        <ul class="govuk-footer__list">

          <!-- <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="/agent-0-8/application-5-about-future">
              Version B
            </a>
          </li> -->

          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="#">
              Accessibility statement
            </a>
          </li>

          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="#">
              Cookies
            </a>
          </li>
        </ul>


      </div>

    </div>




    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          },
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}
