{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-6-award-date-needed-router" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-3/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Is an award review date needed?</h2>


      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "application-6-award-date-needed",
        name: "application-6-award-date-needed",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["application-6-award-date-needed"] == "Yes")
        },
        {
          value: "2",
          text: "No",
          checked: (data["application-6-award-date-needed"] == "No")
        }
        ]
      }) }}





      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
