{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="application-6-letter-review" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-3/record-id.html" %}

      <!------------H1 LEGEND------------>
        {% set dynamicH1 %}
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-2">Enter the award review date
            </h2>
            {% endset %}
      <!------------Legend--------------->


      {{ govukDateInput({
        id: "application-6-award-review-date",
        namePrefix: "application-6-award-review-date",
        fieldset: {
          legend: {
            html: dynamicH1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-2"
          }
        },
        hint: {
          html: ""
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data["application-6-award-review-date-day"]
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data["application-6-award-review-date-month"]
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data["application-6-award-review-date-year"]
          }
        ]
      }) }}




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
