{% extends "layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block header %}
 {% include "explore-header-global-nav-multi.html" %}
{% endblock %}

{% block content %}

<form action="award-dates-payment-check-router" method="post" class="form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-0-3/record-id.html" %}


      {% set legendHint %}

        <p class="govuk-body govuk-!-margin-bottom-2">Selected a review priod: {% include "agent-day-0-1-2/award-dates-review-manual-overwrite.html" %}</p>


        {% endset %}
      <!------------Legend--------------->


    {{ govukRadios({
      idPrefix: "award-dates-payment-check",
      name: "award-dates-payment-check",
      fieldset: {
        legend: {
          html: "Do you need to set a payment end date?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
        }
      },
      hint: {
        html: legendHint
      },
      classes: "govuk-radios",
      items: [
      {
        value: "Yes",
        text: "Yes",
        checked: (data["award-dates-payment-check"] == "Yes")
      },
      {
        value: "No",
        text: "No",
        checked: (data["award-dates-payment-check"] == "No")
      }
      ]
    }) }}

    <!-- {
      value: "None",
      text: "No review period needed",
      checked: (data["award-dates-payment-check"] == "None")
    }, -->


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
