{% if data["application-about-a10-score-overwrite"] == "a1" %}
  Descriptor A: Can manage complex budgeting decisions unaided

{% elif data["application-about-a10-score-overwrite"] == "b2" %}
  Descriptor B: Needs prompting or assistance to be able to make complex budgeting decisions

{% elif data["application-about-a10-score-overwrite"] == "c3" %}
  Descriptor C: Needs prompting or assistance to be able to make simple budgeting decisions

{% elseif data["application-about-a10-score-overwrite"] == "d4" %}
  Descriptor D: Cannot make any budgeting decisions at all

{% else %}
  Blank

{% endif %}
