{% if data["application-about-a6-score-overwrite"] == "a1" %}
  Descriptor A: Can dress and undress unaided

{% elif data["application-about-a6-score-overwrite"] == "b2" %}
  Descriptor B: Needs to use an aid or appliance to be able to dress or undress

{% elif data["application-about-a6-score-overwrite"] == "c3" %}

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">
    Descriptor C: Needs either:

    <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-list--bullet">
      <li>
        prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed; or
      </li>
      <li>
        prompting or assistance to be able to select appropriate clothing
      </li>
    </ul>

{% elseif data["application-about-a6-score-overwrite"] == "d4" %}
  Descriptor D: Needs assistance to be able to dress or undress their lower body

{% elseif data["application-about-a6-score-overwrite"] == "e5" %}
  Descriptor E: Needs assistance to be able to dress or undress their upper body

{% elseif data["application-about-a6-score-overwrite"] == "f6" %}
  Descriptor F: Cannot dress or undress at all

{% else %}
  Blank

{% endif %}
