{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Health assessment report
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-about" method="post" class="form">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  {% include "agent/process-app/record-id.html" %}

            <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Review information and select documents you used</h2>
            <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->
          </div>
        </div>




          <!------------ ––– ------------>



          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Review supplied information</h1>

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="/agent/case-manager-review/personal-details" target="_blank">Registration (PIP1) (opens in new tab)</a></p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="has-report" target="_blank">Health assessment report (opens in new tab)</a></p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="/agent/case-manager-review/supporting-documents" target="_blank">Supporting documents service (opens in new tab)</a></p>


              <h1 class="govuk-heading-m govuk-!-padding-top-4 govuk-!-margin-bottom-0">Select which documents you used</h1>

                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-60-percent"></td>
                        <td class="govuk-table__cell govuk-25-percent"></td>
                        <td class="govuk-table__cell govuk-15-percent"></td>
                      </tr>
                      </thead>

                  <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer">
                        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-5-view-evidence" target="_blank">View and assess supporting documents<br>(Open in a new window)</a></p> -->
                        <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-evidence-used">Select documents (A)</a>
                          {% if data["application-evidence-used"] %}      <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-done" id="X">Done</strong>

                          {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-not-done" id="X">To do</strong>
                          {% endif %}
                        </p>

<br> -->
                        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-6-evidence-used">Select documents</a>
                      </td>
                      <td class="govuk-table__cell table-spacer"></td>
                      <td class="govuk-table__cell table-spacer">
                          {% if data["application-evidence-used"] %}      <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-done" id="X">Done</strong>

                          {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-not-done" id="X">To do</strong>
                          {% endif %}


                      </td>
                      </tr>

        </table>

<br>

  {{ govukButton({
    text: "Go back",
    classes: "govuk-!-margin-bottom-8"
  }) }}

  <p class="govuk-body-s"><a href="/agent/eject-overview">I need to move this claim to PIPCS</a></p>


    </div>
  </div>

</form>

{% endblock %}
