{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="#" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}


      <!-- <h1 class="govuk-heading-m govuk-!-margin-bottom-0">This person will get an Standard / Nil award</h1>

      <h1 class="govuk-body-m govuk-!-margin-bottom-4">They are 64 and will reach State Pension age on 20 February 2025.</h1> -->

      <!-- <h1 class="govuk-body-m govuk-!-margin-bottom-4">Their dOC SPA months before SPA (SPA/SeX50 and 53 date range for Sex)</h1> -->
      <!-- <h1 class="govuk-body-m govuk-!-margin-bottom-4">They are in prision, or in a care come or in or out of holspital  </h1> -->


      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">The assessment report recommends an award review period of 1 year (29 November 2024).</p> -->

      {% set legendHint %}

<p class="govuk-body govuk-!-margin-bottom-2">The person:</p>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
  <li>
    is 65 and will reach State Pension age on 20 February 2025
  </li>
  <li>
    will be awarded the standard rate for daily living
  </li>
  <li>
    will not be awarded for mobility
  </li>
</ul>

        {% endset %}
      <!------------Legend--------------->

      {{ govukRadios({
        idPrefix: "application-5-award-review-check",
        name: "application-5-award-review-check",
        fieldset: {
          legend: {
            html: "Do you agree with the assessment provider’s recommended claim review date of 6 March 2025 (1 year)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
          }
        },
        hint: {
          html: legendHint
        },
        classes: "govuk-radios",
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["application-5-award-review-check"] == "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: (data["application-5-award-review-check"] == "No")
        }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
