    {% extends "agent/process-app/includes/layout.html" %}

    {% block pageTitle %}
      Process a PIP application
    {% endblock %}

    {% block beforeContent %}
      {% include "includes/phase-banner.html" %}
    {% endblock %}

    {% block content %}


    <form action="application-6-about" method="post" class="form">


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">

          {% include "agent/process-app/record-id.html" %}

          <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">

            {% if data["application-5-about-a1"] == "Agree" %}

              Add your reason for selecting Descriptor B (2 points) for preparing food to the decision letter

            {% elif data["application-5-about-a1"] == "Amended" %}

              Add your reason for selecting

              {% if data["application-about-a1-score-overwrite"] == "a1" %}
                <strong>Descriptor A (0 points)</strong>
              {% elif data["application-about-a1-score-overwrite"] == "b2" %}
                <strong>Descriptor B (2 points)</strong>
              {% elif data["application-about-a1-score-overwrite"] == "c3" %}
                <strong>Descriptor C (2 points)</strong>
              {% elseif data["application-about-a1-score-overwrite"] == "d4" %}
                <strong>Descriptor D (2 points)</strong>
              {% elseif data["application-about-a1-score-overwrite"] == "e5" %}
                <strong>Descriptor E (4 points)</strong>
              {% elseif data["application-about-a1-score-overwrite"] == "f6" %}
                <strong>Descriptor F (8 points)</strong>
              {% endif %}

              for preparing food to the decision letter

            {% else %}
            Nowt
            {% endif %}


          </h2>

          <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Add your reason for selecting this descriptor to the decision letter</p> -->

          <!------------CANNED PHRASES LEGEND------------>
            {% set legendCannedDetails %}


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-2">Out of scope</p>


              </div>
              <div class="govuk-grid-column-three-quarters">

                <p class="govuk-list_prase"><span id="prase1">I cannot consider awarding you PIP for any help you need for anything not covered by the daily living or mobility activities, including</span></p>


                <div class="app-example__code">
                    <button class="app-example__copy-code-button" data-copy-text="I cannot consider awarding you PIP for any help you need for anything not covered by the daily living or mobility activities, including" aria-live="assertive" data-module="html">Copy paragraph</button>
                  </div>

              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-2">Assistance and supervision ruled out</p>


              </div>
              <div class="govuk-grid-column-three-quarters">

                <p class="govuk-list_prase"><span id="prase2">A restriction for the use of aids is consistent with your reported difficulties caused by pain. A more significant restriction such as assistance or supervision has been considered, however, there is no evidence of significant accidents that would indicate a safety concern. You have no cognitive, learning, or sensory impairment</span></p>


                <div class="app-example__code">
                    <button class="app-example__copy-code-button" data-copy-text="A restriction for the use of aids is consistent with your reported difficulties caused by pain. A more significant restriction such as assistance or supervision has been considered, however, there is no evidence of significant accidents that would indicate a safety concern. You have no cognitive, learning, or sensory impairment" aria-live="assertive" data-module="html">Copy paragraph</button>
                  </div>

              </div>
            </div>



            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-2">No musculoskeletal condition </p>


              </div>
              <div class="govuk-grid-column-three-quarters">

                <p class="govuk-list_prase"><span id="prase2">You have no musculoskeletal condition to suggest significant restrictions in this activity.</span></p>


                <div class="app-example__code">
                    <button class="app-example__copy-code-button" data-copy-text="You have no musculoskeletal condition to suggest significant restrictions in this activity." aria-live="assertive" data-module="html">Copy paragraph</button>
                  </div>

              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-2">Bending down to use oven (out of scope)</p>


              </div>
              <div class="govuk-grid-column-three-quarters">

                <p class="govuk-list_prase"><span id="prase2">bending down to use an oven at below waist height</span></p>


                <div class="app-example__code">
                    <button class="app-example__copy-code-button" data-copy-text="bending down to use an oven at below waist height" aria-live="assertive" data-module="html">Copy paragraph</button>
                  </div>

              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-2">Agree they can manage</p>

              </div>


              <div class="govuk-grid-column-three-quarters">

                <p class="govuk-list_prase"><span id="prase3">You said you can manage preparing food. I agree you can manage.</span></p>


                <div class="app-example__code">
                    <button class="app-example__copy-code-button" data-copy-text="You said you can manage preparing food. I agree you can manage." aria-live="assertive" data-module="html">Copy paragraph</button>
                  </div>

              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-2">Agree they have difficulties</p>

              </div>


              <div class="govuk-grid-column-three-quarters">

                <p class="govuk-list_prase"><span id="prase4">You said you have difficulties preparing food. I agree you have difficulties.</span></p>


                <div class="app-example__code">
                    <button class="app-example__copy-code-button" data-copy-text="You said you have difficulties preparing food. I agree you have difficulties." aria-live="assertive" data-module="html">Copy paragraph</button>
                  </div>

              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-margin-bottom-2">Disagree</p>

              </div>


              <div class="govuk-grid-column-three-quarters">

                <p class="govuk-list_prase"><span id="prase5">You said you have difficulties preparing food. There is no evidence to suggest this.</span></p>


                <div class="app-example__code">
                    <button class="app-example__copy-code-button" data-copy-text="You said you have difficulties preparing food. There is no evidence to suggest this." aria-live="assertive" data-module="html">Copy paragraph</button>
                  </div>

              </div>
            </div>

            {% endset %}

            {% set legendCanned %}

            {{ govukDetails({
              summaryText: "Standard wording examples",
              classes: "govuk-!-margin-bottom-0",
              html: legendCannedDetails
            }) }}

            {% endset %}
          <!------------Legend--------------->





          {{ govukTextarea({
            name: "application-5-about-a1-reason",
            id: "application-5-about-a1-reason",
            classes: " govukTextarea--overwrite",
            label: {
              text: "",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            hint: {
              html: legendCanned
            },
            value: data["application-5-about-a1-reason"]
          }) }}

          {{ govukButton({
            text: "Continue",
            classes: "govuk-!-margin-bottom-8"
          }) }}

            </div>
          </div>

      </form>

    {% endblock %}
