{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-about" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-2/record-id.html" %}




            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">Which descriptor do you want to select for planning and following journeys?
                  </h2>
                  {% endset %}
            <!------------Legend--------------->


            {{ govukRadios({
              idPrefix: "application-about-a11-score-overwrite",
              name: "application-about-a11-score-overwrite",
              fieldset: {
                legend: {
                  html: dynamicH1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                html: legendNumbers
              },
              classes: "govuk-radios",
              items: [
              {
                value: "a1",
                html: "<strong>Descriptor A (0 points):</strong> Can plan and follow the route of a journey unaided",
                checked: (data["application-about-a11-score-overwrite"] == "0")
              },
              {
                value: "b2",
                html: "<strong>Descriptor B (4 points):</strong> Needs prompting to be able to undertake any journey to avoid overwhelming psychological distress to the claimant",
                checked: (data["application-about-a11-score-overwrite"] == "4")
              },
              {
                value: "c3",
                html: "<strong>Descriptor C (8 points):</strong> Cannot plan the route of a journey",
                checked: (data["application-about-a11-score-overwrite"] == "8")
              },
              {
                value: "d4",
                html: "<strong>Descriptor D (10 points): </strong> Cannot follow the route of an unfamiliar journey without another person, assistance dog or orientation aid.",
                checked: (data["application-about-a11-score-overwrite"] == "10")
              },
              {
                value: "e5",
                html: "<strong>Descriptor E (10 points): </strong> Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant",
                checked: (data["application-about-a11-score-overwrite"] == "10")
              },
              {
                value: "f6",
                html: "<strong>Descriptor F (12 points):</strong> Cannot follow the route of a familiar journey without another person, an assistance dog or an orientation aid.",
                checked: (data["application-about-a11-score-overwrite"] == "12")
              }
              ]
            }) }}


            <br>

            {{ govukTextarea({
              name: "application-about-a11-reason",
              id: "application-about-a11-reason",
              classes: " govukTextarea--overwrite govuk-!-margin-bottom-8",
              label: {
                text: "Justification",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              hint: {
                html: legendCanned
              },
              value: ""
            }) }}


          {{ govukButton({
            text: "Continue"
          }) }}


        </div>
      </div>

  </form>

{% endblock %}
