{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<form action="application-6-letter-review" method="post" class="form">
  {% include "agent-day-0-1-2/includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Edit the standard version of the enhanced/enhanced letter</h1>

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a class="" href="application-1-letter-review" target="">View the letter</a></p> -->


      {{ govukTextarea({
        name: "application-5-letter-edit",
        id: "application-5-letter-edit",
        label: {
          text: "What do you want to add to the letter?",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: ""
        }
      }) }}



        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-bottom-8"
        }) }}


        </div>
      </div>

  </form>

{% endblock %}
