{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Select and justify a descriptor for each activity</h1>

    </div>
  </div>


      <!------------ ––– ------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">


          <table class="govuk-table">

            <h1 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-top-6">Supporting documents</h1>

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"></td>
                <td class="govuk-table__cell govuk-25-percent"></td>
                <td class="govuk-table__cell govuk-15-percent"></td>
              </tr>
              </thead>

          <tr class="govuk-table__row">
              <td class="govuk-table__cell table-spacer">
                <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-5-view-evidence" target="_blank">View and assess supporting documents<br>(Open in a new window)</a></p> -->
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0"><a href="application-6-view-evidence">Review information and select documents used</a></p>

              </td>

              <td class="govuk-table__cell table-spacer"></td>
              <td class="govuk-table__cell table-spacer">

                {% if data["application-evidence-used"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                {% endif %}

              </td>
              </tr>

</table>
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

                            <table class="govuk-table">
                      <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Daily living activities</h1>


                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-66-percent">&nbsp</td>
                    <td class="govuk-table__cell govuk-16-percent">Score</td>
                    <td class="govuk-table__cell govuk-16-percent">Status</td>

                  </tr>
                  </thead>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><a href="application-6-about-a1">Preparing food</a></td>
                    <td class="govuk-table__cell table-spacer">

                    {% if data["application-about-a1-score-overwrite"] %}
                    {% include "agent/process-app/application-about-a1-score-overwrite.html" %}
                    {% else %}
                    2
                    {% endif %}

                    </td>

                    <td class="govuk-table__cell table-spacer">
                      {% if data['application-5-about-a1'] === 'Agree' %}     <strong class="govuk-tag app-task-list__apl-task-done">Agree</strong>
                      {% elseif data['application-5-about-a1'] === 'Amended' %}     <strong class="govuk-tag govuk-tag app-task-list__apl-task-amended">Amended</strong>
                      {% elseif data['application-5-about-a1'] === 'Pause' %}     <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                      {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                      {% endif %}
                    </td>



                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a2-score">Taking nutrition</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a2-score-overwrite"] %}
                        {% include "agent/process-app/application-about-a2-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a2-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>

                      </tr>

                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell table-spacer"><a href="application-6-about-a3-score">Managing therapy or monitoring<br>a health condition</a></td>
                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a3-score-overwrite"] %}
                      {% include "agent/process-app/application-about-a3-score-overwrite.html" %}
                      {% else %}
                      0
                      {% endif %}
                    </td>

                    <td class="govuk-table__cell table-spacer">
                      {% if data["application-about-a3-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                      {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                      {% endif %}
                    </td>

                    </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell table-spacer"><a href="application-6-about-a4-score">Washing and bathing</a></td>
                          <td class="govuk-table__cell table-spacer">
                            {% if data["application-about-a4-score-overwrite"] %}
                            {% include "agent/process-app/application-about-a4-score-overwrite.html" %}
                            {% else %}
                            0
                            {% endif %}
                          </td>

                          <td class="govuk-table__cell table-spacer">
                            {% if data["application-about-a4-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                            {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                            {% endif %}
                          </td>


                          </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a5-score">Managing toilet needs or incontinence</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a5-score-overwrite"] %}
                        {% include "agent/process-app/application-about-a5-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a5-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>

                      </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer"><a href="application-6-about-a6-score">Dressing and undressing</a></td>
                              <td class="govuk-table__cell table-spacer">
                                {% if data["application-about-a6-score-overwrite"] %}
                                {% include "agent/process-app/application-about-a6-score-overwrite.html" %}
                                {% else %}
                                0
                                {% endif %}
                              </td>

                              <td class="govuk-table__cell table-spacer">
                                {% if data["application-about-a6-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                {% endif %}
                              </td>

                              </tr>

                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer"><a href="application-6-about-a7-score">Communicating verbally</a></td>
                                <td class="govuk-table__cell table-spacer">
                                  {% if data["application-about-a7-score-overwrite"] %}
                                  {% include "agent/process-app/application-about-a7-score-overwrite.html" %}
                                  {% else %}
                                  0
                                  {% endif %}
                                </td>

                                <td class="govuk-table__cell table-spacer">
                                  {% if data["application-about-a7-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                  {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                  {% endif %}
                                </td>

                                </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer"><a href="application-6-about-a8-score">Reading and understanding signs,<br>symbols and words</a></td>
                            <td class="govuk-table__cell table-spacer">
                              {% if data["application-about-a8-score-overwrite"] %}
                              {% include "agent/process-app/application-about-a8-score-overwrite.html" %}
                              {% else %}
                              0
                              {% endif %}
                            </td>

                            <td class="govuk-table__cell table-spacer">
                              {% if data["application-about-a8-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                              {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                              {% endif %}
                            </td>

                            </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer"><a href="application-6-about-a9-score">Engaging with other people face to face</a></td>
                              <td class="govuk-table__cell table-spacer">
                                {% if data["application-about-a9-score-overwrite"] %}
                                {% include "agent/process-app/application-about-a9-score-overwrite.html" %}
                                {% else %}
                                0
                                {% endif %}
                              </td>

                              <td class="govuk-table__cell table-spacer">
                                {% if data["application-about-a9-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                {% endif %}
                              </td>

                              </tr>


                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer"><a href="application-6-about-a10-score">Making budgeting decisions</a></td>
                                <td class="govuk-table__cell table-spacer">
                                  {% if data["application-about-a10-score-overwrite"] %}
                                  {% include "agent/process-app/application-about-a10-score-overwrite.html" %}
                                  {% else %}
                                  0
                                  {% endif %}
                                </td>

                                <td class="govuk-table__cell table-spacer">
                                  {% if data["application-about-a10-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                  {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                  {% endif %}
                                </td>

                                </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                              <td class="govuk-table__cell table-spacer"><strong>0</strong>
                              </td>

                              <td class="govuk-table__cell table-spacer">
                                &nbsp
                              </td>

                              </tr>



                            </table>
                            </div>
                            </div>


                            <div class="govuk-grid-row">
                              <div class="govuk-grid-column-three-quarters">

                            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">

                              <table class="govuk-table">

                                <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Mobility activities</h1>

                                <thead class="govuk-table__head">
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-66-percent">&nbsp</td>
                                    <td class="govuk-table__cell govuk-16-percent">Score</td>
                                    <td class="govuk-table__cell govuk-16-percent">Status</td>

                                  </tr>
                                  </thead>

                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell table-spacer"><a href="application-6-about-a11-score">Planning and following journeys</a></td>
                                <td class="govuk-table__cell table-spacer">
                                  {% if data["application-about-a11-score-overwrite"] %}
                                  {% include "agent/process-app/application-about-a11-score-overwrite.html" %}
                                  {% else %}
                                  0
                                  {% endif %}
                                </td>

                                <td class="govuk-table__cell table-spacer">
                                  {% if data["application-about-a11-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                  {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                  {% endif %}
                                </td>
                                </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell table-spacer"><a href="application-6-about-a12-score">Moving around</a></td>
                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a12-score-overwrite"] %}
                        {% include "agent/process-app/application-about-a12-score-overwrite.html" %}
                        {% else %}
                        0
                        {% endif %}
                      </td>

                      <td class="govuk-table__cell table-spacer">
                        {% if data["application-about-a12-score-overwrite"] %}      <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                        {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                        {% endif %}
                      </td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell table-spacer"><strong>Score total</strong></td>
                        <td class="govuk-table__cell table-spacer"><strong>0</strong></td>
                      <td class="govuk-table__cell table-spacer">
                        &nbsp
                      </td>
                        </tr>

                  </table>


                </div>
                </div>



        <!------------ ––– ------------>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

  {% if data["application-about-a12-score-overwrite"] %}

  {% if data["system-application-selector"]  == "1" %}
        <!-- I am Nill award -->

    <h1 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-6">You have selected and justified your descriptors</h1>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">This person will not be awarded PIP.</p>


          {{ govukButton({
          name: "process-c-nil-task-list",
          value: "X",
          checked: (data["X"] == "X"),
          text: "Continue",
          classes: "govuk-!-margin-right-2",
          href: "application-6-letter-review"
          }) }}



          {% else %}


          <!-- I am not nil award -->
  <h1 class="govuk-heading-l govuk-!-margin-top-6 ">You have selected and justified your descriptors</h1>
  <p class="govuk-body govuk-!-font-size-19 ">This person will be awarded PIP.</p>


        {{ govukButton({
        name: "process-c-nil-task-list",
        value: "X",
        checked: (data["X"] == "X"),
        text: "Continue",
        classes: "govuk-!-margin-right-2",
        href: "award-dates-data-input"
        }) }}



    {% endif %}
  {% else %}

  {% endif %}

</div>
</div>




  </form>

{% endblock %}
