{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-about" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-2/record-id.html" %}




            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">Which descriptor do you want to select for making budgeting decisions?
                  </h2>
                  {% endset %}
            <!------------Legend--------------->


            {{ govukRadios({
              idPrefix: "application-about-a10-score-overwrite",
              name: "application-about-a10-score-overwrite",
              fieldset: {
                legend: {
                  html: dynamicH1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                html: legendNumbers
              },
              classes: "govuk-radios",
              items: [
              {
                value: "a1",
                html: "<strong>Descriptor A (0 points):</strong> Can manage complex budgeting decisions unaided",
                checked: (data["application-about-a10-score-overwrite"] == "0")
              },
              {
                value: "b2",
                html: "<strong>Descriptor B (2 points):</strong> Needs prompting or assistance to be able to make complex budgeting decisions",
                checked: (data["application-about-a10-score-overwrite"] == "2")
              },
              {
                value: "c3",
                html: "<strong>Descriptor C (4 points):</strong> Needs prompting or assistance to be able to make simple budgeting decisions",
                checked: (data["application-about-a10-score-overwrite"] == "4")
              },
              {
                value: "d4",
                html: "<strong>Descriptor D (6 points):</strong> Cannot make any budgeting decisions at all",
                checked: (data["application-about-a10-score-overwrite"] == "6")
              }
              ]
            }) }}




<br>

            {{ govukTextarea({
              name: "application-about-a10-reason",
              id: "application-about-a10-reason",
              classes: " govukTextarea--overwrite govuk-!-margin-bottom-8",
              label: {
                text: "Justification",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              hint: {
                html: legendCanned
              },
              value: ""
            }) }}



  {{ govukButton({
    text: "Continue"
  }) }}


        </div>
      </div>

  </form>

{% endblock %}
