{% if data["application-about-a2-score-overwrite"] == "a1" %}
  Descriptor A: Can take nutrition unaided

{% elif data["application-about-a2-score-overwrite"] == "b2" %}

  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">
    Descriptor B: Needs:

    <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-list--bullet">
      <li>
        to use an aid or appliance to be able to take nutrition; or
      </li>
      <li>
        supervision to be able to take nutrition; or
      </li>
      <li>
        assistance to be able to cut up food
      </li>
    </ul>


{% elif data["application-about-a2-score-overwrite"] == "c3" %}
  Descriptor C: Needs a therapeutic source to be able to take nutrition

{% elseif data["application-about-a2-score-overwrite"] == "d4" %}
  Descriptor D: Needs prompting to be able to take nutrition

{% elseif data["application-about-a2-score-overwrite"] == "e5" %}
  Descriptor E: Needs assistance to be able to manage a therapeutic source to take nutrition

{% elseif data["application-about-a2-score-overwrite"] == "f6" %}
  Descriptor F: Cannot convey food and drink to their mouth and needs another person to do so

{% else %}
  Blank
{% endif %}
