{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Starling" %}

{% block content %}

<form action="application-6-about" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-2/record-id.html" %}


            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">Which descriptor do you want to select for dressing and undressing?

                  </h2>
                  {% endset %}
            <!------------Legend--------------->

            <!------------Q3 LEGEND------------>
              {% set dynamicQ3 %}

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">
                <strong>Descriptor C (2 points):</strong> Needs either:

                <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-list--bullet">
                  <li>
                    prompting to be able to dress, undress or determine appropriate circumstances for remaining clothed
                  </li>
                  <li>
                    prompting or assistance to be able to select appropriate clothing
                  </li>
                </ul>

              {% endset %}
            <!------------Legend--------------->


            {{ govukRadios({
              idPrefix: "application-about-a6-score-overwrite",
              name: "application-about-a6-score-overwrite",
              fieldset: {
                legend: {
                  html: dynamicH1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                html: legendNumbers
              },
              classes: "govuk-radios",
              items: [
              {
                value: "a1",
                html: "<strong>Descriptor A (0 points):</strong> Can dress and undress unaided",
                checked: (data["application-about-a6-score-overwrite"] == "0")
              },
              {
                value: "b2",
                html: "<strong>Descriptor B (2 points):</strong> Needs to use an aid or appliance to be able to dress or undress",
                checked: (data["application-about-a6-score-overwrite"] == "2")
              },
              {
                value: "c3",
                html: dynamicQ3,
                checked: (data["application-about-a6-score-overwrite"] == "2")
              },
              {
                value: "d4",
                html: "<strong>Descriptor D (2 points):</strong> Needs assistance to be able to dress or undress their lower body",
                checked: (data["application-about-a6-score-overwrite"] == "2")
              },
              {
                value: "e5",
                html: "<strong>Descriptor E (4 points):</strong> Needs assistance to be able to dress or undress their upper body",
                checked: (data["application-about-a6-score-overwrite"] == "4")
              },
              {
                value: "f6",
                html: "<strong>Descriptor F (8 points):</strong> Cannot dress or undress at all",
                checked: (data["application-about-a6-score-overwrite"] == "8")
              }
              ]
            }) }}




            <br>

            {{ govukTextarea({
              name: "application-about-a6-reason",
              id: "application-about-a6-reason",
              classes: " govukTextarea--overwrite govuk-!-margin-bottom-8",
              label: {
                text: "Justification",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              hint: {
                html: legendCanned
              },
              value: ""
            }) }}


          {{ govukButton({
            text: "Continue"
          }) }}

        </div>
      </div>

  </form>

{% endblock %}
