{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP claim
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-letter-review" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {% include "agent-day-0-1-2/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Check dates and review period</h1>

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">@dave, what are we asking here? </p> -->


<table class="govuk-table govuk-!-margin-bottom-8">

<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <!-- <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-2">Application details</caption> -->

    <th scope="col" class="govuk-table__header govuk-40-percent"></th>
    <th scope="col" class="govuk-table__header govuk-60-percent"></th>
    <th scope="col" class="govuk-table__header govuk-20-percent"></th>

  </tr>
</thead>

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header">Start date</td>
    <td class="govuk-table__cell">{{ data['award-dates-applicaiton-start-date-day'] + ' ' + (data['award-dates-applicaiton-start-date-month'] ) + ' ' + data['award-dates-applicaiton-start-date-year']}}</td>
    <td class="govuk-table__cell"><p class="govuk-!-margin-bottom-0"><a class="" href="award-dates-data-input">Change</a></td>

  </tr>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Assessment report completed date</td>
      <td class="govuk-table__cell">{{ data['award-dates-ap-report-date-day'] + ' ' + (data['award-dates-ap-report-date-month'] ) + ' ' + data['award-dates-ap-report-date-year']}}</td>
      <td class="govuk-table__cell"><p class="govuk-!-margin-bottom-0"><a class="" href="award-dates-data-input">Change</a></td>

    </tr>

  {% if data["award-dates-AP-rec-check"] == "No" %}

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header">Review period</td>
      <td class="govuk-table__cell">{% include "agent-day-0-1-2/award-dates-review-manual-overwrite.html" %}</td>
      <td class="govuk-table__cell"><p class="govuk-!-margin-bottom-0"><a class="" href="award-dates-review-manual">Change</a></td>

    </tr>

    {% else %}

    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__header">Review period</td>
        <td class="govuk-table__cell">{{ data['award-dates-ap-period']}} </td>
        <td class="govuk-table__cell"><p class="govuk-!-margin-bottom-0"><a class="" href="award-dates-AP-rec-check">Change</a></td>

      </tr>


    {% endif %}


<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header">End date</td>

    {% if data["award-dates-AP-rec-check"] == "No" %}

          {% if data["award-dates-review-manual"] == "1y" %}
          <td class="govuk-table__cell">31 December 2025</td>

          {% elif data["award-dates-review-manual"] == "18m" %}
          <td class="govuk-table__cell">1 July 2026</td>

          {% elif data["award-dates-review-manual"] == "2y" %}
          <td class="govuk-table__cell">1 January 2027</td>

            {% elif data["award-dates-review-manual"] == "3y" %}
            <td class="govuk-table__cell">1 January 2028</td>

            {% elif data["award-dates-review-manual"] == "4y" %}
            <td class="govuk-table__cell">1 January 2029</td>

            {% elif data["award-dates-review-manual"] == "5y" %}
            <td class="govuk-table__cell">1 January 2030</td>

            {% elif data["award-dates-review-manual"] == "10y" %}
            <td class="govuk-table__cell">1 January 2035</td>

            {% elif data["award-dates-review-manual"] == "None" %}
            <td class="govuk-table__cell">{{ data['award-dates-payment-date-day'] + ' ' + (data['award-dates-payment-date-month'] | getMonth) + ' ' + data['award-dates-payment-date-year']}}</td>
            <td class="govuk-table__cell"><p class="govuk-!-margin-bottom-0"><a class="" href="award-dates-payment-date">Change</a></td>


            {% elif data["award-dates-review-manual"] == "Indefinite" %}
            <td class="govuk-table__cell">No end date</td>

            {% elif data["award-dates-review-manual"] == "Other" %}
            <td class="govuk-table__cell">Other</td>

            {% else %}
            <td class="govuk-table__cell">1 January 2028!</td>
            {% endif %}


      {% else %}
      <td class="govuk-table__cell">1 January 2028</td>
      {% endif %}
      <td class="govuk-table__cell"><p class="govuk-!-margin-bottom-0"><a class="" href=""></a></td>


  </tr>
</tbody>
</table>

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}


        </div>
      </div>

  </form>

{% endblock %}
