{% if data["award-dates-review-manual"] == "1y" %}
  1 year
{% elif data["award-dates-review-manual"] == "18m" %}
  18 months
{% elif data["award-dates-review-manual"] == "2y" %}
  2 years
{% elif data["award-dates-review-manual"] == "3y" %}
  3 years
{% elseif data["award-dates-review-manual"] == "4y" %}
  4 years
{% elseif data["award-dates-review-manual"] == "5y" %}
  5 years
{% elseif data["award-dates-review-manual"] == "10y" %}
  10 years
{% elseif data["award-dates-review-manual"] == "Indefinite" %}
  Indefinite award with a light touch review in 10 years
{% elseif data["award-dates-review-manual"] == "None" %}
  No award review
{% elseif data["award-dates-review-manual"] == "Other" %}
  Manual value
{% else %}
  0
{% endif %}
