{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Starling" %}

{% block content %}

<form action="#" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-2/record-id.html" %}

      <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {% if data["award-dates-ap-period"] == "No future assessments required" %}
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Do you agree with the assessment provider's recommendation that no future assessments are needed?</h2>

        {% elif data["award-dates-ap-period"] == "Other" %}
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">Do you agree with the assessment provider's recommendation to award until {{ data['award-dates-ap-period-other-day'] + ' ' + (data['award-dates-ap-period-other-month'] ) + ' ' + data['award-dates-ap-period-other-year']}}?</h2>

        {% else %}
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-4"> Do you agree with the assessment provider's recommended award period of {{data["award-dates-ap-period"]}}?</h2>
        {% endif %}
      </h2>

      {% set legendHint %}

        <p class="govuk-body govuk-!-margin-bottom-2">The applicant:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>
            will be awarded the standard rate for daily living
          </li>
          <li>
            will not be awarded for mobility
          </li>
        </ul>

        {% endset %}
      <!------------Legend--------------->

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "award-dates-AP-rec-check",
        name: "award-dates-AP-rec-check",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: legendHint
        },
        items: [
        {
          value: "Yes",
          text: "Yes"

        },
        {
          value: "No",
          text: "No"
        }
        ]
      }) }}




      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
