

<!-- S1 -->
{% if data["application-selector"] == "1"%}

          <!-- S1 L2 -->

          {% if data["find-someone-1-return"] == "Yes" and data["application-selector"] == "3"%}
          {% include "explore-header-global-nav-multi-call.html" %}

          {% elif data["application-selector"] == "1"%}
            {% include "explore-header-global-nav-multi-call.html" %}
          {% else %}
            {% include "explore-header-global-nav-multi.html" %}
          {% endif %}


<!-- S2 -->
{% elif data["application-selector"] == "2"%}

          <!-- S2 L2 -->
          {% if data["find-someone-1-return"] == "Yes" and data["application-selector"] == "2"%}
          {% include "explore-header-global-nav-multi-call.html" %}

          {% elif data["application-selector"] == "2"%}
            {% include "explore-header-global-nav-multi-call-outbound.html" %}
          {% else %}
            {% include "explore-header-global-nav-multi.html" %}
          {% endif %}


<!-- S3 -->
{% elif data["application-selector"] == "3"%}

          <!-- S2 L2 -->
          {% if data["find-someone-1-return"] == "Yes" and data["application-selector"] == "3"%}
          {% include "explore-header-global-nav-multi-call.html" %}

          {% elif data["application-selector"] == "3"%}
            {% include "explore-header-global-nav-multi-call-outbound.html" %}
          {% else %}
            {% include "explore-header-global-nav-multi.html" %}
          {% endif %}

<!-- S4 -->
{% elif data["application-selector"] == "4"%}

          <!-- S2 L2 -->
          {% if data["find-someone-1-return"] == "Yes" and data["application-selector"] == "4"%}
          {% include "explore-header-global-nav-multi-call.html" %}

          {% elif data["application-selector"] == "4"%}
            {% include "explore-header-global-nav-multi-call-outbound.html" %}
          {% else %}
            {% include "explore-header-global-nav-multi.html" %}
          {% endif %}



  <!-- PreCall -->
{% elif data["outbound-precall"] == "Yes" and data["find-someone-1-offline-return"] == "Yes" and data["find-someone-1-return"] == "Yes" %}
    {% include "explore-header-global-nav-multi-call.html" %}

{% elif data["outbound-precall"] == "Yes"%}

      <!-- PreCall L2 -->
        {% if data["find-someone-1-offline-return"] == "Yes"%}
          {% include "explore-header-global-nav-multi-call-outbound.html" %}
        {% else %}
          {% include "explore-header-global-nav-multi.html" %}
      {% endif %}

<!-- Inbound -->
{% elif data["inbound-1-greeting"] == "Yes"%}

        <!-- PreCall L2 -->
        {% if data["inbound-1-greeting"] == "Yes"%}
            {% include "explore-header-global-nav-multi-call.html" %}
        {% else %}
            {% include "explore-header-global-nav-multi.html" %}
        {% endif %}

{% else %}
<!-- Clear -->
{% include "explore-header-global-nav-multi.html" %}

{% endif %}
