<tr class="govuk-table__row">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell table-spacer"><a href="evidence-2">

      {% if data["evidence-2-name"] == "Yes" %}     {{ data["evidence-2-name-overwrite"]}}
      {% else %} Care plan 2022
      {% endif %}
    </a></td>

<td class="govuk-table__cell table-spacer">1 Sept 2022 (1 year 3 months ago)</td>
<td class="govuk-table__cell table-spacer">Yes</td>
<td class="govuk-table__cell table-spacer">Yes</td>

<td class="govuk-table__cell table-spacer">

  {% if data["evidence-2-grade"] == "Good" %}        <strong class="govuk-tag app-task-list__apl-task-done" id="eligibility-completed">Done</strong>
  {% elif data["evidence-2-grade"] == "Bad" %}     <strong class="govuk-tag app-task-list__apl-task-done" id="eligibility-completed">Done</strong>
  {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="X">To do</strong>
  {% endif %}
</td>

</tr>
