<tr class="govuk-table__row">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell table-spacer"><a href="evidence-5">

      {% if data["evidence-5-name"] == "Yes" %}     {{ data["evidence-5-name-overwrite"]}}
      {% else %} Driving licence
      {% endif %}
    </a></td>

<td class="govuk-table__cell table-spacer">Today (3 hours ago)</td>
<td class="govuk-table__cell table-spacer">No</td>
<td class="govuk-table__cell table-spacer">No</td>

<td class="govuk-table__cell table-spacer">

  {% if data["evidence-5-grade"] == "Good" %}        <strong class="govuk-tag app-task-list__apl-task-done" id="eligibility-completed">Done</strong>
  {% elif data["evidence-5-grade"] == "Bad" %}     <strong class="govuk-tag app-task-list__apl-task-done" id="eligibility-completed">Done</strong>
  {% elif data["evidence-5-grade"] == "Remove" %}     <strong class="govuk-tag app-task-list__apl-task-done" id="eligibility-completed">Done</strong>
  {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="X">To do</strong>
  {% endif %}

</td>
</tr>
