{% if data["agent-0-8/evidence-1-grade"] == "Good" %}
    {% include "agent-0-8/evidence-1-status.html" %}
{% elif data["agent-0-8/evidence-1-grade"] == "Bad" %}
{% else %}
    {% include "agent-0-8/evidence-1-status.html" %}
{% endif %}



{% if data["agent-0-8/evidence-2-grade"] == "Good" %}
    {% include "agent-0-8/evidence-2-status.html" %}
{% elif data["agent-0-8/evidence-2-grade"] == "Bad" %}
    {% include "agent-0-8/evidence-2-status.html" %}
{% else %}
    {% include "agent-0-8/evidence-2-status.html" %}
{% endif %}

{% if data["agent-0-8/evidence-3-grade"] == "Good" %}
    {% include "agent-0-8/evidence-3-status.html" %}
{% elif data["agent-0-8/evidence-3-grade"] == "Bad" %}
    {% include "agent-0-8/evidence-3-status.html" %}
{% else %}
    {% include "agent-0-8/evidence-3-status.html" %}
{% endif %}

{% if data["agent-0-8/evidence-4-grade"] == "Good" %}
    {% include "agent-0-8/evidence-4-status.html" %}
{% elif data["agent-0-8/evidence-4-grade"] == "Bad" %}
    {% include "agent-0-8/evidence-4-status.html" %}
{% elif data["agent-0-8/evidence-4-grade"] == "Remove" %}
    {% include "agent-0-8/evidence-5-status.html" %}
{% else %}
    {% include "agent-0-8/evidence-4-status.html" %}
{% endif %}


{% if data["agent-0-8/evidence-5-grade"] == "Good" %}
    {% include "agent-0-8/evidence-5-status.html" %}
{% elif data["agent-0-8/evidence-5-grade"] == "Bad" %}
    {% include "agent-0-8/evidence-5-status.html" %}
{% elif data["agent-0-8/evidence-5-grade"] == "Remove" %}
    {% include "agent-0-8/evidence-5-status.html" %}
{% else %}
    {% include "agent-0-8/evidence-5-status.html" %}
{% endif %}

{% if data["agent-0-8/evidence-6-grade"] == "Good" %}
    {% include "agent-0-8/evidence-6-status.html" %}
{% elif data["agent-0-8/evidence-6-grade"] == "Bad" %}
    {% include "agent-0-8/evidence-6-status.html" %}
{% elif data["agent-0-8/evidence-6-grade"] == "Remove" %}
    {% include "agent-0-8/evidence-6-status.html" %}
{% else %}
    {% include "agent-0-8/evidence-6-status.html" %}
{% endif %}
