{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-5-view-evidence" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent/process-app/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Health information gather (PIP2)</h1>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="evidence-7" target="_blank">You can also view this document in a new tab or window</a></p>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Conditions</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Evidence used</p> -->

          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Condition or disability:</strong> Fibromyalgia
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Approximate start date:</strong> 14 January 2018 (over 6 years ago)
          </p>


          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
            Fake PIP2
          </p>
        <p class="govuk-body govuk-!-margin-bottom-2">
          Fake PIP2
        </p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        Fake PIP2
      </p> -->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <p class="govuk-body govuk-!-margin-bottom-2">
          <strong>Condition or disability:</strong> Anxiety
        </p>
        <p class="govuk-body govuk-!-margin-bottom-2">
          <strong>Approximate start date:</strong> 14 Months ago
        </p>


        <!-- <p class="govuk-body govuk-!-margin-bottom-2">
          Fake PIP2
        </p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        Fake PIP2
      </p>
    <p class="govuk-body govuk-!-margin-bottom-2">
      Fake PIP2
    </p> -->


        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-8">Daily living functional restriction</p>




<div> <!-- A1 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Preparing food</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6"> Does your condition affect you preparing food, or prevent you from doing so? </p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
          I find it increasingly difficult to cook a hot meal due to heavy pans and opening cans.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          Standing for long periods hurts my legs, so I prepare veg sitting down.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          I rely heavily on my partner to do the cooking.
          </p>

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div> <!-- A2 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Taking nutrition</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect you eating and drinking?</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
          On a bad day, I struggle to cut things because it hurts to lift my arms to cut food.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          Opening cheese packets or crisps is always a problem.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          I drink from a little lightweight mug.
          </p>

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<div> <!-- A3 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Managing therapy or <br> monitoring a health condition</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect you managing your treatments?</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
          I have a pill box with my tablets in and an alarm on my phone to remind me, otherwise I would forget. My husband checks I have taken them.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          I go to a chiropractor when I need to. Also, I have a leg message on a weekly basis.
          </p>
          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
          XXXX
          </p> -->

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div> <!-- A4 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Washing and bathing</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect you washing and bathing?</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
          I am able to bathe myself but my husband washes my legs and feet for me on a bad day. He also dries my lower half.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          My husband washes my hair. I struggle to do this myself and it takes over an hour. I don't use a hair dryer as it hurts too much to hold my arms up.
          </p>
          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
          XXXX
          </p> -->

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div> <!-- A5 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Managing toilet needs or incontinence</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect you using the toilet or managing incontinence?</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
          I have fallen a few times due to my legs being unsteady.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          My bathroom is downstairs so it's a bit of a way to go. On these occasions, my husband makes sure I'm ok.
          </p>
          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
          XXXX
          </p> -->

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div> <!-- A6 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Dressing and undressing</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Tell us about difficulties you have dressing and undressing, and how you manage them</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
            On a bad day, I struggle with shoes and other clothes. My clothes feel tight, particularly trousers. I wear PJs most of the time.
          </p>

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div> <!-- A7 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Communicating verbally</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect you talking, listening and understanding?</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
          I can't cope with too many conversations. I can't follow the conversation.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          I tend not to go to many places with too many people and decline offers of family or social events.
          </p>
          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
          XXXX
          </p> -->

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div> <!-- A8 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Reading and understanding<br> signs, symbols and words</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect your ability to read?</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
          Person indicated that their condition does not affect them reading.
          </p>
          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
          I tend not to go to many places with too many people and decline offers of family or social events.
          </p> -->
          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
          XXXX
          </p> -->

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div> <!-- A9 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Engaging with other<br> people face to face</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect you mixing with other people?</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
          As before, I avoid these situations. Too many people make my brain go fuzzy.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
          It completely overwhelms me if I do go. I have to rest for a good couple of days afterwards.
          </p>
          <!-- <p class="govuk-body govuk-!-margin-bottom-2">
          XXXX
          </p> -->

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div> <!-- A10 -->

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Making budgeting decisions</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
          <p class="govuk-body govuk-!-margin-bottom-6">Tell us about the difficulties you have with managing your money</p>


          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Response in application</strong>
          </p>

          <p class="govuk-body govuk-!-margin-bottom-2">
            Person indicated that their condition does not affect them managing their money.
          </p>

        </div>
      </div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-8">Mobility functional restriction</p>


          <div> <!-- A11 -->

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
              <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Planning and<br> following journeys</p>

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                &nbsp
            </div>

            <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

              <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
              <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect you planning and following journeys?</p>


              <p class="govuk-body govuk-!-margin-bottom-2">
                <strong>Response in application</strong>
              </p>

              <p class="govuk-body govuk-!-margin-bottom-2">
              It takes a lot of planning to go out. Where will I park? How long will I stay? Will I be able to walk when I get there? Can I carry anything?
              </p>
              <p class="govuk-body govuk-!-margin-bottom-2">
              If I have to go to two places a few miles apart it causes me stress. Stress to the point where I just come home.
              </p>
              <p class="govuk-body govuk-!-margin-bottom-2">
              I don't go out unless I really have to.
              </p>

            </div>
          </div>

          </div>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <div> <!-- A12 -->

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
                    <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Moving around</p>

                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                      &nbsp
                  </div>

                  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

                    <p class="govuk-body govuk-!-margin-bottom-2"> <strong>Asked in application</strong></p>
                    <p class="govuk-body govuk-!-margin-bottom-6">Does your condition affect you moving around?</p>


                    <p class="govuk-body govuk-!-margin-bottom-2">
                      <strong>Response in application</strong>
                    </p>

                    <p class="govuk-body govuk-!-margin-bottom-2">
                    If I'm having a bad day, I don't go out. In my house, I hold on to things to steady me from falling.
                    </p>
                    <p class="govuk-body govuk-!-margin-bottom-2">
                    If I'm able to walk my small dog, I do small walks and stop a few times.
                    </p>
                    <p class="govuk-body govuk-!-margin-bottom-2">
                    I find road surface much easier than grass or shiny surfaces.
                    </p>

                  </div>
                </div>

          </div>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <br><br><br>




{% set nextAction%}

{{ govukRadios({
  idPrefix: "evidence-6-next-action",
  name: "evidence-6-next-action",
  fieldset: {
    legend: {
      text: "What is the issue?" ,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Yes",
    text: "It needs to be looked at by a SAM",
    checked: (data["evidence-6-next-action"] == "Yes")
  },
  {
    value: "No",
    text: "It needs to be removed",
    checked: (data["evidence-6-next-action"] == "No")
  }
  ]
}) }}


{% endset -%}


{{ govukRadios({
  idPrefix: "evidence-7-grade",
  name: "evidence-7-grade",
  fieldset: {
    legend: {
      text: "Is there an issue with this document?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [

  {
    value: "Remove",
    text: "Yes",
    checked: (data["evidence-7-grade"] == "Remove"),
          conditional: {
            html: nextAction
          }
      },
  {
    value: "Good",
    text: "No",
    checked: (data["evidence-7-grade"] == "Good")
  }
  ]
}) }}


{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}
        </div>
      </div>

  </form>

{% endblock %}
