{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

{% if data["application-1-task-t4"]  === "Pause" or data["application-1-exit-bail-call"] === "bail" or data["application-5-about-a6"] == "Amended" and data["application-5-about-a12"] == "Amended" and data["evidence-3-grade"] %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">My open tasks</h1>

    </div>
  </div>

  {% else %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="login-router" method="post" class="form">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You have no open tasks</h1>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Tasks will only be paused for 2 days before they will<br>be assigned to someone else.</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">You can start <a class="govuk-body govuk-!-font-size-19" href="application-selector">processing a new application</a>.</p>

      </div>
    </div>

  {% endif %}




              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">



            {% if data["application-1-task-t4"]  === "Pause" %}

            <table class="govuk-table">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-20-percent">Date</td>
                <td class="govuk-table__cell govuk-40-percent">Name</td>
                <td class="govuk-table__cell govuk-25-percent">Last action taken</td>
                <td class="govuk-table__cell govuk-15-percent">Status</td>
              </tr>
              </thead>

                                  {% if data["application-1-task-t4"] %}

                                      <tr class="govuk-table__row">
                                        <td class="govuk-table__cell table-spacer"> 25 August 2023</td>
                                        <td class="govuk-table__cell table-spacer"><a href="application-1-tasklist">Jeff Bridges</a></td>
                                        <td class="govuk-table__cell table-spacer"><a href=""></a>Verify details</td>
                                        <td class="govuk-table__cell table-spacer">

                                          {% if data["application-1-task-t4"] == "Done" %}
                                            <strong class="govuk-tag app-task-list__apl-task-done">Done</strong>
                                          {% elif data["application-1-task-t4"]  === "Bad" %}
                                            <strong class="govuk-tag app-task-list__apl-task-bad">Issue</strong>
                                          {% elif data["application-1-task-t4"]  === "Pause" %}
                                            <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                          {% else %}
                                            <strong class="govuk-tag app-task-list__apl-task-not-done" id="eligibility-completed">To do</strong>
                                          {% endif %}

                                        </td>
                                        </tr>
                                      </table>
                                    {% else %}
                                    {% endif %}


          {% elif data["application-5-about-a6"] == "Amended" and data["application-5-about-a12"] == "Amended" and data["evidence-3-grade"] %}

                        <table class="govuk-table">

                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-20-percent">Date</td>
                            <td class="govuk-table__cell govuk-30-percent">Name</td>
                            <td class="govuk-table__cell govuk-20-percent">Type</td>
                            <td class="govuk-table__cell govuk-20-percent">Actions</td>
                          </tr>
                          </thead>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell table-spacer"> 12 Dec 2023</td>
                              <td class="govuk-table__cell table-spacer"><a href="application-5-overview-sam-return">Jeff Bridges</a></td>
                              <td class="govuk-table__cell table-spacer"><a href=""></a>New application</td>
                              <td class="govuk-table__cell table-spacer"><a href=""></a>Reviewed by SAM</td>
                              <!-- <td class="govuk-table__cell table-spacer"><a href=""></a>Ready to complete</td> -->

                              </tr>
                            </table>

                    {% elif data["application-1-exit-bail-call"]  === "bail" %}

                    <table class="govuk-table">

                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-20-percent">Date</td>
                        <td class="govuk-table__cell govuk-40-percent">Name</td>
                        <td class="govuk-table__cell govuk-25-percent">Last action taken</td>
                        <td class="govuk-table__cell govuk-15-percent">Status</td>
                      </tr>
                      </thead>

                                      <tr class="govuk-table__row">
                                        <td class="govuk-table__cell table-spacer"> 25 August 2023</td>
                                        <td class="govuk-table__cell table-spacer"><a href="application-1-tasklist">Jeff Bridges</a></td>
                                        <td class="govuk-table__cell table-spacer"><a href=""></a>Verify details</td>
                                        <td class="govuk-table__cell table-spacer">
                                        <td class="govuk-table__cell table-spacer">
                                            <strong class="govuk-tag app-task-list__apl-task-pause">Paused</strong>
                                        </td>
                                        </tr>
                                      </table>





                      {% else %}


                      {% endif %}



                    </div>
                  </div>
    </form>
{% endblock %}
