{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Check the applicant's details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="#" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" aria-describedby="preparation-tasklist-item-16-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

              <h1 class="govuk-fieldset__heading">
                Do they have a keep customer interactions safe (KCIS) marker on Searchlight?
              </h1>

            </legend>

            <div class="govuk-radios govuk-radios govuk-!-margin-bottom-4" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="preparation-tasklist-item-16" name="preparation-tasklist-item-16" type="radio" value="Unexpected">
                <label class="govuk-label govuk-radios__label" for="preparation-tasklist-item-16">Yes</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="preparation-tasklist-item-16-2" name="preparation-tasklist-item-16" type="radio" value="Expected">
                <label class="govuk-label govuk-radios__label" for="preparation-tasklist-item-16-2">No</label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="preparation-tasklist-item-16-3" name="preparation-tasklist-item-16" type="radio" value="Pause">
                <label class="govuk-label govuk-radios__label" for="preparation-tasklist-item-16-3">I need to come back to this later</label>
              </div>

            </div>

          </fieldset>

        </div>

        <button class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
          Continue
        </button>

    </div>
  </div>






  </form>

{% endblock %}
