{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Starling" %}

{% block content %}

<form action="#" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}




            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              <!-- <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">Which descriptor do you want to select instead of Descriptor B (2 points)?</h2> -->
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
                Is the applicant likely to have daily living restrictions 9 months after 1 January 2024?</h1>
                  {% endset %}
            <!------------Legend--------------->

            {{ govukRadios({
              idPrefix: "qppt-dl-9m-check",
              name: "qppt-dl-9m-check",
              fieldset: {
                legend: {
                  html: dynamicH1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text:"The assessment provider indicated they are likely to have daily living restrictions 9 months after their assessment on undefined undefined undefined."
              },
              classes: "govuk-radios",
              items: [
              {
                value: "Yes",
                html: "Yes"
              },
              {
                value: "EndBefore9",
                html: "No – the restrictions are unlikely to last 9 months"
              }
              ]
            }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        </div>
      </div>

  </form>

{% endblock %}
