
{% if data["system-application-selector"]  == "1" %}

    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application. The person has not been awarded PIP.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}

    {% elif data["system-application-selector"]  == "2" %}


    {% set html %}
    <p class="govuk-body govuk-!-font-size-19">You have successfully processed this application. The person has been awarded PIP.</p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}



  {% else %}

{% endif %}
