{% block pageTitle %}
Check your answers help with applying
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-in-pip1.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Need help to communicate with us
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['additional-support-communicating'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./communicating">
              Change<span class="govuk-visually-hidden"> if you need help communicating</span>
            </a>
          </dd>
        </div> <!-- govuk-summary-list__row -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Need help with forms or letters
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['add-support'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./forms-letters">
              Change<span class="govuk-visually-hidden"> if you need help </span>
            </a>
          </dd>
        </div> <!-- govuk-summary-list__row -->

        {% if data['add-support'] === 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Someone helping you with this claim
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['add-support-help'] }}<br>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./help">
              Change<span class="govuk-visually-hidden"> is someone helping you</span>
            </a>
          </dd>
        </div> <!-- govuk-summary-list__row -->
        {% endif %}

        {% if data['add-support-help'] === 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Helper's name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['add-support-first-name'] }}<br>
            {{ data['add-support-last-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./help-name">
              Change<span class="govuk-visually-hidden"> fisrt name</span>
            </a>
          </dd>
        </div> <!-- govuk-summary-list__row -->
        {% endif %}
      </dl>

      <input type="submit" class="govuk-button" data-module="govuk-button" value="Confirm and save" id="submit">
    </div> <!-- govuk-grid-column-two-thirds-from-desktop -->
  </div> <!-- govuk-grid-row -->

</form>

{% endblock %}
