{% set pageTitle = "Create a password" %}

{% extends "apply-for-pip/includes/layout-signed-out-dth.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" novalidate>

        <h1 class="govuk-heading-xl">Create a password</h1>

        <p>Your password must be 8 characters or more.

        <p>It must at least include:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>one upper case letter</li>
          <li>one lower case letter</li>
          <li>one number</li>
          <li>one special character</li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Which special characters can I use?
            </span>
          </summary>
          <div class="govuk-details__text">
          </div>
        </details>

        {{ govukInput({
          label: {
            text: "Enter password",
            isPageHeading: false
          },
          classes: "govuk-input--width-10",
          id: "password",
          name: "password",
          type: "password",
          classes: "govuk-input--width-20",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Confirm password",
            isPageHeading: false
          },
          classes: "govuk-input--width-10",
          id: "confirm-password",
          name: "confirm-password",
          type: "password",
          classes: "govuk-input--width-20",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
