{% set pageTitle = "Enter your mobile phone number" %}

{% extends "apply-for-pip/includes/layout-signed-out-dth.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="#" method="post" novalidate>

        <h1 class="govuk-heading-xl">Enter your mobile phone number</h1>

        <p>We will send a security code to this number.</p>

        <p>Whenever you sign in to this service we will send a new security code.</p>

        {{ govukInput({
          label: {
            text: "Mobile phone number"
          },
          classes: "govuk-input--width-10",
          id: "mobile",
          name: "mobile",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
