{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Exit application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You've left a task early. Your work is saved.</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">You can return to any task you've started<br>in <a class="" href="home/open-tasks">my open tasks</a>.</p>

    <div class="govuk-button-group ">
      <a href="home/entry" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
        Continue and exit
      </a>
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="history.back()">
        Go back
      </a>
    </div>

  </div>
</div>

{% endblock %}
