{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  My home page
{% endblock %}

{% set pageStatus="Exploration" %}
{% set pageNotes="Additonal requirements and internal tasks needed" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="XXX" method="post" class="form">

        {% include "agent-day-0-1-2/record-notifications.html" %}

        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">You have successfully processed this application. The applicant has been awarded PIP.</p>
          </div>
        </div>

        <p class="govuk-heading-xl govuk-!-margin-bottom-8">My home page</p>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">


        {% if data["request-access"] == "6" %}

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <h2 class="govuk-body govuk-!-font-weight-bold">
                                            {{govukTag({
                                              text: "New",
                                              classes: "govuk-tag--green"
                                            })}} &hairsp;Managing workload</h2>

                    <p class="govuk-!-margin-bottom-1"><a class="govuk-body govuk-!-font-size-19" href="team-lead-team-overview">My team</a></p>
                    <p class="govuk-!-margin-bottom-1"><a class="govuk-body govuk-!-font-size-19" href="#">Approvals</a></p>


                  </div>

                  {% elif data["request-access"] == "7" %}
                          <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                              <h2 class="govuk-body govuk-!-font-weight-bold">
                                                      {{govukTag({
                                                        text: "New",
                                                        classes: "govuk-tag--green"
                                                      })}} &hairsp;Support and assurance</h2>

                              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="open-claims">Review applications in progress</a></p>
                              <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="open-claims">View my open tasks</a></p>


                            </div>


          {% else %}

                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <h2 class="govuk-body govuk-!-font-weight-bold">Processing</h2>

                    {% if data["application-1-task-t4"] == "Pause" %}   <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent/process-app/preparation-overview">Pick up a task</a></p>
                    {% else %}                                          <p class="govuk-!-margin-bottom-2"><a class="ovuk-body govuk-!-font-size-19" href="/agent/prepare-app/application-overview">Prepare an application for an assessment provider</a></p>
                                                                        <p class="govuk-!-margin-bottom-2"><a class="ovuk-body govuk-!-font-size-19" href="/agent/process-app/preparation-overview">Prepare an application for a decision</a></p>

                    {% endif %}



                  <!--<p class="govuk-!-margin-bottom-3"><a class="govuk-body govuk-!-font-size-19" href="cya-1">Process an application (NC)</a></p> -->
                  <p class="govuk-!-margin-bottom-1">


                    {% if data["application-5-about-a6"] == "Amended" and data["application-5-about-a12"] == "Amended" and data["evidence-3-grade"]  %}
                    <p class="govuk-!-margin-bottom-1">
                      {{govukTag({
                          text: "New",
                          classes: "govuk-tag--green"
                        })}} &hairsp;
                         <a class="govuk-body govuk-!-font-size-19" href="open-tasks">View my open tasks</a></p>
                      {% else %}
                      <a class="govuk-body govuk-!-font-size-19" href="open-tasks">View my open tasks</a>

                    {% endif %}


                  </div>


                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <h2 class="govuk-body govuk-!-font-weight-bold">Search</h2>
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent/case-manager-review/find/find-someone">Find a claimant</a></p>
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="/agent/case-manager-review/view/view-all-claims">View all cases</a></p>


                  </div>

                  {% endif %}

                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
                    <!-- <h2 class="govuk-body govuk-!-font-weight-bold">Services</h2>
                    <p class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-!-font-size-19" href="#">View service statistics</a></p> -->

                  </div>
                </div>





  <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-1" class="govuk-link" rel="noreferrer noopener">Weekly</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-2" class="govuk-link" rel="noreferrer noopener">Monthy</a></p>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="process-c-nil-task-4-3" class="govuk-link" rel="noreferrer noopener">Annual</a></p> -->

</form>

<div class="govuk-event-banner">
  <div class="govuk-event-banner__content">
    <strong class="govuk-tag govuk-tag--purple">
      E2E vision '24
    </strong>
    <br><br>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Work in progress</h2>
    <p class="govuk-body-s">Work to explore how the home page can expand beyond decide and become an agent hub for all required activities above such as, viewing tasks, viewiing a claim timeline, logging events, searching and viewing a holisitc view of a claim, etc.</p>
    <p class="govuk-body-s">Case Manager Review (CMR) will be accesessable where appropriate and relevant. <a href="/agent/case-manager-review/personal-details">View CMR</a></p>
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">E2E journey</h2>
    <p class="govuk-body-s">If you are following the end-to-end flow then the next part of the journey on receiving an assessment report van be viewed under "Process a claim (decision)".</p>
  </div>
</div>

{% endblock %}
