{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Moving this application to PIPCS
{% endblock %}

{% set pageStatus="Work in progress" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}


<form action="/agent/case-manager-review/event-history/add-an-event" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Moving this claim to PIPCS</h1>
      <p class="govuk-body-l">Select 'Identified need to move to PIPCS’ in event history to complete this action.</p>

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-4"
      }) }}

    </div>
  </div>

</form>

{% endblock %}
