{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  You are moving this application to PIPCS
{% endblock %}

{% set pageStatus="Work in progress" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}


    <form action="/agent/home/entry" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}

      {% if (data["assurance-outcome"] == "BAU") %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Moving this application to PIPCS</h1>
      <p class="govuk-body">Select 'Move this application to PIPCS' in event history to complete this action</p>

      {% elseif (data["assurance-outcome"] == "Disallow") %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Disallowing this application</h1>
      <p class="govuk-body">Select ‘Disallow application’ in event history to complete this action.</p>

      {% elseif (data["assurance-outcome"] == "Withdraw") %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Withdrawing this application</h1>
      <p class="govuk-body">Select ‘Withdraw application’ in event history to complete this action.</p>

      {% endif %}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-4"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
