{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Prepare a claim for an assessment provider
{% endblock %}


{% block content %}

<form action="#" method="post" class="form">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
              <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Mandatory reconsideration decision summary</h1>

      <table class="govuk-table govuk-!-margin-bottom-8">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Personal Independence status</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell">Decision made: In payment</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Outcome</th>
            <td class="govuk-table__cell">
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1">Daily living: Standard (X points)</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Mobility: Standard (X points)</p>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Start of application</th>
            <td class="govuk-table__cell">15 March 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award start date</th>
            <td class="govuk-table__cell">16 March 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award review date</th>
            <td class="govuk-table__cell">18 March 2027</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Award end date</th>
            <td class="govuk-table__cell">18 March 2028</td>
          </tr>

        </tbody>
      </table>

      <p class="govuk-heading-l govuk-!-margin-bottom-6">Decision events</p>

      <table class="govuk-table govuk-!-margin-bottom-8">
        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Personal Independence status</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-two-quarters"></th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">


          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">16 March 2024</td>
            <td class="govuk-table__cell">Paying claimant</td>
            <td class="govuk-table__cell "><a class="govuk-aligned-right" href="#" target="">View</a></td>
          </tr>

          <!-- <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">16 March 2024</td>
            <td class="govuk-table__cell">Decision made: In payment</td>
            <td class="govuk-table__cell "><a class="govuk-aligned-right" href="record-applicaion-prep-checks" target="">View</a></td>
          </tr> -->

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">16 March 2024</td>
            <td class="govuk-table__cell">Decision made: In payment</td>
            <td class="govuk-table__cell govuk-aligned-right">
              <ul class="govuk-aligned-right govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Actions<span class="govuk-visually-hidden"></span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> contact details</span></a>
                </li>
              </ul>
              </td>
          </tr>


          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">15 March 2024</td>
            <td class="govuk-table__cell">Mandatory reconsideration requested</td>
                <td class="govuk-table__cell"><a class="govuk-aligned-right" href="#" target="">View</a></td> <!--View HIG details -->
          </tr>


        </tbody>
      </table>


      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">View full event history</a></p>








        </div>


  </form>

{% endblock %}
