<h1 class="govuk-heading-s govuk-!-margin-bottom-2">These are the issues:</h1>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">


  {% if data["assurance-sub-monolith-1-0"] == "Unexpected" %}
  <li>
    Their National Insurance number does not match what we hold in Searchlight
  </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-1"] == "Unexpected" %}
<li>
    Their name does not match what we hold in Searchlight
</li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-2"] == "Unexpected" %}
  <li>
    There is a date of death on Searchlight
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-3"] == "Unexpected" %}
  <li>
    Their address does not match what we hold in Searchlight
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-4"] == "Unexpected" %}
  <li>
    Their date of birth does not match what we hold in Searchlight
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-5"] == "Unexpected" %}
  <li>
    Their nationality does not match what we hold in Searchlight
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-6"] == "Unexpected" %}
  <li>
    This application could be made under Special Rules End of Life (SREL)
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-7"] == "Unexpected" %}
  <li>
    They have a representative or appointee
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-8"] == "Unexpected" %}
  <li>
    They need additional support
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-1-9"] == "Unexpected" %}
  <li>
    They have withdrawn their application
    </li>
  {% else %}{% endif %}

  {% if data["assurance-sub-monolith-1-10"] == "Unexpected" %}
  <li>
    They do not meet the age criteria
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-2-1"] == "Unexpected" %}
  <li>
    They need an alternative format
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-2-2"] == "Unexpected" %}
  <li>
    Debt management have an interest in them
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-2-3"] == "Unexpected" %}
  <li>
    There is evidence of fraud present
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-2-4"] == "Unexpected" %}
  <li>
    They have an unacceptable customer behaviour (UCB) or keep customer interactions safe (KCIS) marker
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-2-5"] == "Unexpected" %}
  <li>
    Their gender does not match what we hold in Searchlight
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-3-1"] == "Unexpected" %}
  <li>
    They are working abroad
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-3-2"] == "Unexpected" %}
  <li>
    They get foreign benefits
    </li>
  {% else %}{% endif %}


  {% if data["assurance-sub-monolith-3-3"] == "Unexpected" %}
  <li>
    They get Disability Living Allowance (DLA)
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-3-4"] == "Unexpected" %}
  <li>
    They get Child Disability Payment (CDP) or Adult Disability Payment (ADP)
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-3-5"] == "Unexpected" %}
  <li>
    They get Armed Forces Personal Independence Payment (AFPIP)
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-3-6"] == "Unexpected" %}
  <li>
    They get War Pensioners' Mobility Supplement (WPMS)
    </li>
  {% else %}{% endif %}



  {% if data["assurance-sub-monolith-3-7"] == "Unexpected" %}
  <li>
    They get Constant Attendance Allowance (CAA)
    </li>
  {% else %}{% endif %}


</ul>
