{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Withdrawal check
{% endblock %}

{% set pageStatus="Work in progress" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}


    <form action="#" method="post" class="form">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}

      <!------------H1 LEGEND------------>
            {% set legendHint %}

            <p class="govuk-body govuk-!-margin-top-2">Check supporting documents for anything that may indicate vulnerability.</p>


            <p class="govuk-body govuk-!-margin-top-2">This could be things like:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>suicidal thoughts</li>
              <li>self-harm</li>
              <li>addiction</li>
            </ul>


          {% endset %}
          <!------------Legend--------------->

          {{ govukRadios({
            idPrefix: "assurance-withdraw-check",
            name: "assurance-withdraw-check",
            fieldset: {
              legend: {
                html: "Is there any evidence to suggest this applicant could be vulnerable?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              html: legendHint
            },
            classes: "govuk-radios",
            items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["assurance-withdraw-check"] == "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: (data["assurance-withdraw-check"] == "No")
            },
            {
              value: "DontKnow",
              text: "I'm not sure",
              checked: (data["assurance-withdraw-check"] == "DontKnow")
            }
            ]
          }) }}



      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}


        </div>
      </div>

  </form>

{% endblock %}
