{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Check details about the claimant
{% endblock %}

{% set pageStatus="Work in progress" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">



        <form action="eligibility-tasks" method="post" class="form">






    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check details about the claimant</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <ol class="app-task-list">
      <li>
        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Checking details from claim and interal</p> -->

  

        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-1-0",
  name: "assurance-sub-monolith-1-0",
  fieldset: {
    legend: {
      html: "Does their National Insurance number match what we hold in Searchlight?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  items: [
  {
    value: "Expected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-1-0"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "No",
    checked: (data["assurance-sub-monolith-1-0"] == "Unexpected")
  }
  ]
}) }}


{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-1-1",
name: "assurance-sub-monolith-1-1",
fieldset: {
legend: {
html: "Does their name match what we hold in Searchlight?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
items: [
{
value: "Expected",
text: "Yes",
checked: (data["assurance-sub-monolith-1-1"] == "Expected")
},
{
value: "Unexpected",
text: "No",
checked: (data["assurance-sub-monolith-1-9"] == "Unexpected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-1-3",
name: "assurance-sub-monolith-1-3",
fieldset: {
legend: {
html: "Does their address match what we hold in Searchlight?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
text: "You can also check the National Insurance Recording System (NIRS)."
},
items: [
{
value: "Expected",
text: "Yes",
checked: (data["assurance-sub-monolith-1-3"] == "Expected")
},
{
value: "Unexpected",
text: "No",
checked: (data["assurance-sub-monolith-1-3"] == "Unexpected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-1-4",
name: "assurance-sub-monolith-1-4",
fieldset: {
legend: {
html: "Does their date of birth match what we hold in Searchlight?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
items: [
{
value: "Expected",
text: "Yes",
checked: (data["assurance-sub-monolith-1-4"] == "Expected")
},
{
value: "Unexpected",
text: "No",
checked: (data["assurance-sub-monolith-1-4"] == "Unexpected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-1-2",
name: "assurance-sub-monolith-1-2",
fieldset: {
legend: {
html: "Is there a date of death on Searchlight?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-1-2"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-1-2"] == "Expected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-1-5",
name: "assurance-sub-monolith-1-5",
fieldset: {
legend: {
html: "Does their nationality match what we hold in Searchlight?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
items: [
{
value: "Expected",
text: "Yes",
checked: (data["assurance-sub-monolith-1-5"] == "Expected")
},
{
value: "Unexpected",
text: "No",
checked: (data["assurance-sub-monolith-1-5"] == "Unexpected")
}
]
}) }}


        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-1-6",
  name: "assurance-sub-monolith-1-6",
  fieldset: {
    legend: {
      html: "Is there any evidence to suggest this claimant could have been made under Special Rules End of Life (SREL)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check supporting documents for an SR1 form."
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-1-6"] == "Unexpected")
  },
  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-1-6"] == "Expected")
  }
  ]
}) }}


          {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-1-7",
  name: "assurance-sub-monolith-1-7",
  fieldset: {
    legend: {
      html: "Do they have a representative or appointee on Searchlight?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-1-7"] == "Unexpected")
  },
  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-1-7"] == "Expected")
  }
  ]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-1-8",
name: "assurance-sub-monolith-1-8",
fieldset: {
legend: {
html: "Have they withdrawn their claim?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
text: "Check event history and supporting documents for a letter requesting their claim to be withdrawn."
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-1-8"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-1-8"] == "Expected")
}
]
}) }}


  {{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-1-9",
name: "assurance-sub-monolith-1-9",
fieldset: {
legend: {
html: "Do they meet the age criteria?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
text: "Check Searchlight."
},
items: [
{
value: "Expected",
text: "Yes",
checked: (data["assurance-sub-monolith-1-9"] == "Expected")
},
{
value: "Unexpected",
text: "No",
checked: (data["assurance-sub-monolith-1-9"] == "Unexpected")
}
]
}) }}


<form action="eligibility-tasks" method="post" class="form">

  {{ govukButton({
    text: "Continue",
    classes: "govuk-!-margin-bottom-8"
  }) }}






        </div>
      </div>

  </form>

{% endblock %}
