{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Check the applicant's details
{% endblock %}

{% set pageStatus="Work in progress" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="/agent/home/entry" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check the applicant's details</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




    </div>
  </div>




    <!------------ ––– ------------>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h2 class="app-task-list__section">
          Review supplied information
        </h2>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-1"><a href="/agent/case-manager-review/personal-details" target="_blank">Registration (PIP1) and health information gather (PIP2)</a></p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="https://supporting-docs-prototype.herokuapp.com/vStarling-award/document-list" target="_blank">Supporting documents</a></p>
        <br>

        <h2 class="app-task-list__section">
          Check application
        </h2>

        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="assurance-tasks" aria-describedby="task-1">
                Provided details and required support
              </a>
            </div>
            <div class="govuk-task-list__status" id="status">
                {% if data["assurance-sub-monolith-1-1"] == "Expected" %}      <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-done" id="X">Done</strong>
                {% elif data["assurance-sub-monolith-1-1"] == "Unexpected" %}     <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-bad" id="X">Issue</strong>
                {% elif data["assurance-sub-monolith-1-1"] == "Blocked" %}     <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-blocked" id="X">Done / PIP2 Missing</strong>
                {% elif data["assurance-sub-monolith-1-1"] == "Pause" %}   <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-pause" id="X">Paused</strong>

                {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-not-done" id="X">To do</strong>
                {% endif %}
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="entitlement-tasks" aria-describedby="task-5">
                Eligibility
              </a>
            </div>
            <div class="govuk-task-list__status" id="status">
                {% if data["assurance-sub-monolith-2-1"] == "Expected" %}      <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-done" id="X">Done</strong>
                {% elif data["assurance-sub-monolith-2-1"] == "Unexpected" %}     <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-bad" id="X">Issue</strong>
                {% elif data["assurance-sub-monolith-2-1"] == "Blocked" %}     <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-blocked" id="X">Done / PIP2 Missing</strong>
                {% elif data["assurance-sub-monolith-2-1"] == "Pause" %}   <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-pause" id="X">Paused</strong>

                {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-not-done" id="X">To do</strong>
                {% endif %}
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="eligibility-tasks" aria-describedby="task-5">
                Entitlement
              </a>
            </div>
            <div class="govuk-task-list__status" id="status">
                {% if data["assurance-sub-monolith-3-1"] == "Expected" %}      <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-done" id="X">Done</strong>
                {% elif data["assurance-sub-monolith-3-1"] == "Unexpected" %}     <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-bad" id="X">Issue</strong>
                {% elif data["assurance-sub-monolith-3-1"] == "Blocked" %}     <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-blocked" id="X">Done / PIP2 Missing</strong>
                {% elif data["assurance-sub-monolith-3-1"] == "Pause" %}   <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-pause" id="X">Paused</strong>

                {% else %}                                            <strong class="govuk-tag app-task-list__apl-task-alignment app-task-list__apl-task-not-done" id="X">To do</strong>
                {% endif %}
            </div>
          </li>
        </ul>

        <!------------ ––– ------------>

    </div>
  </div>




  <div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds">

    {% if data["assurance-sub-monolith-2"] == "Request" %}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You cannot process this application yet</h1>
      <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You need to send the ID verification letter and wait for a response.</p>


      {{ govukButton({
      name: "process-c-nil-task-list",
      value: "X",
      checked: (data["X"] == "X"),
      text: "Continue",
      classes: "govuk-!-margin-right-2",
      href: "entry-home"
      }) }}

    {% elif data["assurance-sub-monolith-1-1"] == "Expected" and data["assurance-sub-monolith-3-1"] == "Expected"%}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">You have checked all details</h1>
<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">This application is ready to go to an assessment provider.</p>


{{ govukButton({
name: "entry-home",
value: "X",
checked: (data["X"] == "X"),
text: "Continue",
classes: "govuk-!-margin-right-2"
}) }}

{% elif data["assurance-sub-monolith-3-1"] == "Blocked" and data["assurance-sub-monolith-2-1"] == "Expected" and data["assurance-sub-monolith-3-1"] == "Blocked"%}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">You have checked all details but the PIP2 is missing</h1>
<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">This application is ready to go to an assessment provider.</p>


{{ govukButton({
name: "entry-home",
value: "X",
checked: (data["X"] == "X"),
text: "Continue",
classes: "govuk-!-margin-right-2"
}) }}



    {% elif data["assurance-sub-monolith-3-1"] == "Unexpected"%}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">You are not able to process<br>this application</h1>
<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You can tell us more about the issue on the next screen.<br>We will then send the application to someone who can resolve this issue.</p>


{{ govukButton({
name: "process-c-nil-task-list",
value: "X",
checked: (data["X"] == "X"),
text: "Continue",
classes: "govuk-!-margin-right-2",
href:"application-1-exit-issue"
}) }}

{% elif data["assurance-sub-monolith-1-1"] == "Unexpected" and data["assurance-sub-monolith-2-1"] == "Expected"%}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2">You are not able to process<br>this application</h1>
<!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
<p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You can tell us more about the issue on the next screen.<br>We will then send the application to someone who can resolve this issue.</p>


{{ govukButton({
name: "process-c-nil-task-list",
value: "X",
checked: (data["X"] == "X"),
text: "Continue",
classes: "govuk-!-margin-right-2",
href:"assurance-exit-issue"
}) }}


    {% elif data["assurance-sub-monolith-2"] == "Pause" %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You have paused processing<br>this application</h1>
    <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This application matches [Good Outcome]</h1> -->
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You need to verify all details before you can continue.<br>We have saved the work you have done so far.</p>


    {{ govukButton({
    name: "process-c-nil-task-list",
    value: "UF",
    checked: (data["process-c-nil-task-list"] == "UF"),
    text: "Exit and continue later",
    classes: "govuk-button--secondary",
    href: "assurance-exit-issue"
    }) }}


    {% else %}


    {% endif %}





        </div>
      </div>

  </form>

{% endblock %}
