{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Check the claimant's details
{% endblock %}

{% set pageStatus="Work in progress" %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <form action="entitlement-tasks" method="post" class="form">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check any potential flags or markers</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <ol class="app-task-list">
      <li>
        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">XXXX.</p> -->

        {{ govukRadios({
        classes: "govuk-radios--small govuk-!-margin-bottom-4",
        idPrefix: "assurance-sub-monolith-2-1",
        name: "assurance-sub-monolith-2-1",
        fieldset: {
        legend: {
        html: "Do they need additional support?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m "
        }
        },
        hint: {
        text: "Check registration (PIP1)."
        },
        items: [
        {
        value: "Unexpected",
        text: "Yes",
        checked: (data["assurance-sub-monolith-2-1"] == "Unexpected")
        },
        {
        value: "Expected",
        text: "No",
        checked: (data["assurance-sub-monolith-2-1"] == "Expected")
        }
        ]
        }) }}


        {{ govukRadios({
        classes: "govuk-radios--small govuk-!-margin-bottom-4",
        idPrefix: "assurance-sub-monolith-2-2",
        name: "assurance-sub-monolith-2-2",
        fieldset: {
        legend: {
        html: "Do they need an alternative format?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m "
        }
        },
        hint: {
        text: "Check registration (PIP1) and Searchlight."
        },
        items: [
        {
        value: "Unexpected",
        text: "Yes",
        checked: (data["assurance-sub-monolith-2-2"] == "Unexpected")
        },
        {
        value: "Expected",
        text: "No",
        checked: (data["assurance-sub-monolith-2-2"] == "Expected")
        }
        ]
        }) }}


        {{ govukRadios({
        classes: "govuk-radios--small govuk-!-margin-bottom-4",
        idPrefix: "assurance-sub-monolith-2-3",
        name: "assurance-sub-monolith-2-3",
        fieldset: {
        legend: {
        html: "Is there evidence of fraud?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m "
        }
        },
        hint: {
        text: "Check Searchlight and event history."
        },
        items: [
        {
        value: "Unexpected",
        text: "Yes",
        checked: (data["assurance-sub-monolith-2-3"] == "Unexpected")
        },
        {
        value: "Expected",
        text: "No",
        checked: (data["assurance-sub-monolith-2-3"] == "Expected")
        }
        ]
        }) }}

        {{ govukRadios({
        classes: "govuk-radios--small govuk-!-margin-bottom-4",
        idPrefix: "assurance-sub-monolith-2-4",
        name: "assurance-sub-monolith-2-4",
        fieldset: {
        legend: {
        html: "Do they have an unacceptable customer behaviour (UCB) or keep customer interactions safe (KCIS) marker on Searchlight?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m "
        }
        },
        items: [
        {
        value: "Unexpected",
        text: "Yes",
        checked: (data["assurance-sub-monolith-2-4"] == "Unexpected")
        },
        {
        value: "Expected",
        text: "No",
        checked: (data["assurance-sub-monolith-2-4"] == "Expected")
        }
        ]
        }) }}


        <!-- TBC
        {{ govukRadios({
        classes: "govuk-radios--small govuk-!-margin-bottom-4",
        idPrefix: "assurance-sub-monolith-2-5",
        name: "assurance-sub-monolith-2-5",
        fieldset: {
        legend: {
        html: "2 Does their gender match what we hold in Searchlight?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m "
        }
        },
        hint: {
        text: "You can also call the claimant if necessary."
        },
        items: [
        {
        value: "Expected",
        text: "Yes",
        checked: (data["assurance-sub-monolith-2-5"] == "Expected")
        },
        {
        value: "Unexpected",
        text: "No",
        checked: (data["assurance-sub-monolith-2-5"] == "Unexpected")
        }
        ]
        }) }} -->




<!--
        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-2-4",
  name: "assurance-sub-monolith-2-4",
  fieldset: {
    legend: {
      html: "Have they returned the health information gather (PIP2)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "If there is no health information gather (PIP2), check the event history for evidence of good cause for not returning it. "
  },
  items: [
  {
    value: "Expected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-2-4"] == "Expected")
  },
  {
    value: "Expected",
    text: "No - but good cause has been accepted for not returning it",
    checked: (data["assurance-sub-monolith-2-4"] == "Expected")
  },
  {
    value: "Blocked",
    text: "No",
    checked: (data["assurance-sub-monolith-2-4"] == "Blocked")
  }
  ]
}) }} -->

        <!-- {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-2-5",
  name: "assurance-sub-monolith-2-5",
  fieldset: {
    legend: {
      html: "Have they attended their assessment?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check assessment provider contact history or event history for evidence of good cause if they have not attended their assessment."
  },
  items: [
  {
    value: "Expected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-2-5"] == "Expected")
  },
  {
    value: "Expected",
    text: "No - but good cause has been accepted for not attending",
    checked: (data["assurance-sub-monolith-2-5"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "No",
    checked: (data["assurance-sub-monolith-2-5"] == "Unexpected")
  }
  ]
}) }} -->



<form action="entitlement-tasks" method="post" class="form">

  {{ govukButton({
    text: "Continue",
    classes: "govuk-!-margin-bottom-8"
  }) }}




        </div>
      </div>

  </form>

{% endblock %}
