{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Check the claimant's details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Starling" %}
{% set pageNotes="New tasklist view coming" %}

{% block content %}

  <div class="govuk-grid-row">


    <form action="assurance-outcome" method="post" class="form">


    <div class="govuk-grid-column-two-thirds">

      {% include "agent/process-app/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-8">Check any benefits or if the applicant is working abroad</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Claim attached is what the citizen submitted using AfPC. Do X Y and Z to check against the following tasks</p> -->




<!-- Post AP
        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-1",
  name: "assurance-sub-monolith-3-1",
  fieldset: {
    legend: {
      html: "Is there anything that may affect payability?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check the health information gather (PIP2)."
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-3-1"] == "Unexpected")
  },
  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-1"] == "Expected")
  },
  {
    value: "Blocked",
    text: "Health information gather (PIP2) has not been returned",
    checked: (data["assurance-sub-monolith-3-1"] == "Blocked")
  }
  ]
}) }} -->

<!-- Post AP
          {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-2",
  name: "assurance-sub-monolith-3-2",
  fieldset: {
    legend: {
      html: "Do they meet the qualifying period and prospective test conditions?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check the health information gather (PIP2)."
  },
  items: [
  {
    value: "Expected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-3-2"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-2"] == "Unexpected")
  },
  {
    value: "Blocked",
    text: "Health information gather (PIP2) has not been returned",
    checked: (data["assurance-sub-monolith-3-2"] == "Blocked")
  }
  ]
}) }} -->

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-3-1",
name: "assurance-sub-monolith-3-1",
fieldset: {
legend: {
html: "Are they working abroad?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
text: "Check registration (PIP1). Call the applicant if necessary. "
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-3-1"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-3-1"] == "Expected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-3-2",
name: "assurance-sub-monolith-3-2",
fieldset: {
legend: {
html: "Do they get any foreign benefits?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
  text: "Check the registration (PIP1). Call the applicant if necessary. "
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-3-2"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-3-2"] == "Expected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-3-3",
name: "assurance-sub-monolith-3-3",
fieldset: {
legend: {
html: "Do they get Disability Living Allowance (DLA)?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
text: "Check Searchlight and CPS."
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-3-3"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-3-3"] == "Expected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-3-4",
name: "assurance-sub-monolith-3-4",
fieldset: {
legend: {
html: "Do they get Child Disability Payment (CDP) or Adult Disability Payment (ADP)?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
text: "Check Searchlight. "
},
items: [
{
value: "Unexpected",
text: "Yes - CDP",
checked: (data["assurance-sub-monolith-3-4"] == "Unexpected")
},
{
value: "Unexpected",
text: "Yes - ADP",
checked: (data["assurance-sub-monolith-3-4"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-3-4"] == "Expected")
}
]
}) }}

{{ govukRadios({
classes: "govuk-radios--small govuk-!-margin-bottom-4",
idPrefix: "assurance-sub-monolith-3-5",
name: "assurance-sub-monolith-3-5",
fieldset: {
legend: {
html: "Do they get Armed Forces Personal Independence Payment (AFPIP)?",
isPageHeading: true,
classes: "govuk-fieldset__legend--m "
}
},
hint: {
  text: "Check Searchlight and contact Veterans UK if necessary."
},
items: [
{
value: "Unexpected",
text: "Yes",
checked: (data["assurance-sub-monolith-3-5"] == "Unexpected")
},
{
value: "Expected",
text: "No",
checked: (data["assurance-sub-monolith-3-5"] == "Expected")
}
]
}) }}


        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-6",
  name: "assurance-sub-monolith-3-6",
  fieldset: {
    legend: {
      html: "Do they get War Pensioners' Mobility Supplement (WPMS)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check Searchlight and email the war pensions team if necessary."
  },
  items: [
    {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-3-6"] == "Unexpected")
  },
  {
    value: "Expected",
    text: "No",
    checked: (data["assurance-sub-monolith-3-6"] == "Expected")
  }
  ]
}) }}

        {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-7",
  name: "assurance-sub-monolith-3-7",
  fieldset: {
    legend: {
      html: "Do they get Constant Attendance Allowance (CAA)?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check Searchlight."
  },
  items: [
  {
    value: "Unexpected",
    text: "Yes",
    checked: (data["assurance-sub-monolith-3-7"] == "Unexpected")
  },
  {
      value: "Expected",
      text: "No",
      checked: (data["assurance-sub-monolith-3-7"] == "Expected")
    }
  ]
}) }}

        <!-- {{ govukRadios({
  classes: "govuk-radios--small govuk-!-margin-bottom-4",
  idPrefix: "assurance-sub-monolith-3-5",
  name: "assurance-sub-monolith-3-5",
  fieldset: {
    legend: {
      html: "Check 5: Action",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m "
    }
  },
  hint: {
    text: "Check details"
  },
  items: [
  {
    value: "Expected",
    text: "Expected",
    checked: (data["assurance-sub-monolith-3-5"] == "Expected")
  },
  {
    value: "Unexpected",
    text: "Unexpected",
    checked: (data["assurance-sub-monolith-3-5"] == "Unexpected")
  }
  ]
}) }} -->


  {{ govukButton({
    text: "Continue",
    classes: "govuk-!-margin-bottom-8"
  }) }}

</form>


        </div>
      </div>



{% endblock %}
