{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Condition 1 {% endblock %}

{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
      <!--  <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong> -->
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>

  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="../personal-details">Personal details</a>
        </li>
        <li>
          <a href="../conditions" class="active" aria-current="section">Conditions</a>
        </li>
        <li>
          <a href="../activities">Activities</a>
        </li>
        <li>
          <a href="../event-history">Event history</a>
        </li>
         <!--
        <li>
          <a href="summary">Questions and answers</a>
        </li> -->
      </ul>
    </nav>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <main class="govuk-main-wrapper " id="main-content" role="main">

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Condition</span>
        Diabetes
   </h1>

<h2 class="govuk-heading-s">Approximate start date</h2>
    <p>14 weeks ago</p>

    <h3 class="govuk-heading-s">Tell us about this condition</h3>

      <p>
        Short paragraph from the claimant about their medication / tablets and the dosage.
        Any treatments you have had, you are currently having or have planned for the future (include private as well as NHS funded treatments).<br> <br>
      </p>
</main>
  </div>
</div>

     </div>


{% endblock %}
