{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Record found {% endblock %}

{% block main %}

<form action="#" method="post" class="form">

<div class="govuk-width-container">

<a href="javascript:history.go(-1)" class="govuk-back-link" style="margin-top: 40px;">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <main class="govuk-main-wrapper " id="main-content" role="main">

    <h1 class="govuk-heading-xl">
        One claimant record found
   </h1>
   <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">Name</th>
        <td class="govuk-table__cell">Jeff Bridges</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National Insurance number</th>
        <td class="govuk-table__cell">NA 11 22 33 C</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Date of birth</th>
        <td class="govuk-table__cell">1 January 1984</td>
      </tr>
    </tbody>
  </table>
   <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Name: <strong>Jeff Bridges</strong></p>
   <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Date of birth: <strong>4 December 1949</strong></p>
   <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">National Insurance Number: <strong>NA 11 22 33 C</strong></p>
 -->

<div class="govuk-form-group" style="margin-top: 40px;">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Is this the correct claimant?
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-person-1" name="right-person" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="right-person-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="right-person-2" name="right-person" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="right-person-2">
          No, search again
        </label>
      </div>
    </div>
  </fieldset>
</div>

{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}

</main>
  </div>
</div>

     </div>
</form>


{% endblock %}
