{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Add an event {% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Pelican" %}

{% block main %}

  <div class="govuk-width-container">
    <div class="column-full">
      {% include "agent/case-manager-review/includes/record-id.html" %}
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="../personal-details">Personal details</a>
        </li>
        <li>
          <a href="../supporting-documents">Supporting documents</a>
        </li>
        <li>
          <a href="../conditions">Conditions or disabilities</a>
        </li>
        <li>
          <a href="../activities">Activities</a>
        </li>
        <li>
          <a href="../event-history" class="active" aria-current="section">Event history</a>
        </li>
        <li>
          <a href="../decision">Decision</a>
        </li>
      </ul>
    </nav>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<br><br><br><br>


<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">

   <form class="form" action="#" method="post">

<div class="govuk-form-group">

 <fieldset class="govuk-fieldset">

   <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
     <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
       Add an event
     </h1>
   </legend>

   <div class="govuk-radios" data-module="govuk-radios">

     <div class="govuk-radios__item">
       <input class="govuk-radios__input" id="add-event" name="add-event" type="radio" value="case-eject">
       <label class="govuk-label govuk-radios__label" for="add-event">
         Identified need to move to PIPCS
       </label>
     </div>

     <div class="govuk-radios__item">
       <input class="govuk-radios__input" id="add-event" name="add-event" type="radio" value="completed-case-eject">
       <label class="govuk-label govuk-radios__label" for="add-event">
         Completed move to PIPCS
       </label>
     </div>

     <div class="govuk-radios__item">
       <input class="govuk-radios__input" id="add-event" name="add-event" type="radio" value="verified-identity">
       <label class="govuk-label govuk-radios__label" for="add-event">
         Verified applicant's identity
       </label>
     </div>

     <div class="govuk-radios__item">
       <input class="govuk-radios__input" id="add-event" name="add-event" type="radio" value="extend-hig">
       <label class="govuk-label govuk-radios__label" for="add-event">
         Extend health information deadline
       </label>
     </div>

     <div class="govuk-radios__item">
       <input class="govuk-radios__input" id="add-event" name="add-event" type="radio" value="other-event">
       <label class="govuk-label govuk-radios__label" for="add-event">
         Other event
       </label>
     </div>




   </div>

 </fieldset>

</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
 Continue
</button>


</form>
</div>
</div>



<br><br>

</div>


{% endblock %}
