{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Add a note {% endblock %}

{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
      <!--  <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong> -->
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>

  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="../personal-details">Personal details</a>
        </li>
        <li>
          <a href="../conditions">Conditions</a>
        </li>
        <li>
          <a href="../activities">Activities</a>
        </li>
        <li>
          <a href="../event-history" class="active" aria-current="section">Event history</a>
        </li>
         <!--
        <li>
          <a href="summary">Questions and answers</a>
        </li> -->
      </ul>
    </nav>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="350">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="with-hint">
      Add a note
    </label>
  </h1>
  <div id="with-hint-hint" class="govuk-hint">
    Enter more information about this event.
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 350 characters
  </div>
</div>

<a href="../event-history" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Confirm and close
</a>

</main>
</div>
</div>

     </div>


{% endblock %}
