{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Eject reason {% endblock %}

{% block main %}

  <div class="govuk-width-container">
    <div class="column-full">
      {% include "agent/case-manager-review/includes/record-id.html" %}
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="../personal-details">Personal details</a>
        </li>
        <li>
          <a href="../supporting-documents">Supporting documents</a>
        </li>
        <li>
          <a href="../conditions">Conditions</a>
        </li>
        <li>
          <a href="../activities">Activities</a>
        </li>
        <li>
          <a href="../event-history" class="active" aria-current="section">Event history</a>
        </li>
         <!--
        <li>
          <a href="summary">Questions and answers</a>
        </li> -->
      </ul>
    </nav>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<main class="govuk-main-wrapper " id="main-content" role="main">





  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Reason for eject
        </h1>
      </legend>
      <div id="changedName-hint" class="govuk-hint">
        Select the reason you want to record for case eject.
      </div>




    <div class="govuk-radios" data-module="govuk-radios">

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-5" name="eventType" type="radio" value="disallow-claim">
        <label class="govuk-label govuk-radios__label" for="eventType-5">
          Change of circumstances
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-5" name="eventType" type="radio" value="withdraw-claim">
        <label class="govuk-label govuk-radios__label" for="eventType-5">
          Error in claimant data gather
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-5" name="eventType" type="radio" value="extend-deadline">
        <label class="govuk-label govuk-radios__label" for="eventType-5">
          Death of claimant
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-5" name="eventType" type="radio" value="passed-idv">
        <label class="govuk-label govuk-radios__label" for="eventType-5">
          Additional support need identified
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-5" name="eventType" type="radio" value="failed-idv">
        <label class="govuk-label govuk-radios__label" for="eventType-5">
          Re-referral request required
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-4" name="eventType" type="radio" value="case-eject">
        <label class="govuk-label govuk-radios__label" for="eventType-4">
          Re-open and extend deadline (for PIP2 return)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-4" name="eventType" type="radio" value="case-eject">
        <label class="govuk-label govuk-radios__label" for="eventType-4">
          Cannot process - OIDV not completed
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-4" name="eventType" type="radio" value="case-eject">
        <label class="govuk-label govuk-radios__label" for="eventType-4">
          Issues with application during pre referral checks
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-4" name="eventType" type="radio" value="case-eject">
        <label class="govuk-label govuk-radios__label" for="eventType-4">
          Issues with application during pre decision checks
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="eventType-7" name="eventType" type="radio" value="other" data-aria-controls="conditional-eventType-7">
        <label class="govuk-label govuk-radios__label" for="eventType-7">
          Other
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-eventType-7">
        <div class="govuk-form-group">
          <label class="govuk-label" for="other-event-type">
            Enter an event type
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="other-event-type" name="otherEventType" type="text">
        </div>
      </div>


    </div>

  </fieldset>

</div>









<a href="add-a-note" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue
</a>

</main>
</div>
</div>

     </div>


{% endblock %}
