<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I am having problems entering my details
    </span>
  </summary>
  <div class="govuk-details__text">
    <h2 class="govuk-heading-m">Contact DWP to start your claim by phone</h2>
    <p>The sooner you do this, the earlier you could set your date of claim and the earlier your payments could begin if you’re awarded PIP.</p>
    <p>Telephone: 0800 917 2222<br>
    Textphone: 0800 917 7777<br>
    <a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
    British Sign Language (BSL) <a href="#">video relay service</a> if you’re on a computer - find out how to <a href="#">use the service on mobile or tablet</a><br>
    Calling from abroad: +44 191 218 7766 <br>
    Monday to Friday, 8am to 5pm<br>
    <!-- Closed on public holidays.<br> -->
    <a href="/call-charges">Find out about call charges</a></p>
  </div>
</details>
