{% block pageTitle %}
What is your postcode?
{% endblock %}

{% extends "apply-for-pip/includes/layout-oidv.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/lang-toggle.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="confirm-your-identity-start" name="">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="event-name">

            <span class="govuk-caption-xl">Check your identity</span>
            What is your postcode?

          </label>
        </h1>

        <div id="event-name-hint" class="govuk-hint">
          For example SW1A 2AA
        </div>

        <input class="govuk-input govuk-input--width-10" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">

      </div>


      <input class="govuk-button " type="submit" value="Continue">

    </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
