{% block pageTitle %}
Which braille format do you need
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-in-pip1.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Which type of sign language do you need?
            </h1>
          </legend>

          <div id="changed-name-hint" class="govuk-hint">
            Select one option
          </div>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-language-type-1" name="sign-language-type" type="radio"
                value="BSL DVD" data-aria-controls="sign-language-type">
              <label class="govuk-label govuk-radios__label" for="sign-language-type-1">
                British Sign Language DVD
              </label>
            </div> <!-- govuk-radios__item -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-language-type-2" name="sign-language-type" type="radio"
                value="BSL MPEG" data-aria-controls="sign-language-type">
              <label class="govuk-label govuk-radios__label" for="sign-language-type-2">
                British Sign Language MPEG
              </label>
            </div> <!-- govuk-radios__item -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-language-type-3" name="sign-language-type" type="radio"
                value="ISL DVD" data-aria-controls="sign-language-type">
              <label class="govuk-label govuk-radios__label" for="sign-language-type-3">
                Irish Sign Language DVD
              </label>
            </div> <!-- govuk-radios__item -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-language-type-4" name="sign-language-type" type="radio"
                value="ISL MPEG" data-aria-controls="sign-language-type">
              <label class="govuk-label govuk-radios__label" for="sign-language-type-4">
                Irish Sign Language MPEG
              </label>
            </div> <!-- govuk-radios__item -->

          </div> <!-- govuk-radios -->
        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
