{% block pageTitle %}
You cannot claim online
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">We are not taking online claims at the moment</h1>

      <p>This is a new service. We are initially testing it with a limited number of people.</p>

      <p>You cannot claim online but you can still claim by telephone or with a paper form.</p>

      <p>Find out <a href="https://www.gov.uk/pip/how-to-claim">how to claim if you live in England or Wales</a></p>

      <p>Find out <a href="https://www.nidirect.gov.uk/articles/personal-independence-payment-pip#toc-4">how to claim if you live in Northern Ireland</a></p>

      <p>If you live in Scotland you need to <a href="https://www.mygov.scot/adult-disability-payment">apply for Adult Disability Payment (ADP)</a> instead.</p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
