{% block pageTitle %}
You cannot claim online for someone else
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Someone can help you to claim online</h1>

      <p>It's ok for someone else to help you to claim if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you are giving the information</li>
        <li>we can contact you about the claim </li>
      </ul>

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
