{% block pageTitle %}
Expected length of difficulties with everyday tasks or getting around
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}


<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby=difficulty-length-hint>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-heading-xl">Do you expect to find it hard to do these things for at least a year from when it started?</h1>
          </legend>

          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="difficulty-length-alt1" name="difficulty-length" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="difficulty-length-alt1">
                 Yes
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="difficulty-length-alt2" name="difficulty-length" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="difficulty-length-alt2">
                   No
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="difficulty-length-alt3" name="difficulty-length" type="radio" value="Not sure">
                  <label class="govuk-label govuk-radios__label" for="difficulty-length-alt3">
                     I'm not sure
                  </label>
                </div> <!-- govuk-radios__item -->
          </div> <!-- govuk-radios govuk-radios -->

        </fieldset>

      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
