{% block pageTitle %}
Everyday tasks and getting around
{% endblock %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}


<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <h1 class="govuk-heading-xl">Everyday tasks and getting around</h1>

        <p>You might get PIP if you find it hard to do certain everyday tasks or get around unaided. This must be due to a long-term physical or mental health condition or disability.</p>

        <p>By everyday tasks or getting around we mean:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>preparing food</li>
          <li>eating and drinking</li>
          <li>managing your treatments</li>
          <li>washing and bathing</li>
          <li>managing toilet needs or incontinence</li>
          <li>dressing and undressing</li>
          <li>talking, listening and understanding</li>
          <li>reading</li>
          <li>mixing with other people</li>
          <li>managing your money</li>
          <li>planning and following journeys</li>
          <li>moving around</li>
        </ul>

        <p>Consider if you can do these things:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>safely</li>
          <!-- <li>to an acceptable standard</li> -->
          <li>as often as reasonably needed</li>
          <li>in a reasonable time</li>
          <li>without help from another person</li>
          <li>without any aids or appliances</li>
        </ul>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What we mean by help from another person
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Help from another person can be:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>physical help</li>
              <li>reminding or encouraging you</li>
              <li>being with you to make sure you're safe</li>
            </ul>
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Examples of aids and appliances
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Aids and appliances are things like:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>walking sticks</li>
              <li>wheelchairs</li>
              <li>modified cutlery</li>
              <li>grab rails</li>
              <li>continence pads</li>
            </ul>
          </div>
        </details>

        <fieldset class="govuk-fieldset" aria-describedby=difficulty-hint>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-heading-l">Can you do all these everyday tasks and get around unaided?</h2>
          </legend>

          <div id="action-hint" class="govuk-hint">
            Unaided means without help from another person and without any aids or appliances.
          </div>

          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="everyday-tasks-1" name="everyday-tasks" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="everyday-tasks-1">
                 Yes, I can do all these things unaided
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="everyday-tasks-2" name="everyday-tasks" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="everyday-tasks-2">
                   No, I find it hard to do at least one of these things unaided
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="everyday-tasks-3" name="everyday-tasks" type="radio" value="Not sure">
                  <label class="govuk-label govuk-radios__label" for="everyday-tasks-3">
                     I'm not sure
                  </label>
                </div> <!-- govuk-radios__item -->
          </div> <!-- govuk-radios govuk-radios -->

        </fieldset>

      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
