{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Add a note {% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Pelican" %}
{% set pageNotes="Reason to carry across" %}

{% block main %}

<!-- <section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jeff Bridges</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">NA 11 22 33 C</dt>
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section> -->

  <div class="govuk-width-container">
    <div class="column-full">
      {% include "agent/case-manager-review/includes/record-id.html" %}

</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<main class="govuk-main-wrapper " id="main-content" role="main">

  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
    <h1 class="govuk-label-wrapper">
      <!-- <span class="govuk-caption-xl">
        <p class="govuk-caption-xl">
          {{ data['reason'] }}
        </p>
      </span> -->
      <label class="govuk-label govuk-label--xl" for="with-hint">
        Add a note
      </label>
    </h1>
  <div id="with-hint-hint" class="govuk-hint">
    Enter more information about this event.
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="10" aria-describedby="with-hint-info with-hint-hint"></textarea>
  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 200 characters
  </div>
</div>

<a href="../event-history" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Confirm and close
</a>

</main>
</div>
</div>

     </div>


{% endblock %}
