{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Eject reason {% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Pelican" %}

{% block main %}

  <div class="govuk-width-container">
    <div class="column-full">
      {% include "agent/case-manager-review/includes/record-id.html" %}
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<br><br><br><br>


 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="./eject-add-a-note" method="post">





<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

      <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
        Why does the application need to move to PIPCS?
      </h1>

    </legend>

    <div id="with-hint-hint" class="govuk-hint">
      If there is more than one reason, you can select other reasons after you add this one.
    </div>


    <div class="govuk-radios" data-module="govuk-radios">







      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason" name="reason" type="radio" value="Additional support needed">
        <label class="govuk-label govuk-radios__label" for="reason">
          Additional support needed
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-2" name="reason" type="radio" value="Alternative format needed">
        <label class="govuk-label govuk-radios__label" for="reason-2">
          Alternative format needed
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-3" name="reason" type="radio" value="Applicant gets other benefits">
        <label class="govuk-label govuk-radios__label" for="reason-3">
          Applicant gets other benefits
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-4" name="reason" type="radio" value="Appointee added">
        <label class="govuk-label govuk-radios__label" for="reason-4">
          Appointee added
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-5" name="reason" type="radio" value="Change of personal details">
        <label class="govuk-label govuk-radios__label" for="reason-5">
          Change of personal details
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-6" name="reason" type="radio" value="Claimant did not receive payment">
        <label class="govuk-label govuk-radios__label" for="reason-6">
          Claimant did not receive payment
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-7" name="reason" type="radio" value="Death of applicant or claimant">
        <label class="govuk-label govuk-radios__label" for="reason-7">
          Death of applicant or claimant
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-8" name="reason" type="radio" value="Details do not match Searchlight record">
        <label class="govuk-label govuk-radios__label" for="reason-8">
          Details do not match Searchlight record
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-9" name="reason" type="radio" value="Evidence of fraud">
        <label class="govuk-label govuk-radios__label" for="reason-9">
          Evidence of fraud
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-10" name="reason" type="radio" value="Health assessment could not be completed">
        <label class="govuk-label govuk-radios__label" for="reason-10">
          Health assessment could not be completed
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-11" name="reason" type="radio" value="Immigration status">
        <label class="govuk-label govuk-radios__label" for="reason-11">
          Immigration status
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-12" name="reason" type="radio" value="Keep customer interactions safe (KCIS) marker">
        <label class="govuk-label govuk-radios__label" for="reason-12">
          Keep customer interactions safe (KCIS) marker
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-13" name="reason" type="radio" value="Mandatory reconsideration">
        <label class="govuk-label govuk-radios__label" for="reason-13">
          Mandatory reconsideration
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-14" name="reason" type="radio" value="New evidence sent after decision">
        <label class="govuk-label govuk-radios__label" for="reason-14">
          New evidence sent after decision
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-15" name="reason" type="radio" value="New Motability agreement">
        <label class="govuk-label govuk-radios__label" for="reason-15">
          New Motability agreement
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-16" name="reason" type="radio" value="Residence and presence criteria">
        <label class="govuk-label govuk-radios__label" for="reason-16">
          Residence and presence criteria
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-17" name="reason" type="radio" value="Request for split payment">
        <label class="govuk-label govuk-radios__label" for="reason-17">
          Request for split payment
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-18" name="reason" type="radio" value="Special rules for end of life (SREL)">
        <label class="govuk-label govuk-radios__label" for="reason-18">
          Special rules for end of life (SREL)
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-19" name="reason" type="radio" value="Stays in prison, hospital or other accommodation">
        <label class="govuk-label govuk-radios__label" for="reason-19">
          Stays in prison, hospital or other accommodation
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-20" name="reason" type="radio" value="Withdrawn claim">
        <label class="govuk-label govuk-radios__label" for="reason-20">
          Withdrawn claim
        </label>

      </div>








      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-21" name="reason" type="radio" value="Working abroad">
        <label class="govuk-label govuk-radios__label" for="reason-21">
          Working abroad
        </label>

      </div>





      <div class="govuk-radios__divider">or</div>







      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-23" name="reason" type="radio" value="Other">
        <label class="govuk-label govuk-radios__label" for="reason-23">
          Other
        </label>

      </div>




    </div>

  </fieldset>

</div>







<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>


</form>

</div>
</div>



<br><br>

</div>



{% endblock %}
