{% block pageTitle %}
Consent
{% endblock %}

{% extends "layouts/gov-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}


<form id="form" method="post" action="#">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form id="form" method="post" action="#"></form>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="consent-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Do you give consent for DWP to access your NHS record to view relevant information about your health conditions and medication?
                        </h1>
                    </legend>
                    <br>

                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="nhs-consent-1" name="nhs-consent" type="radio"
                            value="Yes, I agree" aria-describedby="nhs-consent-1-item-hint">
                        <label class="govuk-label govuk-radios__label" for="nhs-consent-1">
                            Yes
                        </label>
                        <!-- <span id="consent-1-item-hint" class="govuk-hint govuk-radios__hint">
                            My health and care professionals can give DWP relevant information to support my claim.
                        </span> -->
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="nhs-consent-2" name="nhs-consent" type="radio"
                            value="No, I do not agree" aria-describedby="nhs-consent-2-item-hint">
                        <label class="govuk-label govuk-radios__label" for="nhs-consent-2">
                            No
                        </label>
                        <!-- <span id="consent-1-item-hint" class="govuk-hint govuk-radios__hint">
                            DWP will make a decision on my claim using the information they have already.
                        </span> -->
                    </div>
                </div>

            </div> <!-- govuk form group -->
            <h2 class="govuk-heading-m">If you change your mind</h2>
            <p>If you do withdraw your consent after previously giving it, we will no longer be allowed to view your NHS record.</p>

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

        </form>

        </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->



{% endblock %}
