{% set pageTitle = "Case worker - manual checks" %}

{% set pageStatus="Requirement" %}
{% set pageNotes="New designs required for manual checks" %}

{% extends "pre-decide/includes/layout.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Internal User
      </h1>

      <div class="govuk-event-banner">
        <div class="govuk-event-banner__content">
          <strong class="govuk-tag govuk-tag--purple">
            {{ serviceName }}
          </strong>
          <br><br>
          <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Internal manual checks</h2>
          <p class="govuk-body-s">Once the claimant has registered, the PIP Service router will automatically run rules based on what the claimant has entered.</p>
          <p class="govuk-body-s">If the rules to retain it in the new service are met and the service isn't at capacity it will continue through the thin slice. </p>
          <p class="govuk-body-s">An agent will use the registration data to manually complete the eligibility checks using other systems like Customer Information System (CIS) / Searchlight. They will record the results of the eligibility checks on the new service.</p>
          <p class="govuk-body-s">Agents will have access to Agent Led Process' and guidance to support them with eligibility and other checks.</p>
          <p class="govuk-body-s">Eligibility checks include age, accommodation, overlapping benefits, residence and presence. Other assurance checks include checking data matches other systems.</p>
          <p class="govuk-body-s">If the answers to the eligibility question make it complicated, then it will be routed back to PIPCS for Business as Usual.</p>
          <p class="govuk-body-s">If the claimant doesn't meet the eligibility rules, the Agent will disallow, withdraw or eject the claim.</p>
          <p class="govuk-body-s">Some checks happen before it's sent for a Health Assessment and some happen after. Some checks will need to be repeated throughout the journey.</p>
          <p class="govuk-body-s">Once the Health Information Gather has been completed by the claimant and there are no further tasks, the case is referred to the Health Assessment Service (HAS).</p>
          <p class="govuk-body-s">If the Health Information Gather is not received within the designated time then the claim will be auto-disallowed.</p>

          <p class="govuk-body-s"><a href="/agent/prepare-app/application-overview">View agent manual check screens</a>
          <p class="govuk-body-s"><a href="/has/referral-build/intro">Skip and view HAS journey</a>


        </div>
      </div>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
