{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Supporting documents {% endblock %}

{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
      <!--  <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong> -->
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>

  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="personal-details">Personal details</a>
        </li>
        <li>
          <a href="supporting-documents">Supporting documents</a>
        </li>
        <li>
          <a href="conditions">Conditions</a>
        </li>
        <li>
          <a href="activities" class="active" aria-current="section">Activities</a>
        </li>
         <!--
        <li>
          <a href="summary">Questions and answers</a>
        </li> -->
      </ul>
    </nav>
</div>
  <main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
          Activities
        </h1>



            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" width="75%">Daily living</th>
                  <th scope="col" class="govuk-table__header">Claimed for</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell" style="width:50%;"><a href="activities/preparing-food">Preparing food</a></td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Eating and drinking</a></td>
                  <td class="govuk-table__cell">Yes</td>
                  </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Managing treatments</a></td>
                  <td class="govuk-table__cell">Yes</td>
                  </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Washing and bathing</a></td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Using the toilet and managing incontinence</a></td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Dressing and undressing</a></td>
                  <td class="govuk-table__cell">No</td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Talking, listening and understanding</a></td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Reading</a></td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Mixing with other people</a></td>
                  <td class="govuk-table__cell">No</td>
                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Managing money</a></td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
              </tbody>
            </table>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" width="75%">Mobility</th>
                  <th scope="col" class="govuk-table__header">Claimed for</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell" style="width:50%;"><a href="#">Planning and following a journey</a></td>
                  <td class="govuk-table__cell">Yes</td>

                </tr>
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Moving around</a></td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
              </tbody>
            </table>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" width="75%">Tell us about anything else</th>
                    <th scope="col" class="govuk-table__header">Provided</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell"><a href="#">Additonal information</a></td>
                  <td class="govuk-table__cell">Yes</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </main>

  </div>


{% endblock %}
