{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Conditions {% endblock %}

{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
      <!--  <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong> -->
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>

  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="personal-details">Personal details</a>
        </li>
        <li>
          <a href="conditions" class="active" aria-current="section">Conditions</a>
        </li>
        <li>
          <a href="activities">Activities</a>
        </li>
        <li>
          <a href="event-history">Timeline</a>
        </li>
         <!--
        <li>
          <a href="summary">Questions and answers</a>
        </li> -->
      </ul>
    </nav>
</div>
  <main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">Conditions</h1>
  <table class="govuk-table" id="tagrow">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="75%">Condition</th>
              <th scope="col" class="govuk-table__header">Approximate start date</th>
                      </tr>
                </thead>

                <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                      <td scope="row" class="govuk-table__cell"><a href="conditions/condition1">Diabetes  </a></td>
                        <td scope="row" class="govuk-table__cell">14 weeks ago</td>

            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"><a href="#">
                Angina
                </a></td>
                  <td scope="row" class="govuk-table__cell">1 March 1995</td>
              </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"><a href="#">
                COPD
                </a></td>
          <td scope="row" class="govuk-table__cell">20 December 1999</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"><a href="#">
                Blood pressure
                </a></td>
              <td scope="row" class="govuk-table__cell">20 February 2000</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"><a href="#">
                Incontinence
                </a></td>
               <td scope="row" class="govuk-table__cell">09 April 2001</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"><a href="#">
                Irregular heartbeat
                </a></td>
                <td scope="row" class="govuk-table__cell">27 August 2009</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"><a id="activities" href="#">
                Hot flushes
                </a></td>
              <td scope="row" class="govuk-table__cell">20 June 2012</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </main>

  </div>


{% endblock %}
