{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} Task summary {% endblock %}

{% block main %}

<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Jane Doe</dt>

        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">QQ 12 34 56 C</dt>
      <!--  <strong class="govuk-tag govuk-tag--grey" id="tag">In review</strong> -->
      </div>

      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>4 June 1972</dd>
      </div>
    </dl>
</section>

  <div class="govuk-width-container">
    <div class="column-full">
    <nav class="navigation-secondary">
      <ul>
        <li>
          <a href="personal-details">Personal details</a>
        </li>
        <li>
          <a href="conditions">Conditions</a>
        </li>
        <li>
          <a href="activities">Activities</a>
        </li>
        <li>
          <a href="summary" class="active" aria-current="section">Task Summary</a>
        </li>
        <li>
          <a href="event-history">Event history</a>
        </li>
      </ul>
    </nav>
</div>
  <main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">




<form action="/agent/case-manager-review/event-history" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
          Task summary
        </h1>

      <!-- <p class="govuk-body">Below is the data that has been gathered to date via agent tasks. If you are moving this application to PIPCS, you need to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
      <li>copy and paste this information to PIPCS</li>
      <li>download a copy of the <a class="" href="pip-doc2.pdf" target="_blank">application data (PDF)</a> and upload it<br> to ECMS - it will then be available in supporting documents</li>
      <li>confirm you have completed the move to PIP by adding the event to 'Event history'</li>
    </ul>
<br> -->


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Prepare an application<br>for an assessment<br>provider</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Issue 1</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue 2</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue 3</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue 4</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Issue 5</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Yes</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Prepare an application<br>for a decision</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Issue 1</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue 2</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue 3</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Issue 4</td>
                <td class="govuk-table__cell "><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Issue 5</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Yes</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-8">Daily living scoring and justifications</h3>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Preparing food</p>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-1">
          {% if data["application-about-a1-score-overwrite"] %}
          {% include "agent-day-0-1-5/application-about-a1-score-overwrite.html" %}
          {% else %}
          [X]
          {% endif %}
          out of 8
          </p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-padding-top-1">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </p>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Taking nutrition</p>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-1">
          {% if data["application-about-a1-score-overwrite"] %}
          {% include "agent-day-0-1-5/application-about-a1-score-overwrite.html" %}
          {% else %}
          [X]
          {% endif %}
          out of 8
          </p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-padding-top-1">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </p>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Last activity scored</p>
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-1">
          {% if data["application-about-a1-score-overwrite"] %}
          {% include "agent-day-0-1-5/application-about-a1-score-overwrite.html" %}
          {% else %}
          [X]
          {% endif %}
          out of 8
          </p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-padding-top-1">
            This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
          </p>

        </div>
      </div>


            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-m govuk-!-padding-top-2 govuk-!-margin-bottom-8">Mobility scoring and justifications</h3>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
                <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Planning and following journeys</p>
              </div>

              <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

                <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-1">
                {% if data["application-about-a1-score-overwrite"] %}
                {% include "agent-day-0-1-5/application-about-a1-score-overwrite.html" %}
                {% else %}
                [X]
                {% endif %}
                out of 8
                </p>

                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-padding-top-1">
                  This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
                </p>

              </div>
            </div>

            <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->



            <!-- <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">


                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third">
                    <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Outcome and dates</p>
                  </div>

                  <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-quarter govuk-!-padding-top-1">
                        <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-1">Total score</p>
                      </div>
                      <div class="govuk-grid-column-three-quarters govuk-!-padding-top-1">

                          <ul class="govuk-list govuk-list--bullet">
                          <li>12 points for the daily living part - this means you have been awarded the enhanced rate</li>
                          <li>12 points for the mobility part - this means you have been awarded the enhanced rate</li>
                        </ul>

                      </div>

                      <div class="govuk-grid-column-full">
                      <table class="govuk-table">
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-25-percent"><b>Award date</b></td>
                            <td class="govuk-table__cell govuk-75-percent">20 November 2023</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Award review date</b></td>
                            <td class="govuk-table__cell govuk-table--no-bottom-border">19 November 2026</td>
                          </tr>
                        </tbody>
                      </table>
                        </div>

                    </div>
                  </div>




                </div>
              </div>
            </div> -->


            <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-heading-m govuk-!-padding-top-2">Have you used this information to move the application to PIPCS?</h3>
            <p class="govuk-body">If you have moved the application to PIPCS, you need to confirm that you have done this by formally logging it as an event.</p>

            {{ govukButton({
              text: "Confirm move to PIPCS",
              classes: "govuk-!-margin-bottom-8 govuk-!-margin-top-3"
            }) }} -->





        </div>
      </div>

  </form>



</div></div>
</main>

   </div>


{% endblock %}
