{% block pageTitle %}
Collecting your personal details
{% endblock %}

{% set pageStatus="Explore" %}
{% set pageNotes="Content may be moved to main registration section as part of FINDR work" %}

{% extends "apply-for-pip/includes/layout-signed-out-dth.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/lang-toggle.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your personal details</h1>

      <p>You'll now be asked to enter your name, date of birth, and postcode. This information will help us match your details to our records.</p>

      <p>Once this is complete, you will then be asked further questions to help us confirm who you are.</p>

      <p>You may need to re-enter details about yourself. This is nothing to worry about. It simply helps us confirm it is you and protect you from fraud.</p>

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
