{% extends "pre-decide/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <form action="assurance-tasklist" method="post" class="form">

      <div class="govuk-grid-column-two-thirds">
        {% include "agent-day-0-1-2/record-id.html" %}


          {{ govukRadios({
            idPrefix: "assurance-task-t6",
            name: "assurance-task-t6",
            fieldset: {
              legend: {
                text: "Is there a date of death on Searchlight?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              html: ""
            },
            classes: "govuk-radios",
            items: [
            {
              value: "Bad",
              text: "Yes",
              checked: (data["assurance-task-t6"] == "Bad")
            },
              {
                value: "Good",
                text: "No",
                checked: (data["assurance-task-t6"] == "Good")
              }
            ]
          }) }}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>
    </form>
    </div>


{% endblock %}
