{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  My open tasks
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">


      <p class="govuk-heading-xl govuk-!-margin-bottom-8">My open tasks</p>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2">

        </p><table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell govuk-20-percent">Task created</th>
            <th class="govuk-table__cell govuk-40-percent">Name</th>
            <th class="govuk-table__cell govuk-25-percent">Application status</th>
<!-- <td class="govuk-table__cell govuk-15-percent">Status</td> -->


          </tr>
          </thead>

        <tbody><tr class="govuk-table__row">
          <td class="govuk-table__cell table-spacer">5 May 2024</td>
          <td class="govuk-table__cell table-spacer"><a href="/agent/prepare-app/application-overview">Michael Hamilton</a></td>
          <td class="govuk-table__cell table-spacer">Prepare an application for an assessment provider</td>
          <!-- <td class="govuk-table__cell table-spacer">
              <strong class="govuk-tag app-task-list__apl-task-todo">To do</strong>
          </td> -->
          </tr>
          <!-- <tr class="govuk-table__row">
            <td class="govuk-table__cell table-spacer">Today</td>
            <td class="govuk-table__cell table-spacer"><a href="/agent/process-app/preparation-overview">Jeff Bridges</a></td>
            <td class="govuk-table__cell table-spacer">Prepare an application for a decision</td>
          </tr> -->

        </tbody></table>



















                    </div>

</div>

{% endblock %}
