{% set pageTitle = "Call us to confirm your identity" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <h1 class="govuk-heading-xl">Call us to confirm your identity</h1>

        <p>There is no deadline to confirm your identity but it’s important you do, so that we can pay you straight away if your claim is successful. We check everyone's identity to protect from fraud.</p>

        <p>You’ll need to give some details about yourself, for example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your name</li>
          <li>your National Insurance number, if you have one (you can find this on letters about tax, pensions and benefits)</li>
          <li>your date of birth</li>
          <li>your address</li>
        </ul>

        <p>You’ll also need to answer some questions about yourself or events in your life, so that we can confirm your identity.</p>

        <p>Telephone: 0800 121 6279<br/>
        Textphone: 0800 121 4493<br/>
        <a href="">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br/>
        <a href="">Video relay service</a> for British Sign Language users. <a href="">Check you can use the video relay service</a>.<br/>
        Open 9am to 5pm, Monday to Friday<br/>
        Calls to 0800 numbers are free from landlines and mobiles.</p>

    </div> <!-- govuk-form-group -->

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

</form>

{% endblock %}
