{% set pageTitle = "How well can you manage therapy or monitor a health condition?" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>


      {{ govukRadios({
        name: "managingtreatments-info",
        fieldset: {
          legend: {
            text: "How well can you manage therapy or monitor a health condition?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: '
          <p>Select the option that is most relevant to you for more than half of the days in a year.</p>
        '
        },
        items: [
          {
            value: "managingtreatments-option-1",
            text: "I either do not receive medication or therapy or need to monitor a health condition, or can manage medication or therapy or monitor a health condition unaided",
            checked: checked("managingtreatments-info", "Option 1")
          },
          {
            value: "managingtreatments-option-2",
            text: "I need to use an aid or appliance to be able to manage medication, or need supervision, prompting or assistance to be able to manage medication, or I need supervision, prompting or assistance to be able to monitor a health condition",
            checked: checked("managingtreatments-info", "Option 2")
          },
          {
            value: "managingtreatments-option-3",
            text: "I need supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week",
            checked: checked("managingtreatments-info", "Option 3")
          },
          {
            value: "managingtreatments-option-4",
            text: "I need supervision, prompting or assitance to be able to manage therapy that takes no more than 3.5 hours but no more than 7 hours a week",
            checked: checked("managingtreatments-info", "Option 4")
          },
          {
            value: "managingtreatments-option-5",
            text: "I need supervision, prompting or assitance to be able to manage therapy that takes no more than 3.5 hours but no more than 14 hours a week",
            checked: checked("managingtreatments-info", "Option 5")
          },
          {
            value: "managingtreatments-option-6",
            text: "I need supervision, prompting or assitance to be able to manage therapy that takes no more than 14 hours a week",
            checked: checked("managingtreatments-info", "Option 6")
          }
        ]
      }) }}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    {% include "./_return-link.html" %}

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
