{% set pageTitle = "Does your condition affect you managing your treatments?" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "managingtreatments-question",
        fieldset: {
          legend: {
            text: "Managing treatments",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: '
          <p>This means:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>monitoring changes in your health condition or disability (for example, your blood sugar level, mental state or pain levels)</li>
            <li>taking medication in the right way and at the right time</li>
            <li>managing therapies that take place at home which have been recommended by a health professional or pharmacist (for example, physiotherapy or home dialysis)</li>
          </ul>
          <h2 class="govuk-heading-m">Does your condition affect you managing your treatments?</h2>
          '
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("managingtreatments-question", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("managingtreatments-question", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "./_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
