{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Prepare a claim for an assessment provider
{% endblock %}


{% block content %}

<form action="#" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="login-router" method="post" class="form">



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
              <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>
            </div>
          </div>




    <h3 class="govuk-heading-xl govuk-!-margin-bottom-6">Award review overview</h3>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"><b>Claim<b></td>
                <td class="govuk-table__cell govuk-40-percent">In payment</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"><b>Outcome<b></td>
                <td class="govuk-table__cell govuk-40-percent">Daily living: Enhanced 12 points<br> Mobility: Enhanced 12 points</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"><b>Award review date<b></td>
                <td class="govuk-table__cell govuk-40-percent">1 March 2025</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"><b>Award start date<b></td>
                <td class="govuk-table__cell govuk-40-percent">1 March 2025</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"><b>Award end date<b></td>
                <td class="govuk-table__cell govuk-40-percent">28 February 2028</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 class="govuk-heading-l">Decision events</h2>

      <table class="govuk-table govuk-!-margin-bottom-8">

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Date<b></td>
          <td class="govuk-table__cell"><b>Event<b></td>
           <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Today<b></td>
          <td class="govuk-table__cell">Payment schedule established</td>
           <td class="govuk-table__cell"><a class="" href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><b>Today<b></td>
          <td class="govuk-table__cell">Decision made</td>
           <td class="govuk-table__cell"><a class="" href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 March 2025</td>
          <td class="govuk-table__cell">Award review data capture complete</td>
           <td class="govuk-table__cell"><a class="" href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 March 2025</td>
          <td class="govuk-table__cell">Award review started</td>
           <td class="govuk-table__cell"><a class="" href="#">View</a></td>
        </tr>

      </tbody>
    </table>

    <h2 class="govuk-heading-l">Resources</h2>

    <p class="govuk-body"><a href="">Notes</a><br>
    <a href="">Documents used to support the decision</a><br>
    <a href="">Letters sent</a></p>

    </div>


  </form>

{% endblock %}
