{% set pageTitle = "A 6 digit code has been emailed to myemail@gmail.com" %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">A new code has been sent</p>
        </div>
      </div>

      <form action="#" method="POST" novalidate>

        <h1 class="govuk-heading-xl">We have sent you an email with your <br>6 digit code</h1>

        <p>The code expires after 5 minutes.</p>

        <p>Do not close this screen before you enter the code unless you need to request another.</p>

        <div class="govuk-form-group">
          <label class="govuk-label" for="code" >Enter your 6 digit code</label>
          <input class="govuk-input govuk-input--width-5 input-capitals" id="code" name="code" maxlength="6" data-hj-suppress type="text" pattern="[0-9]*" inputmode="numeric" value="">
        </div>

          <input type="submit" class="govuk-button" value="Continue" id="submit">
          <p><a href="code-email-get-another">I need a new code</a></p>


      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
