{% extends "agent/case-manager-review/includes/layout.html" %}

{% block pageTitle %} View all claims {% endblock %}

{% set pageStatus="Work in progress" %}
{% set teamName="Pelican" %}
{% set pageNotes="Current status filters being added" %}

{% block main %}

<div class="govuk-width-container">

<!-- <a href="javascript:history.go(-1)" class="govuk-back-link" style="margin-top: 40px;">Back</a> -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <main class="govuk-main-wrapper " id="main-content" role="main">

        <h1 class="govuk-heading-xl">View all cases</h1>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Total cases: <b>3</b></p>

        {%- from "govuk/components/table/macro.njk" import govukTable -%}

        {{ govukTable({
          attributes: {
            'data-module': 'moj-sortable-table'
          },
          head: [
            {
              text: "National Insurance number",
              classes:"govuk-!-width-one-quarter"
            },
            {
              text: "Date of claim",
              attributes: {
                "aria-sort": "none"
              }
            },
            {
              text: "Current status"
            },
            {
              text: "Days in current status",
              attributes: {
                "aria-sort": "none"
              }
          }
          ],
          rows: [
            [
              {
                html: '<a href="../personal-details" class="govuk-link">QQ 56 82 91 F'
              },
              {
                text: "4 April 2024",
                format: "numeric",
                attributes: {
                  "data-sort-value": "30 June 2024"
                }
              },
              {
                text: "Started health information gather"
              },
              {
                text: "15 days"
              }
            ],
            [
              {
                html: '<a href="../personal-details" class="govuk-link">QQ 23 64 77 A'
              },
              {
                text: "4 April 2024",
                format: "numeric",
                attributes: {
                  "data-sort-value": "4 April 2024"
                }
              },
              {
                text: "Decision made: awarded"
              },
              {
                text: "1 day"
              }
            ],
            [
              {
                html: '<a href="../personal-details" class="govuk-link">QQ 12 34 56 C'
              },
              {
                text: "15 April 2024",
                format: "numeric",
                attributes: {
                  "data-sort-value": "15 April 2024"
                }
              },
              {
                text: "Referred to assessment provider"
              },
              {
                text: "5 days"
              }
            ]
          ]
        }) }}
        </div>
    </div>
</div>

        <script>

          function hideAllWithClass(classname) {
            document.querySelectorAll("." + classname).forEach((element) => {
              element.style.visibility = 'collapse';
            });
          }

          function showAllWithClass(classname) {
            document.querySelectorAll("." + classname).forEach((element) => {
              element.style.visibility = 'visible';
            });
          }

          document.querySelector("#filters").addEventListener("submit", function (e) {

            e.preventDefault();    //stop form from submitting

            showAllWithClass("status-1");
            showAllWithClass("status-2");
            showAllWithClass("status-3");
            showAllWithClass("status-4");
            showAllWithClass("status-5");
            showAllWithClass("status-6");
            showAllWithClass("status-7");
            showAllWithClass("status-8");
            showAllWithClass("status-9");
            showAllWithClass("status-10");
            showAllWithClass("status-11");
            showAllWithClass("status-12");

            let benefitTypes = [];
            let sites = [];

            if (document.getElementById('srel').checked == true) {
              hideAllWithClass("no-srel");
            }

            if (document.getElementById('pip').checked == true || document.getElementById('esa').checked == true || document.getElementById('uc').checked == true) {
              if (document.getElementById('pip').checked == false) {
                hideAllWithClass("pip");
              } else {
                benefitTypes.push("Personal Independence Payment");
              }

              if (document.getElementById('esa').checked == false) {
                hideAllWithClass("esa");
              } else {
                benefitTypes.push("Employment Support Allowance");
              }

              if (document.getElementById('uc').checked == false) {
                hideAllWithClass("uc");
              } else {
                benefitTypes.push("Universal Credit");
              }
            }

            if (document.getElementById('handsworth').checked == true || document.getElementById('tresco').checked == true) {
              if (document.getElementById('handsworth').checked == false) {
                hideAllWithClass("handsworth");
              } else {
                sites.push("Handsworth");
              }

              if (document.getElementById('tresco').checked == false) {
                hideAllWithClass("tresco");
              } else {
                sites.push('Tresco');
              }
            }

            var count = 0;
            var elemnts = document
              .querySelectorAll('.govuk-table tr').forEach((element) => {
                if (element.style.visibility === 'visible') {
                  count += 1;
                }
              })

            if (count < 20) {
              document.getElementById('pagination').style.visibility = 'collapse';
            } else {
              document.getElementById('pagination').style.visibility = 'visible';
            }

            document.getElementById('paginationTotal').innerText = count;

            // var eol = document.getElementById('srel').checked ? " end of life" : "";
            // var benefitTypeString = benefitTypes.join(", ");
            // var sitesString = sites.join(", ");
            // var ifBenefitType = benefitTypes.length > 0 ? ' for ' : '';
            // var ifSites = sites.length > 0 ? ' at ' : '';

            //11 HCP review end of life referrals in PIP, ESA, UC at Birmingham Handsworth
            // var text = count + " report ready " + eol + " referrals " + ifBenefitType + benefitTypeString + ifSites + sitesString;
            var text = count + " referrals";

            document.getElementById('filter-playback').innerText = text;

            // document.getElementById('srelCount').innertext = document.querySelectorAll('.govuk-table tr.srel').length;

          });

        </script>

{% endblock %}
