{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Prepare a claim for an assessment provider
{% endblock %}


{% block content %}

<form action="#" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="login-router" method="post" class="form">



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
              <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>
            </div>
          </div>


      </div>
    </div>



    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="overview" class="govuk-link" rel="noreferrer noopener">Overview</a></p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Event history</a>
              <!-- {{govukTag({
                text: "10",
                classes: "govuk-tag--event-notifications"
              })}} -->
      </p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="applications-decisions" class="govuk-link" rel="noreferrer noopener" target="">Applications<br>and decisions</a></p>

      <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="record-1-sent-comms" class="govuk-link" rel="noreferrer noopener" target="">Notifications sent</a></p> -->

      <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Other actions</h3>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">View supplied<br>information</a></p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="">Move to...</a></p>


    </div>

    <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-heading-xl govuk-!-margin-bottom-6">Applications and decisions: C</h3>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Change of circumstance C019</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </p></div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Start of application:</td>
                <td class="govuk-table__cell govuk-40-percent">7/3/2025</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Stage:</td>
                <td class="govuk-table__cell govuk-40-percent">Decision made</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Outcome:</td>
                <td class="govuk-table__cell govuk-40-percent">Daily living: Nil <br> Mobility: Nil</td>
              </tr>
            </tbody>
          </table>
          <p class="govuk-body"><a href="">View decision overview</a></p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
            <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Change of circumstance C018</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
          </p></div>

          <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
            <table class="govuk-table">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-60-percent">Start of application:</td>
                  <td class="govuk-table__cell govuk-40-percent">5/5/2024</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-60-percent">Stage:</td>
                  <td class="govuk-table__cell govuk-40-percent">Decision made</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-60-percent">Outcome:</td>
                  <td class="govuk-table__cell govuk-40-percent">Daily living: Enhanced <br> Mobility: Standard</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body"><a href="">View decision overview</a></p>
          </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
              <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Mandatory reconsideration (Entitlement) C017</p>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            </p></div>

            <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-60-percent">Start of application:</td>
                    <td class="govuk-table__cell govuk-40-percent">17/10/2023</td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-60-percent">Stage:</td>
                    <td class="govuk-table__cell govuk-40-percent">Decision made</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-60-percent">Outcome:</td>
                    <td class="govuk-table__cell govuk-40-percent">Daily living: Enhanced <br> Mobility: Standard</td>
                  </tr>
                </tbody>
              </table>
              <p class="govuk-body"><a href="">View decision overview</a></p>
            </div>
          </div>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
                <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Award review C016</p>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
              </p></div>

              <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-60-percent">Start of application:</td>
                      <td class="govuk-table__cell govuk-40-percent">29/7/2023</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-60-percent">Stage:</td>
                      <td class="govuk-table__cell govuk-40-percent">Decision made</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-60-percent">Outcome:</td>
                      <td class="govuk-table__cell govuk-40-percent">Daily living: Enhanced <br> Mobility: Standard</td>
                    </tr>
                  </tbody>
                </table>
                <p class="govuk-body"><a href="">View decision overview</a></p>
              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Award review C015</p>
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                </p></div>

                <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-60-percent">Start of application:</td>
                        <td class="govuk-table__cell govuk-40-percent">28/7/2020</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-60-percent">Stage:</td>
                        <td class="govuk-table__cell govuk-40-percent">Decision made</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-60-percent">Outcome:</td>
                        <td class="govuk-table__cell govuk-40-percent">Daily living: Enhanced <br> Mobility: Standard</td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="govuk-body"><a href="">View decision overview</a></p>
                </div>
              </div>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
                    <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Change of circumstance C014</p>
                    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                  </p></div>

                  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
                    <table class="govuk-table">
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-60-percent">Start of application:</td>
                          <td class="govuk-table__cell govuk-40-percent">30/7/2019</td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-60-percent">Stage:</td>
                          <td class="govuk-table__cell govuk-40-percent">Decision made</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell govuk-60-percent">Outcome:</td>
                          <td class="govuk-table__cell govuk-40-percent">Daily living: Enhanced <br> Mobility: Standard</td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="govuk-body"><a href="">View decision overview</a></p>
                  </div>
                </div>

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
                      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Mandatory reconsideration (Entitlement) C013</p>
                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                    </p></div>

                    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
                      <table class="govuk-table">
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-60-percent">Start of application:</td>
                            <td class="govuk-table__cell govuk-40-percent">21/5/2018</td>
                          </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-60-percent">Stage:</td>
                            <td class="govuk-table__cell govuk-40-percent">Decision made</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-60-percent">Outcome:</td>
                            <td class="govuk-table__cell govuk-40-percent">Daily living: Standard <br> Mobility: Standard</td>
                          </tr>
                        </tbody>
                      </table>
                      <p class="govuk-body"><a href="">View decision overview</a></p>
                    </div>
                  </div>

                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                  <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
                        <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Original decision C012</p>
                        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                      </p></div>

                      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
                        <table class="govuk-table">
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell govuk-60-percent">Start of application:</td>
                              <td class="govuk-table__cell govuk-40-percent">14/2/2018</td>
                            </tr>

                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell govuk-60-percent">Stage:</td>
                              <td class="govuk-table__cell govuk-40-percent">Decision made</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell govuk-60-percent">Outcome:</td>
                              <td class="govuk-table__cell govuk-40-percent">Daily living: Standard <br> Mobility: Nil</td>
                            </tr>
                          </tbody>
                        </table>
                        <p class="govuk-body"><a href="">View decision overview</a></p>
                      </div>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    </div>


  </form>

{% endblock %}
