{% extends "agent/process-app/includes/layout.html" %}

{% block pageTitle %}
  Prepare a claim for an assessment provider
{% endblock %}


{% block content %}

<form action="#" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="login-router" method="post" class="form">



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
              <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Jeff Bridges</h1>
              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">NA 11 22 33 C</p>
            </div>
          </div>




    <h3 class="govuk-heading-xl govuk-!-margin-bottom-6">Original decision overview</h3>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"><b>Stage<b></td>
                <td class="govuk-table__cell govuk-40-percent">Referred for assessment</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent"><b>Outcome<b></td>
                <td class="govuk-table__cell govuk-40-percent">Pending</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 class="govuk-heading-l">Decision events</h2>

      <table class="govuk-table govuk-!-margin-bottom-8">

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4 October 2025</td>
          <td class="govuk-table__cell">Pre-assessment checks completed</td>
           <td class="govuk-table__cell"><a class="" href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">3 October 2025</td>
          <td class="govuk-table__cell">Received health information gather</td>
           <td class="govuk-table__cell"><a class="" href="#">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 October 2025</td>
          <td class="govuk-table__cell">Start of application</td>
           <td class="govuk-table__cell"><a class="" href="#">View</a></td>
        </tr>

      </tbody>
    </table>

    <p class="govuk-body"><a href="">View full event history</a></p>

    </div>


  </form>

{% endblock %}
