{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Work in progress
        </h3>
        <p class="govuk-body">This prototype is a work in progress and will continue to change and grow as and when more work in this space is developed and to align with any up to date decisions.</p>
        <p class="govuk-body">This interactive prototype is one of many end-to-end assets and is here to compliment these. This journey is relativily linear and happy path and some of these assets go into a greater level of detail.</p>
        <p class="govuk-body"><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1707212875325/25292aa89485b61f4a19e8d4cc9b6eefe3641b28?sender=u802d93a2f27816d9530c5521">E2E for PIP '24 mural board</a>
        <p class="govuk-body"><a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1704449235045/cb42291b5c73e872488ce9b47193fc221d380819?wid=0-1716461020200">Service Blueprint</a>
      </div>
    </div>

    <h1 class="govuk-heading-xl">
      Welcome
    </h1>
    <p class="govuk-body-l">This is a full end-to-end prototype of PIP based on knowledge to date of what the service will look like in September 2024 and the introudction of the 'thin slice'.</p>

    <h2 class="govuk-heading-l">
      Before you start
    </h2>
    <p>Throughout the end-to-end journey there are some specific visual elements to communicate key aspects, including where an online process triggers an offline one, any thin slice specifics, outstanding requirements, etc.</p>
    <p> Keep your eye out for the following:</p>
    <h2 class="govuk-heading-m">
      Information banner
    </h2>
    <p>At the top of every page is a banner, which at minimum will show that you are in the E2E vision space and the user type, followed by the team that looks after that specific page.</p>
    <div class="vision govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--purple govuk-phase-banner__content__tag">
          {{ serviceName }}
        </strong>
        <strong class="govuk-tag govuk-tag--light-blue govuk-phase-banner__content__tag">
          Citizen - Goldcrest
        </strong>
      </p>
    </div>
    <br><br>
    <p>At times you may see more. This could be because the page is in exploration, a change is due, there are additional requirements, etc. This will be accompanied by a short note.
    <div class="vision govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--purple govuk-phase-banner__content__tag">
          {{ serviceName }}
        </strong>
        <strong class="govuk-tag govuk-tag--light-blue govuk-phase-banner__content__tag">
          Citizen - Goldcrest
        </strong>
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Exploration
        </strong>
        <span class="govuk-phase-banner__text">
          The team are looking at updating the content displayed
        </span>
      </p>
    </div>
    <br><br>
    <h2 class="govuk-heading-m">
      Information box
    </h2>
    <p>When more information or detail is required and/or there are options to how you navigate your onward journey then you will see a notification style like this:</p>
    <div class="govuk-event-banner">
      <div class="govuk-event-banner__content">
        <strong class="govuk-tag govuk-tag--purple">
          E2E vision '24
        </strong>
        <br><br>
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Claimant journey impacted</h2>
        <p class="govuk-body-s">Only those in specific postcodes can continue to claim online</p>
        <p class="govuk-body-s"><a href="">View list of postcodes</a></p>
        <p class="govuk-body-s"><a href="">View unhappy path</a></p>
      </div>
    </div>
    <h2 class="govuk-heading-l">
      Acronym and term buster
    </h2>
    <p>References that you may see throughout the journey:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>HIG - Health Information Gather</li>
      <li>DTH - Dynamic Trust Hub</li>
      <li>KBV - Knowledge Based Verification</li>
      <li>HAS - Health Assessment Service</li>
      <li>NCAT - Non-Clinical Admin Team</li>
      <li>HCP - Health Care Professional</li>
      <li>MIART - Management Information & Audit Requirements Team</li>
      <li>CIS - Customer Information System</li>
      <li>PIPCS - Personal Independence Payment Computer System</li>
      <li>The tap - A configirable figure of how many claims we let through the thin slice per day</li>
      <li>Eject - Moving a claim out of thin slice and into BAU and PIPCS</li>
    </ul>

    <form action="start" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>


    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
