{% extends "layouts/gov-signed-out.html" %}

{% set pageName="Research" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <h1 class="govuk-heading-xl">
      Research
    </h1>
    <p class="govuk-body-l">This page is for research purposes. Please choose a variant to run through the first phase of the Apply for PIP process.</p>

    <p><a href="/nhs/apply-for-pip-v1/govuk/what-pip-is-for">Apply for PIP - V1</p>
    <p><a href="/nhs/apply-for-pip-v2/govuk/what-pip-is-for">Apply for PIP - V2</p>
    <p><a href="/nhs/apply-for-pip-v3/govuk/what-pip-is-for">Apply for PIP - V3</p>



    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
  </div>
</div>

{% endblock %}
