{% set status = "signed-out" %}
{% set pageTitle = "Submission email" %}

{% extends "apply-for-pip/includes/layout-signed-out.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Submission confirmation email
      </h1>

    <div class="example">

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><span class="email-heading">From</span> DWP Health PDU</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><span class="email-heading">To</span> email@address.com</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><span class="email-heading">Subject</span> Personal Independence Payment: We have recieved your information</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p>This is an automatic reply email. Thank you for sending information about how your disability affects you.</p>

              <p>We will send your information to a health professional to consider before we make our decision. If we need more information about how your health condition or disability affects your daily life we may invite you to attend an assessment.</p>

              <h2 class="govuk-heading-m">Confirm your identity</h2>

              <p>You now need to confirm your identity. We check everyone’s identity to protect from fraud.</p>

              <p>Do this as soon as possible. We cannot process your claim until you confirm your identity.</p>

              <p>To confirm your identity, sign in to Apply for PIP. Go to: http://www.apply-for-pip.dwp.gov.uk/verify/your-details</p>

              <h2 class="govuk-heading-m">If you have uploaded any supporting evidence</h2>

              <p>We will include this in your claim to PIP and will consider this before we make our decision.</p>

              <h2 class="govuk-heading-m">If you need to upload more supporting evidence</h2>

              <p>If you need to upload any more evidence that might support your application you will need to sign in again. Go to: https://www.apply-for-pip.dwp.gov.uk/verify/your-details</p>

              <p>You might find it useful to bookmark the sign in page in your internet browser or keep this email.</p>

              <p>You will need your email address, mobile phone and password to sign in.</p>

              <p>You will not need to answer the questions about your daily living activities or mobility again.</p>

              <h2 class="govuk-heading-m">Other things you need to tell us about, or if you need help</h2>

              <p>Contact the Department for Work and Pensions (DWP) if:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>any information you gave us changes</li>
                <li>have not given us your bank, building society or credit union account details</li>
                <li>you want to withdraw your consent for your health and care professionals to share information about you with DWP</li>
                <li>you want to withdraw your consent for the Motability Scheme to send you information</li>
                <li>you do not want to continue with your PIP claim</li>
              </ul>

              <h2 class="govuk-heading-m">Contact DWP</h2>

              <div class="govuk-inset-text">
                Telephone: 0800 121 6279<br>
                Textphone: 0800 121 4493 if you have speech or hearing difficulties<br>
                Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 121 6279
                https://www.relayuk.bt.com<br>
                Video relay service for British Sign Language (BSL) users: https://connect.interpreterslive.co.uk/vrs?ilc=DWP<br>
                Check you can use the video relay service: https://www.youtube.com/watch?v=oELNMfAvDxw<br>
                Open 9am to 5pm, Monday to Friday
              </div>

              <p>Please do not reply to this message. Any email sent in response
              will be deleted without being read. DWP will never ask you to send
              any usernames, passwords, personal, health/medical or bank
              account information via email.</p>

              <p>Yours sincerely</p>

              <p>Office manager</p>
          </tr>
        </tbody>
      </table>

    </div>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
