{% set pageTitle = "Tell us how your health condition or disability affects you" %}

{% extends "apply-for-pip/includes/layout-signed-in-pip2.html" %}

{% block beforeContent %}
  {% include "apply-for-pip/includes/phase-banner.html" %}
  {% include "apply-for-pip/includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            Submit your application by 3 December 2021

          </p>
        </div>
      </div> -->

      <h1 class="govuk-heading-l" style="margin-bottom: 40px;">
        Tell us how your health condition or disability affects you
      </h1>

      <p class="govuk-heading">Download and read the instructions <a href="/public/pdfs/pip2-info-booklet-v1.pdf" download>Help with answering questions and providing evidence (PDF)</a></p>

      <p>You can download a copy of your completed application when you've finished.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Tell us about your health
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/about-your-health/check">
                    About your health
                  </a>
                </div>
                <div class="govuk-task-list__status" id="about-your-health-1-status">
                  <strong class="govuk-tag govuk-tag--blue" id="aboutyourhealth">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/about-your-health-professionals/check">
                    About your health or care professionals
                  </a>
                </div>
                <div class="govuk-task-list__status" id="about-your-health-2-status">
                  <strong class="govuk-tag govuk-tag--blue" id="about-your-health-professionals">Completed</strong>
                </div>
            </li>
          </ul>
        </li>
        {# Daily living activities #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Tell us about your daily living activities
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/preparing-food/check">
                    Preparing food
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-1-status">
                  <strong class="govuk-tag govuk-tag--blue" id="preparingfood">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/eating-and-drinking/check">
                    Eating and drinking
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-2-status">
                  <strong class="govuk-tag govuk-tag--blue" id="eatinganddrinking">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/managing-treatments/check">
                  Managing treatments
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-3-status">
                  <strong class="govuk-tag govuk-tag--blue" id="managingtreatments">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/washing-and-bathing/check">
                    Washing and bathing
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-4-status">
                  <strong class="govuk-tag govuk-tag--blue"  id="washingandbathing">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/managing-toilet-needs/check">
                    Using the toilet and managing incontinence
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-5-status">
                  <strong class="govuk-tag govuk-tag--blue" id="managingtoiletneeds">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/dressing-and-undressing/check">
                    Dressing and undressing
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-6-status">
                  <strong class="govuk-tag govuk-tag--blue" id="dressingandundressing">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/talking-and-listening/check">
                    Talking, listening and understanding
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-7-status">
                  <strong class="govuk-tag govuk-tag--blue" id="talkingandlistening">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/reading/check">
                    Reading
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-8-status">
                  <strong class="govuk-tag govuk-tag--blue" id="reading">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/mixing-with-other-people/check">
                    Mixing with other people
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-9-status">
                  <strong class="govuk-tag govuk-tag--blue" id="mixingwithotherpeople">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/managing-money/check">
                    Managing money
                  </a>
                </div>
                <div class="govuk-task-list__status" id="daily-living-activities-10-status">
                  <strong class="govuk-tag govuk-tag--blue" id="managingmoney">Completed</strong>
                </div>
            </li>
          </ul>
        </li>
        {# Mobility activities #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Tell us about your mobility activities
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/planning-and-following-a-journey/check">
                    Planning and following a journey
                  </a>
                </div>
                <div class="govuk-task-list__status" id="mobility-activities-1-status">
                  <strong class="govuk-tag govuk-tag--blue" id="planningandfollowingajourney">Completed</strong>
                </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/moving-around/check">
                    Moving around
                  </a>
                </div>
                <div class="govuk-task-list__status" id="mobility-activities-2-status">
                  <strong class="govuk-tag govuk-tag--blue" id="movingaround">Completed</strong>
                </div>
            </li>
          </ul>
        </li>
        {# Additional information #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Tell us about anything else
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/additional-information/check">
                    Additional information
                  </a>
                </div>
                <div class="govuk-task-list__status" id="additional-info-status">
                  <strong class="govuk-tag govuk-tag--blue" id="additionalinformation">Completed</strong>
                </div>
            </li>
          </ul>
        </li>
        {# Upload supporting evidence and apply #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Upload supporting evidence and apply
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link" href="/apply-for-pip/health-form/supporting-evidence/intro">
                   Upload supporting evidence and apply
                  </a>
                </div>
                <div class="govuk-task-list__status" id="additional-info-status">
                  <strong class="govuk-tag govuk-tag--grey" id="uploadsupportingevidenceandapply">Not started</strong>
                </div
            </li>
          </ul>
        </li>
      </ol>

{#       {% include "live-pip2-v1-0/_prototype-shortcuts.html" %} #}

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
