{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-about" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-2/record-id.html" %}




            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">Which descriptor do you want to select for taking nutrition?
                  </h2>
                  {% endset %}
            <!------------Legend--------------->

            <!------------Q2 LEGEND------------>
              {% set dynamicQ2 %}

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                <strong>Descriptor B (2 points):</strong> Needs:
                <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-list--bullet">
                  <li>
                    to use an aid or appliance to be able to take nutrition; or
                  </li>
                  <li>
                    supervision to be able to take nutrition; or
                  </li>
                  <li>
                    assistance to be able to cut up food
                  </li>
                </ul>

              {% endset %}
            <!------------Legend--------------->

            {{ govukRadios({
              idPrefix: "application-about-a2-score-overwrite",
              name: "application-about-a2-score-overwrite",
              fieldset: {
                legend: {
                  html: dynamicH1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                html: legendNumbers
              },
              classes: "govuk-radios",
              items: [
              {
                value: "a1",
                html: "<strong>Descriptor A (0 points):</strong> Can take nutrition unaided",
                checked: (data["application-about-a2-score-overwrite"] == "0")
              },
              {
                value: "b2",
                html: dynamicQ2,
                checked: (data["application-about-a2-score-overwrite"] == "2")
              },
              {
                value: "c3",
                html: "<strong>Descriptor C (2 points):</strong> Needs a therapeutic source to be able to take nutrition",
                checked: (data["application-about-a2-score-overwrite"] == "2")
              },
              {
                value: "d4",
                html: "<strong>Descriptor D (4 points):</strong> Needs prompting to be able to take nutrition",
                checked: (data["application-about-a2-score-overwrite"] == "4")
              },
              {
                value: "e5",
                html: "<strong>Descriptor E (6 points):</strong> Needs assistance to be able to manage a therapeutic source to take nutrition",
                checked: (data["application-about-a2-score-overwrite"] == "6")
              },
              {
                value: "f6",
                html: "<strong>Descriptor F (10 points):</strong> Cannot convey food and drink to their mouth and needs another person to do so",
                checked: (data["application-about-a2-score-overwrite"] == "10")
              }
              ]
            }) }}













            <br>

            {{ govukTextarea({
              name: "application-about-a2-reason",
              id: "application-about-a2-reason",
              classes: " govukTextarea--overwrite govuk-!-margin-bottom-8",
              label: {
                text: "Justification",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              hint: {
                html: legendCanned
              },
              value: ""
            }) }}


          {{ govukButton({
            text: "Continue"
          }) }}


        </div>
      </div>

  </form>

{% endblock %}
