{% if data["application-about-a4-score-overwrite"] == "a1" %}
  0
{% elif data["application-about-a4-score-overwrite"] == "b2" %}
  2
{% elif data["application-about-a4-score-overwrite"] == "c3" %}
  2
{% elseif data["application-about-a4-score-overwrite"] == "d4" %}
  2
{% elseif data["application-about-a4-score-overwrite"] == "e5" %}
  3
{% elseif data["application-about-a4-score-overwrite"] == "f6" %}
  8
{% elseif data["application-about-a4-score-overwrite"] == "g6" %}
  8
{% else %}
  0
{% endif %}
