{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-about" method="post" class="form">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% include "agent-day-0-1-2/record-id.html" %}




            <!------------H1 LEGEND------------>
              {% set dynamicH1 %}
              <h2 class="govuk-heading-xl govuk-!-margin-bottom-0">Which descriptor do you want to select for managing therapy or monitoring a health condition?
                  </h2>
                  {% endset %}
            <!------------Legend--------------->

            <!------------Q1 LEGEND------------>
              {% set dynamicQ1 %}

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                <strong>Descriptor A (0 points):</strong> Either:

                <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-list--bullet">
                  <li>
                    does not receive medication or therapy or need to monitor a health condition; or
                  </li>
                  <li>
                    can manage medication or therapy or monitor a health condition unaided
                  </li>
                </ul>

              {% endset %}
            <!------------Legend--------------->


            <!------------Q2 LEGEND------------>
              {% set dynamicQ2 %}

              <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
                <strong>Descriptor B (1 point):</strong> Needs any one or more of the following:

                <ul class="govuk-list govuk-!-padding-top-0 govuk-!-margin-bottom-0 govuk-list--bullet">
                  <li>
                    to use an aid or appliance to be able to managed medication;
                  </li>
                  <li>
                    supervision, prompting or assistance to be able to manage medication
                  </li>
                  <li>
                    supervision, prompting or assistance to be able to monitor a health condition
                  </li>
                </ul>

              {% endset %}
            <!------------Legend--------------->

            {{ govukRadios({
              idPrefix: "application-about-a3-score-overwrite",
              name: "application-about-a3-score-overwrite",
              fieldset: {
                legend: {
                  html: dynamicH1,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                html: legendNumbers
              },
              classes: "govuk-radios",
              items: [
              {
                value: "a1",
                html: dynamicQ1,
                checked: (data["application-about-a3-score-overwrite"] == "0")
              },
              {
                value: "b2",
                html: dynamicQ2,
                checked: (data["application-about-a3-score-overwrite"] == "1")
              },
              {
                value: "c3",
                html: "<strong>Descriptor C (2 points):</strong> Needs supervision, prompting or assistance to be able to manage therapy that takes no more than 3.5 hours a week",
                checked: (data["application-about-a3-score-overwrite"] == "2")
              },
              {
                value: "d4",
                html: "<strong>Descriptor D (4 points):</strong>  Needs supervision, prompting or assistance to be able to manage therapy that takes more than 3.5 but no more than 7 hours a week",
                checked: (data["application-about-a3-score-overwrite"] == "4")
              },
              {
                value: "e5",
                html: "<strong>Descriptor E (6 points):</strong> Needs supervision, prompting or assistance to be able to manage therapy that takes more than 7 but no more than 14 hours a week",
                checked: (data["application-about-a3-score-overwrite"] == "6")
              },
              {
                value: "f6",
                html: "<strong>Descriptor F (8 points):</strong> Needs supervision, prompting or assistance to be able to manage therapy that takes more than 14 hours a week",
                checked: (data["application-about-a3-score-overwrite"] == "8")
              }
              ]
            }) }}


            <br>

            {{ govukTextarea({
              name: "application-about-a3-reason",
              id: "application-about-a3-reason",
              classes: " govukTextarea--overwrite govuk-!-margin-bottom-8",
              label: {
                text: "Justification",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              hint: {
                html: legendCanned
              },
              value: ""
            }) }}


          {{ govukButton({
            text: "Continue"
          }) }}


        </div>
      </div>

  </form>

{% endblock %}
