{% if data["application-about-a7-score-overwrite"] == "a1" %}
  Descriptor A: Can express and understand verbal information unaided

{% elif data["application-about-a7-score-overwrite"] == "b2" %}
  Descriptor B: Needs to use an aid or appliance to be able to speak or hear

{% elif data["application-about-a7-score-overwrite"] == "c3" %}
  Descriptor C: Needs communication support to be able to express or understand complex verbal information

{% elseif data["application-about-a7-score-overwrite"] == "d4" %}
  Descriptor D: Needs communication support to be able to express or understand basic verbal information

{% elseif data["application-about-a7-score-overwrite"] == "e5" %}
  Descriptor E: Cannot express or understand verbal information at all even with communication support

{% else %}
  Blank

{% endif %}
