{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-about" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-day-0-1-2/record-id.html" %}


      <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">View and assess 3<br>supporting documents</h2>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Application submitted: 19 March 2024</p> -->

<br>

  <table class="govuk-table govuk-!-margin-bottom-8">

    <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Supports the application</h1>

    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-35-percent">Document name</td>
      <td class="govuk-table__cell govuk-30-percent">Date received (age)</td>
      <td class="govuk-table__cell govuk-12-percent">Seen by AP</td>
      <td class="govuk-table__cell govuk-12-percent">Used by AP</td>
      <td class="govuk-table__cell govuk-10-percent">Status</td>
    </tr>
    </thead>

    {% if data["evidence-5-grade"] == "Good" %}
        {% include "agent-day-0-1-2/evidence-5-status.html" %}
    {% elif data["evidence-5-grade"] == "Bad" %}
    {% elif data["evidence-5-grade"] == "Remove" %}
    {% else %}
    {% endif %}

    {% include "agent-day-0-1-2/evidence-9-status.html" %}

    {% include "agent-day-0-1-2/evidence-6-status.html" %}

    {% include "agent-day-0-1-2/evidence-7-status.html" %}


    {% include "agent-day-0-1-2/evidence-8-status.html" %}

          {% if data["evidence-1-grade"] == "Good" %}
              {% include "agent-day-0-1-2/evidence-1-status.html" %}
          {% elif data["evidence-1-grade"] == "Bad" %}
          {% else %}
          {% endif %}

          {% if data["evidence-2-grade"] == "Good" %}
              {% include "agent-day-0-1-2/evidence-2-status.html" %}
          {% elif data["evidence-2-grade"] == "Bad" %}
          {% else %}
          {% endif %}

          {% if data["evidence-4-grade"] == "Good" %}
              {% include "agent-day-0-1-2/evidence-4-status.html" %}
          {% elif data["evidence-4-grade"] == "Bad" %}
          {% elif data["evidence-4-grade"] == "Remove" %}
          {% else %}
          {% endif %}


          </table>



  <!---------------- BAD AREA END ------------------>



</div>
</div>
<br>

      {{ govukButton({
        text: "Go back to supplied information",
        classes: "govuk-!-margin-bottom-8"
      }) }}

        </div>
      </div>

  </form>

{% endblock %}
