{% if data["application-about-a5-score-overwrite"] == "a1" %}
  Descriptor A: Can manage toilet needs or incontinence unaided

{% elif data["application-about-a5-score-overwrite"] == "b2" %}
  Descriptor B: Needs to use an aid or appliance to be able to manage toilet needs or incontinence

{% elif data["application-about-a5-score-overwrite"] == "c3" %}
  Descriptor C: Needs supervision or prompting to be able to manage toilet needs

{% elseif data["application-about-a5-score-overwrite"] == "d4" %}
  Descriptor D: Needs assistance to be able to manage toilet needs

{% elseif data["application-about-a5-score-overwrite"] == "e5" %}
  Descriptor E: Needs assistance to be able to manage incontinence of either bladder or bowel

{% elseif data["application-about-a5-score-overwrite"] == "f6" %}
  Descriptor F: Needs assistance to be able to manage incontinence of both bladder and bowel

{% else %}
  Blank

{% endif %}
