{% if data["application-about-a1-score-overwrite"] == "a1" %}
  Descriptor A: Can prepare and cook a simple meal unaided

{% elif data["application-about-a1-score-overwrite"] == "b2" %}
  Descriptor B: Needs to use an aid or appliance to be able to either prepare or cook a simple meal

{% elif data["application-about-a1-score-overwrite"] == "c3" %}
  Descriptor C: Cannot cook a simple meal using a conventional cooker but is able to do so using a microwave

{% elseif data["application-about-a1-score-overwrite"] == "d4" %}
  Descriptor D: Needs prompting to be able to either prepare or cook a simple meal

{% elseif data["application-about-a1-score-overwrite"] == "e5" %}
  Descriptor E: Needs supervision or assistance to either prepare or cook a simple meal

{% elseif data["application-about-a1-score-overwrite"] == "f6" %}
  Descriptor F: Cannot prepare and cook food

{% else %}
  Blank

{% endif %}
