{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-view-evidence" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-day-0-1-2/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Apply data (PIP1)</h1>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="evidence-9" target="_blank">You can also keep this document in a new tab or window</a></p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Application detials</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent govuk-table--no-bottom-border">PIP1 submitted:	</td>
                <td class="govuk-table__cell govuk-40-percent govuk-table--no-bottom-border"><b>19 March 2024</b></td>

              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Personal details</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Name of applicant:</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Jeff Bridges</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Date of assessment:</td>
                <td class="govuk-table__cell"><b>26 March 2024</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Date of birth:</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>4 December 1949 (75)</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Delegated authorities and helpers</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Type of helper</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Someone who helps me with forms</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Name helping claim:</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Name nameson</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Address</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Type of address</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Home</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Home address:</td>
                <td class="govuk-table__cell "><b>XXX
                  12 Pearl Street
                  <br>Bristol
                  <br>BS3 4AB
                  <br>United Kingdom
                </b></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Are you currently staying in health or care accommodation</td>
                <td class="govuk-table__cell govuk-40-percent"><b>N/A</b></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">When did you go into this health or care accommodation?</td>
                <td class="govuk-table__cell"><b>N/A</b></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Health or care accommodation address</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>N/A</b></td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Contact preferences</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Correspondence address</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Address for letters:</td>
                <td class="govuk-table__cell"><b>
                                      12 Pearl Street
                                  <br>Bristol
                                  <br>BS3 4AB
                                  <br>United Kingdom</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Can send SMS messages:</td>
                <td class="govuk-table__cell"><b>Yes</b></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Telephone nyumber:</td>
                <td class="govuk-table__cell"><b>07777 7777777</b></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Alternative phone number:</td>
                <td class="govuk-table__cell"><b>0777 77777778</b></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Email address</td>
                <td class="govuk-table__cell"><b>jane.doe72@outlook.com</b></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Do you need help to fill in forms and understand letters?</td>
                <td class="govuk-table__cell"><b>Yes</b></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Do you need help from someone else to communicate with us?</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Yes</b></td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Nationality</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Nationality:</td>
                <td class="govuk-table__cell govuk-40-percent"><b>British</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Did you start living in the UK before 1 January 2021?</td>
                <td class="govuk-table__cell"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Have you been in the UK for at least 2 of the last 3 years?</td>
                <td class="govuk-table__cell"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Are you or a family member receiving any pension or benefit from another European Economic Area (EEA) state or Switzerland?</td>
                <td class="govuk-table__cell"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Are you or a family member working, paying, or have paid insurance to another European Economic Area (EEA) state or Switzerland?</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Yes</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Consent and sharing information</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Can DWP contact your health and care professionals for information about you?:</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Can your health and care professionals share information to support your claim?</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Yes</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Health professional 1</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Name:</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Dr Camilla Stasiak</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Profession:</td>
                <td class="govuk-table__cell"><b>Doctor</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Telephone:</td>
                <td class="govuk-table__cell"><b>020 8291 7007</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Practice address:</td>
                <td class="govuk-table__cell "><b>XXX
                  The Vale Medical Centre
                  <br>195-197 Perry Vale
                  <br>Forest Hill
                  <br>London
                  <br>SE23 2JF
                  <br>United Kingdom
                </b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Approximate date of last appointment:</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>No date given</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Health professional 2</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Name:</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Dr Camilla Stasiak</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Profession:</td>
                <td class="govuk-table__cell"><b>Doctor</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Telephone:</td>
                <td class="govuk-table__cell"><b>020 8291 7007</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Practice address:</td>
                <td class="govuk-table__cell "><b>XXX
                  The Vale Medical Centre
                  <br>195-197 Perry Vale
                  <br>Forest Hill
                  <br>London
                  <br>SE23 2JF
                  <br>United Kingdom
                </b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Approximate date of last appointment:</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>No date given</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Personal details</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Name of applicant:</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Jeff Bridges</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Date of assessment:</td>
                <td class="govuk-table__cell"><b>26 March 2024</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Date of birth:</td>
                <td class="govuk-table__cell"><b>4 December 1949 (75)</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Assessment type:</td>
                <td class="govuk-table__cell"><b>Telephone (PA4)</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Healthcare professional:</td>
                <td class="govuk-table__cell"><b>John Goodman</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Job:</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Nurse</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <br><br><br>




{% set nextAction%}

{{ govukRadios({
  idPrefix: "evidence-9-next-action",
  name: "evidence-9-next-action",
  fieldset: {
    legend: {
      text: "What is the issue?" ,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Yes",
    text: "It needs to be looked at by a QAM",
    checked: (data["evidence-9-next-action"] == "Yes")
  },
  {
    value: "No",
    text: "It needs to be removed",
    checked: (data["evidence-9-next-action"] == "No")
  }
  ]
}) }}


{% endset -%}

<!--
{{ govukRadios({
  idPrefix: "evidence-9-grade",
  name: "evidence-9-grade",
  fieldset: {
    legend: {
      text: "Is there an issue with this document?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Remove",
    text: "Yes",
    checked: (data["evidence-9-grade"] == "Remove"),
          conditional: {
            html: nextAction
          }
      },
  {
    value: "Good",
    text: "No",
    checked: (data["evidence-9-grade"] == "Good")
  }
  ]
}) }} -->


{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}
        </div>
      </div>

  </form>

{% endblock %}
