{% extends "agent-day-0-1-2/includes/layout.html" %}

{% block pageTitle %}
  Process a PIP application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<form action="application-6-view-evidence" method="post" class="form">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "agent-day-0-1-2/record-id.html" %}


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Health assessment report</h1>
      <p class="govuk-!-font-size-19 govuk-!-margin-bottom-8"><a class="" href="evidence-6" target="_blank">You can also view this document in a new tab or window</a></p>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Assessment details</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Application submitted:</td>
                <td class="govuk-table__cell govuk-40-percent"><b>19 March 2024</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Date of assessment:</td>
                <td class="govuk-table__cell"><b>26 March 2024</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Date report completed:</td>
                <td class="govuk-table__cell"><b>26 March 2024</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Assessment type:</td>
                <td class="govuk-table__cell"><b>Telephone (PA4)</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Healthcare professional:</td>
                <td class="govuk-table__cell"><b>John Goodman</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Job:</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Nurse</b></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">History of conditions</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <!-- <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Evidence used</p> -->

          <p class="govuk-body govuk-!-margin-bottom-2">
            <strong>Primary condition: Fibromyalgia</strong>
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He was diagnosed with fibromyalgia in 2019 and has had the symptoms for about 3-4 years following a tick bite. He saw the GP at the time and was given antibiotics, but after this it got worse and worse, he revisited the GP with his symptoms several times.
          </p>
        <p>
        <p class="govuk-body govuk-!-margin-bottom-2">
          He was sent for a scan on his head which came back as fine. His GP diagnosed him with fibromyalgia. His symptoms include legs feeling like pins and needles, stinging, legs feel heavy and arms also feel heavy and stinging. His head can have sensations of pins and needles. He has pain in the arms and legs everyday. He states that he gets acid reflux and certain foods make this worse.
        </p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        He experiences tiredness easily but also doesn't sleep well due to pain. He has good and bad days with this, he feels her bad days are about 4 days out of 7 where his pain is worse. He uses pain relief for this. No other treatment such as physiotherapy or acupuncture.

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<p class="govuk-body govuk-!-margin-bottom-2">
  <strong>Secondary condition: Anxiety</strong>

      </p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        He has some anxiety that just makes him feel hot and on edge at certain times of the day and just feels he misses how he used to be.
      </p>
      <p class="govuk-body govuk-!-margin-bottom-2">
        No input from the community mental health team, no psychiatrist or mental health nurse. No history of suicidal thoughts.
      </p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-padding-top-1">Medication</p>
          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">
          <table class="govuk-table">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-30-percent">Type</th>
                <th scope="col" class="govuk-table__header govuk-70-percent">Details</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell ">Gabapentin - for nerve pain</td>
                <td class="govuk-table__cell ">

                  <ul class="govuk-list">

                    <li>
                        <b>Dose:</b> 300mg
                    </li>

                    <li>
                        <b>Frequency:</b> 3 times per day
                    </li>

                    <li>
                        <b>Efficacy:</b> Ineffective
                    </li>

                    <li>
                        <b>Side effects:</b> None
                    </li>

                    <li>
                        <b>Additional information:</b> None
                    </li>
                  </ul>

                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Mirtazapine - to aid sleep (second-line anti-depressant)</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border">

                  <ul class="govuk-list">

                    <li>
                        <b>Dose:</b> 7.5mg
                    </li>

                    <li>
                        <b>Frequency:</b> Once per night
                    </li>

                    <li>
                        <b>Efficacy:</b> Little effect
                    </li>

                    <li>
                        <b>Side effects:</b> None
                    </li>

                    <li>
                        <b>Additional information:</b> None
                    </li>
                  </ul>

                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Medical treatments</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-margin-bottom-2">
            He states that he is phoned weekly by a clinical psychologist and they talk about coping mechanisms and breathing, they are involved because of his fibromyalgia/ pain. He is under the pain management team and the clinical psychologist was recommended by her pain nurse. He is not under the care of rheumatology.
          </p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Social and occupational history</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">

        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-margin-bottom-2">
            He lives in a house, he is hoping to move to a one storey property as he struggles with the stairs. His home is 2 storey, his bathroom is downstairs and bedroom is upstairs, no upstairs toilet.

          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He lives in a house, he is hoping to move to a one storey property as he struggles with the stairs. His home is 2 storey, his bathroom is downstairs and bedroom is upstairs, no upstairs toilet.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He has got no aids or adaptations to the home. He has bought things like a massage chair for himself and he has bought himself a foot circulation machine and a massage mat.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He has had no home assessments from occupational therapy (OT) before.

          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He has got a driving licence with no restrictions. He hasn't driven for about 6 months, this is because of his arms and legs, he feels he can't control his legs enough and would be at risk of hitting the wrong pedal, his legs can go numb and he finds the steering wheel hard to hold. He hasn't been advised not to drive, but he is aware he would struggle. He feels he could probably drive on a good day.

          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He is currently employed, this job involves cleaning and he will clean in a pub, this involves wiping surfaces, mopping floors, dusting and general cleaning and tidying of the pub. He has worked there for 10-11 years. He works part-time, about 12 hours per week over 5 days. No changes to his role to make it any easier, but his boss is aware of his health conditions and he is allowed to sit and rest if needed. No long-term sickness from this role over the last year. After working he will be worn out and he has broken sleep which affects him.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He is right-handed.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            He has got a dog at home. He will feed his dog and his partner walks the dog normally. He went to mainstream school and sat his exams. He didn't do other studying afterwards.
          </p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Observations</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-margin-bottom-2">
            Answered all questions clearly and appropriately. Speech was clear, coherent and relevant. Provided information independently.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            No reports of pain for the most part. Pain was reported when he changed position.
          </p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Mental state</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-margin-bottom-2">
            Engaged well and developed a good rapport over the phone.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            No evidence of anxiety, distress or agitation. Did not appear to be flat/low in mood or withdrawn.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Did not require prompting.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Had adequate memory and concentration.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            No evidence of cognitive impairment.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Appeared to be alert and orientated.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Had good insight.
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">
            Speech was normal in amount, content, rate, tone and volume.
          </p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Other observations</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-margin-bottom-2">
            No other observations to note.
          </p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">




      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Daily living functional restriction</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Have they had the functional restriction for at least 3 months?</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table--no-bottom-border">Are they likely to have the functional restriction in 9 months?</td>
                <td class="govuk-table__cell govuk-table--no-bottom-border"><b>Yes</b></td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Mobility functional restriction</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0">

          <table class="govuk-table ">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-60-percent">Have they had the functional restriction for at least 3 months?</td>
                <td class="govuk-table__cell govuk-40-percent"><b>Yes</b></td>
              </tr>
              <tr class="govuk-table__row ">
                <td class="govuk-table__cell  govuk-table--no-bottom-border">Are they likely to have the functional restriction in 9 months?</td>
                <td class="govuk-table__cell  govuk-table--no-bottom-border"><b>Yes</b></td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Award review recommendation</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>

        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Recomended review period</p>

          <p class="govuk-body govuk-!-margin-bottom-2">
            Detial in here
          </p>
        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Daily living findings</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Making budgeting decisions</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Your care plan ('Care plan 2022' on DRS) outlines the difficlty you have with preparing food and I agree with its findings.</p>
          <p class="govuk-body govuk-!-margin-bottom-2">You have difficulty preparing meals. You can make yourself drinks and sandwiches but need to be supervised to make a meal.</p>
          <p class="govuk-body govuk-!-margin-bottom-2">You lack the drive to prepare a meal regularly and tend to break off from cooking and this has resulted in you burning food and leaving pans to boil over.</p>
          <p class="govuk-body govuk-!-margin-bottom-2">You get most of your full meals from the drop-in centre and your support worker supervises you to put ready-made meals in the oven twice a week. During periods of low mood, Jeff does not respond readily to prompting and will not make yourself meals.</p>
          <p class="govuk-body govuk-!-margin-bottom-8">This is why I have selected 1E.</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Taking nutrition</p>


          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>


          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Managing therapy or monitoring a health condition</p>


          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Washing and bathing</p>


          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Managing toilet needs or incontinence</p>


          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Dressing and undressing</p>


          <p class="govuk-body govuk-!-margin-bottom-8">Nothing from the assessment report to support this activity.</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Communicating verbally</p>


          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Reading and understanding signs,symbols and words</p>


          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Engaging with other people face to face</p>


          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Making budgeting decisions</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Jeff's ability to manage money fluctuates.</p>
          <p class="govuk-body govuk-!-margin-bottom-2">He can manage his money in shops when he attends them but finds it difficult to manage his bills and card payments.</p>
          <p class="govuk-body govuk-!-margin-bottom-8">He requires prompting and supervision from his support worker to manage bills. Without this, he gets into debt or fails to make regular payments and has been threatened with legal action in the past.</p>


        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
          <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Mobility activities</p>

          <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
            &nbsp
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Planning and following journeys</p>
          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>

          <!--------------------------------><hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Moving around</p>


          <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>
          <p class="govuk-body govuk-!-margin-bottom-8">XXX</p>



          </div>
        </div>












  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
      <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Award review recommendation</p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">
        &nbsp
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Recomended review period</p>

      <p class="govuk-body govuk-!-margin-bottom-2">
        Detial in here
      </p>
    </div>
  </div>



      <br><br><br>




{% set nextAction%}

{{ govukRadios({
  idPrefix: "evidence-6-next-action",
  name: "evidence-6-next-action",
  fieldset: {
    legend: {
      text: "What is the issue?" ,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Yes",
    text: "It needs to be looked at by a QAM",
    checked: (data["evidence-6-next-action"] == "Yes")
  },
  {
    value: "No",
    text: "It needs to be removed",
    checked: (data["evidence-6-next-action"] == "No")
  }
  ]
}) }}


{% endset -%}

<!--
{{ govukRadios({
  idPrefix: "evidence-6-grade",
  name: "evidence-6-grade",
  fieldset: {
    legend: {
      text: "Is there an issue with this document?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  classes: "govuk-radios",
  items: [
  {
    value: "Remove",
    text: "Yes",
    checked: (data["evidence-6-grade"] == "Remove"),
          conditional: {
            html: nextAction
          }
      },
  {
    value: "Good",
    text: "No",
    checked: (data["evidence-6-grade"] == "Good")
  }
  ]
}) }} -->


{{ govukButton({
  text: "Continue",
  classes: "govuk-!-margin-bottom-8"
}) }}
        </div>
      </div>

  </form>

{% endblock %}
